<div class="block">
  <%@feedbacks.each do |record|%>
    <%= render 'feedback_record', :record => record%>
  <%end unless @feedbacks.blank?%>
</div>
<div class="block">
  SUGGESTED/FEATURED EVENTS
</div>

<div class="block">
  FEED
</div>

<% content_for :sidebar do %>

  <% if !@upcoming_events.blank?%>
    <div class="block notice">
      <h4>Upcoming</h4>
      <% @upcoming_events.each do |event|  %>
        <div>
          <strong><%= link_to event.name, event %></strong><br/>
        </div>

        <div>
          <%=display_date_time(event.starts_at)%>
        </div>
        <br/>
      <%end%>
    </div>
  <%end%>

  <% if !@invitations_by_event.blank? %>
    <div class="block notice">
      <h4>Invitations</h4>
      <% @invitations_by_event.each do |event, invitation_array|  %>
        <strong><%= link_to event.name, event %></strong><br/>
        <% invitation_array.each do |invitation| %>
          <%= link_to image_tag(invitation.user.avatar_url || 'web-app-theme/avatar.png', :class => "avant", :title => invitation.user.name, :size=> "30x30"), profile_path(invitation.user) %>
        <% end %>
        <br/>
      <%end%>

    </div>
  <%end%>

<% end %>
