<% unless @feedbacks.blank? %>

  <div class="feedback">
    <% @feedbacks.each_with_index do |feedback, index| %>
      <%= render 'feedback', :feedback => feedback, :display_record => (index < 5) %>
    <% end %>
  </div>

  <script type="text/javascript">
    $('.star-click').click(function() {
      var $ID = $(this).closest('.feedback-wrapper').data('feedbackID');

      //Submit the form
      $(this).closest('.star-rating').siblings('.hidden-score').val($(this).html());
      $(this).closest('.star-rating').closest('.edit_feedback').submit();

      //Display any next record
      showNextRecord($(this));

      //Delete Record
      $(this).closest('.feedback-wrapper').remove();

      //Display the feedback Modal
      popup_modal_ajax('#empty_modal_base', 'Feedback', '/feedbacks/' + $ID + '.js', null);


      return false;
    });

    $('.did-not-attend').click(function() {
      //Submit the form
      $(this).closest('.edit_feedback').submit();

      //Display any next record
      showNextRecord($(this));

      //Delete Record
      $(this).closest('.feedback-wrapper').remove();
    });

    function showNextRecord(t){
      var u = $(t).closest('.feedback-wrapper').siblings(".hidden-record");
      if(u != null && u[0] != null){
        $(u[0]).removeClass('hidden-record')
      }
    }

  </script>
<% end %>

<div class="Post-Holder post-holder">
  <div id="action-list">
    <% @feed_items.each do |item| %>
      <% if item %>
        <% if item.reason == Feed.reasons[:subscription] %>
          <% action = item.head_action %>
          <% next if action.nil?%>
          <% if !action.searchable || !action.searchable.ignored %>
            <div class="post">
              <% if(action.action_type == Action.types[:event_created]) %>
                <%= render :partial => 'shared/records', :locals => {:record_type => RecordType.types[:event], :record => action.event } unless action.event.canceled %>
              <% elsif(action.action_type == Action.types[:search_comment]) %>
                <%= render :partial => 'shared/records', :locals => {:record_type => RecordType.types[:search_comment], :record => action} %>
              <% else %>
                <%= render :partial => 'shared/records', :locals => {:record_type => (action.action || action).action_type, :record => action }%>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <% action = item.index_action %>
          <% next if action.nil?%>
          <% head_action = action.action || action %>
          <% if !head_action.searchable || !head_action.searchable.ignored %>
            <div class="post">
              <%= render :partial => 'shared/records', :locals => {:record_type => (action.action || action).action_type, :record => action }%>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>c

<% content_for :sidebar do %>

  <%= render :partial => 'shared/upcoming_activities', :locals => {:events => @upcoming_events, :number_to_show => 3} %>

  <% unless @invited_events.blank? %>
    <div class="box box-list">
      <div class ="heading">
        <%= link_to_popup_modal "View all", "show-invitations", :class => "view"%>
        <h3>Outstanding Invitations</h3>
      </div>
      <div class="box-content post">
        <ul>
          <% limited_invited_events = @invited_events[0,3] %>
          <% invitations_remaining = @invited_events.count - 3 %>

          <% limited_invited_events.each do |event| %>
            <li>
              <div class="sidebar-attending event_attend_button_<%= event.id -%>">
                <!--Attend button-->
                <%=  render(:partial => "shared/attending_buttons", :locals => {:event => event, :rsvp => (current_user ? event.rsvps.by_user(current_user).first : nil), :hide_invite_link => true}) %>
              </div>
              <h4><%= link_to event.title, event %></h4>
              <p>
                <% event.searchable_event_types.each do |set| %>
                  <strong><%= set.try(:name) %></strong>
                <% end %>
                <em class="date">
                  <%=event.starts_at.strftime("%b #{event.starts_at.day.ordinalize} @ %l:%M %p")%>
                </em>

              </p>
            </li>
          <% end %>
        </ul>
        <% if invitations_remaining >  0 %>
          <div class="more">
            <%= link_to "And #{invitations_remaining} more", "#" %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <% unless @closest_signed_up_friends.empty? %>
    <div class="connections">
      <div class="slide">
        <div class="box people-list">
          <div class="heading">
            <h3>Facebook Friends on SocialStreet</h3>
          </div>
          <div class="box-content">
            <ul class="list-img">
              <% @closest_signed_up_friends.each do |person| %>
                <%= render 'shared/user_list_element', :user => person.to_user%>
              <% end %>
            </ul>
            <% if @closest_signed_up_friends_remaining >  0 %>
              <div class="more">
                <span><%=  "And #{@closest_signed_up_friends_remaining} more" %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <% unless @closest_connection_ex_facebook.empty? %>
    <div class="connections">
      <div class="slide">
        <div class="box people-list">
          <div class="heading">
            <h3>Other Neighbours You Know</h3>
          </div>
          <div class="box-content">
            <ul class="list-img">
              <% @closest_connection_ex_facebook.each do |person| %>
                <%= render 'shared/user_list_element', :user => person.to_user%>
              <% end %>
            </ul>
            <% if @closest_connection_ex_facebook_remaining >  0 %>
              <div class="more">
                <span><%=  "And #{@closest_connection_ex_facebook_remaining} more" %></span>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :popup_modals do -%>
  <div id="show-invitations" class="pop-up pop-up-modal" style="display:none; position: fixed;" data-iscroll-ids="modal_invitations_scroll">
    <div class="pop-up1">

      <div class="heading">
        <strong>Invitations</strong>
        <%= link_to "close", '#', :class => "btn-close" -%>
      </div>

      <div class="content" id="modal_invitations_scroll">
        <div class="pop-up1-content view-all-modal list-invitations">
          <ul>

            <% @invited_events.each do |event| %>
              <li>

                <%= link_to(image_tag(url_for_event_image(event), :size => "55x55"), event) %>

                <div class="text-holder">

                  <div class="event_attend_button_<%= event.id -%>">
                    <!--Attend button-->
                    <%=  render(:partial => "shared/attending_buttons", :locals => {:event => event, :rsvp => (current_user ? event.rsvps.by_user(current_user).first : nil), :hide_invite_link => true}) %>
                  </div>

                  <strong class="ttl">
                    <%= link_to event.title, event %>
                  </strong>

                  <span class="time">
                    <%=address_for(event.location)%>
                    <span><%= ss_time_ago_in_words event.starts_at -%> ago</span>
                    <em>@</em>
                    <strong><%=event.starts_at.strftime("%l:%M %p")%></strong>
                  </span>

                  <% event.searchable_event_types.each do |set| %>
                    <strong class="keyword"><%= set.try(:name) %></strong>
                  <% end %>
                </div>
              </li>
            <% end %>

          </ul>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :end_of_body do %>

  <%= include_javascripts :ss_pageless -%>

  <script type='text/javascript'>
    var dashboardPageless = null;

    function makeDashboardPageless(){
      dashboardPageless = new Pageless({
        loaderContainer: '#action-list',
        totalPages: <%= @num_pages -%>,
        currentPage: 1,
        url: '<%= dashboard_path %>'
      });
      dashboardPageless.start();
    }

    function getDashboardPageless(){
      return dashboardPageless;
    }

    $(function() {
      makeDashboardPageless();
    });
  </script>
<% end %>