<% unless @feedbacks.blank? %>
  <div class="block">
    <div class="content">
      <h2 class="title">Holla' Back</h2>
      <div class="inner">
        <ul class="list">
          <% @feedbacks.each do |feedback| %>
            <%= render 'feedback', :feedback => feedback %>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<div class="block">
  <div class="content">
    <h2 class="title">Suggested / Featured Events</h2>
    <div class="inner">

    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <h2 class="title">Word on the Street</h2>
    <div class="inner">
      <ul class="list" id="action-list" style="margin-top:40px">
        <% @feed_items.each do |item| %>
          <%= render 'feed_item', :feed_item => item%>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :sidebar do %>

  <% unless @upcoming_events.blank? %>
    <div class="block notice">
      <h4>Upcoming</h4>
      <% @upcoming_events.each do |event| %>
        <div>
          <strong><%= link_to event.name, event %></strong><br/>
        </div>

        <div>
          <%=display_date_time(event.starts_at)%>
        </div>
        <br/>
      <% end %>
    </div>
  <% end %>

  <% unless @invitations_by_event.blank? %>
    <div class="block notice">
      <h4>Invitations</h4>
      <% @invitations_by_event.each do |event, invitation_array|  %>
        <strong><%= link_to event.name, event %></strong><br/>
        <% invitation_array.each do |invitation| %>
          <%= render 'invitation', :invitation => invitation %>
        <% end %>
        <br/>
      <% end %>
    </div>
  <% end %>

<% end %>
