<% unless @feedbacks.blank? %>

  <div class="feedback">
    <% @feedbacks.each do |feedback| %>
      <%= render 'feedback', :feedback => feedback %>
    <% end %>
  </div>

  <script type="text/javascript">
    $('.star-click').click(function() {
      $(this).closest('.star-rating').siblings('.hidden-score').val($(this).html());
      $(this).closest('.star-rating').closest('.edit_feedback').submit();
      return false;
    });

    $('.did-not-attend').click(function() {
      $(this).closest('.edit_feedback').submit();
    });

  </script>
<% end %>

<div class="block">
  <div class="content">
    <h2 class="title">Suggested / Featured Events</h2>
    <div class="inner">

    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <h2 class="title">Word on the Street</h2>
    <div class="inner">
      <ul class="list" id="action-list" style="margin-top:40px">
        <% @feed_items.each do |item| %>
          <%= render 'feed_item', :feed_item => item%>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :sidebar do %>

  <%= render :partial => 'shared/upcoming_activities', :locals => {:events => @upcoming_events, :number_unshown => @upcoming_events_remaining} %>

  <% unless @invitations_by_event.blank? %>
    <div class="box box-list">
      <div class ="heading">
        <a href="#" class="view">View all</a>
        <h3>Outstanding Invitations</h3>
      </div>
      <div class="box-content">
        <ul>
          <% @invitations_by_event.each do |event, invitation_array| %>
            <li>
              <h4><%= link_to event.name, event %></h4>
              <p>
                <% event.searchable_event_types.each do |set| %>
                  <strong><%= set.try(:name) %></strong>
                <% end %>
                <em class="date">
                  <%=event.starts_at.strftime("%b #{event.starts_at.day.ordinalize} @ %l:%M %p")%>
                </em>
              </p>
            </li>
          <% end %>
        </ul>
        <% if @invitations_remaining >  0 %>
          <div class="more">
            <%= link_to "And #{@invitations_remaining} more", "#" %>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>



    <div class="block notice">
      <h4>Invitations</h4>
      <% @invitations_by_event.each do |event, invitation_array|  %>
        <strong><%= link_to event.name, event %></strong><br/>
        <% invitation_array.each do |invitation| %>
          <%= render 'invitation', :invitation => invitation %>
        <% end %>
        <br/>
      <% end %>
    </div>
  <% end %>
