<%= form.error_messages %>
<div id="profile" class="tab-content profile-general">
  <div class="row row-photo">
    <span>User Photo</span>
    <div class="col">
      <%= avatar @user, :size => "81x78" %>
      <strong class="link-download">
        <%= form.file_field :photo %>
      </strong>
    </div>
  </div>

  <div class="row">
    <label for="firstname">First Name</label>
    <%= form.text_field :first_name, :class => "text"  %>
  </div>

  <div class="row">
    <label class="label">Last Name</label>
    <%= form.text_field :last_name, :class => "text"  %>
  </div>

  <div class="row">
    <label class="label">Username</label>
    <%= form.text_field :username, :class => "text"  %>
  </div>

  <div class="row">
    <label class="label">Email</label>
    <%= form.text_field :email, :class => "text"  %>
  </div>

  <div class="row">
    <label class="label">Photo</label>
    <%= form.file_field :photo %>
  </div>
  <%= render 'shared/form_submit_button' %>

  <!--  <div class ="right">
  <% content_for :head do %>
    <%= include_stylesheets :authentications %>
  <% end %>

  <% if @authentications %>
    <% unless @authentications.empty? %>
                                                                  <p><strong>You can sign in to this account using:</strong></p>
                                                                  <div class="authentications">
      <% for authentication in @authentications %>
                                                                                                  <div class="authentication">
        <%= image_tag "authicons/#{authentication.provider}_32.png", :size => "32x32" %>
                                                                                                    <div class="provider"><%= authentication.provider.titleize %></div>
                                                                                                    <div class="uid"><%= authentication.uid %></div>
        <%= link_to "X", authentication, :confirm => 'Are you sure you want to remove this authentication option?', :method => :delete, :class => "remove" %>
                                                                                                  </div>
      <% end %>
                                                                    <div class="clear"></div>
                                                                  </div>
    <% end %>
                                    <p><strong>Add another service to sign in with:</strong></p>
  <% else %>
                                    <p><strong>Sign in through one of these services:</strong></p>
  <% end %>

      <a href="/auth/twitter" class="auth_provider">
  <%= image_tag "authicons/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
        Twitter
      </a>
      <a href="/auth/facebook" class="auth_provider">
  <%= image_tag "authicons/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
        Facebook
      </a>
      <a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "authicons/google_64.png", :size => "64x64", :alt => "Google" %>
        Google
      </a>
      <a href="/auth/open_id" class="auth_provider">
  <%= image_tag "authicons/openid_64.png", :size => "64x64", :alt => "OpenID" %>
        OpenID
      </a>
    </div>-->
  <div class ="clear"></div>
</div>
<div id="subscriptions" style="display:none" class="tab-content profile-general">
  <table class="table">
    <tr>
      <th></th>
      <th colspan="4"><center>Notification Frequency</center></th>
    </tr>
    <tr>
      <th>Name</th>
      <th>Instant</th>
      <th>Daily</th>
      <th>Weekly</th>
      <th>None</th>
    </tr>

    <tr>
      <td>Comments</td>
      <td><%=form.radio_button :comment_notification_frequency, SearchSubscription.frequencies[:immediate]%></td>
      <td><%=form.radio_button :comment_notification_frequency, SearchSubscription.frequencies[:daily]%></td>
      <td><%=form.radio_button :comment_notification_frequency, SearchSubscription.frequencies[:weekly]%></td>
      <td><%=form.radio_button :comment_notification_frequency, SearchSubscription.frequencies[:none]%></td>
    </tr>


    <% if @subscriptions && !@subscriptions.empty?%>
      <% form.fields_for :search_subscriptions do |builder| %>
        <tr>
          <td><%=link_to builder.object.name, explore_path(builder.object.url_params)%></td>
          <td><%=builder.radio_button :frequency, SearchSubscription.frequencies[:immediate]%></td>
          <td><%=builder.radio_button :frequency, SearchSubscription.frequencies[:daily]%></td>
          <td><%=builder.radio_button :frequency, SearchSubscription.frequencies[:weekly]%></td>
          <td><%=builder.radio_button :frequency, SearchSubscription.frequencies[:none]%></td>
          <td><%= link_to "delete", builder.object, :method => :delete, :confirm => 'Are you sure?'%></td>
        </tr>
      <%end%>
    <%end%>
  </table>
</div>
<div id="events" style="display:none" class="tab-content profile-general">
  <%if @events_where_administrator && !@events_where_administrator.empty?%>
    <table class="table">
      <%@events_where_administrator.each do |event|%>
        <tr>
          <td><%= link_to event.title, event%></td>
          <td><%= link_to "Edit StreetMeet", [:edit, event], :class => "button" %></td>
        </tr>
      <%end%>
    </table>
  <%else%>
    <H4>You are not currently administrator of any StreetMeets</H4>
  <%end%>
</div>


<% content_for :end_of_body do %>
  <script type='text/javascript'>
    $(function() {
      $('#main ul.wat-cf > li > a').click(function(e){
        $('.tab-content').hide();
        $('.secondary-navigation li').removeClass('active');
        $(this).closest('li').addClass('active');
        $($(this).data('tab')).show();
        return false;
      });
    });
  </script>
<% end %>
