<div id="profile_settings" class="tab-content">
  <h3>Profile Settings</h3>

  <div class="left">
    <%= link_to image_tag(@user.try(:avatar_url) || 'web-app-theme/avatar.png', :class => "avant"), '#' %>
    <br>
    Edit Image <!--TODO implement edit-->
  </div>

  <div class="right">
    <div class="group">
      <label class="label">First Name</label>
      <%= form.text_field :first_name, :class => "text_field"  %>
    </div>
    <div class="group">
      <label class="label">Last Name</label>
      <%= form.text_field :last_name, :class => "text_field"  %>
    </div>
    <div class="group">
      <label class="label">Username</label>
      <%= form.text_field :username, :class => "text_field"  %>
    </div>
    <div class="group">
      <label class="label">Email</label>
      <%= form.text_field :email, :class => "text_field"  %>
    </div>

    <%= render 'shared/form_submit_button' %>
  </div>
  <div class ="clear"></div>
</div>