<% content_for :left_side_pane do %>
  <%= form_for @user, :url => profile_path, :remote => true do |form| %>
    <div id="edit_user_name_holder">
      <%= avatar(current_user, :size => "60x60", :class=> "drop-shadow", :style=>"float:left; margin:0 20px")%>
      <%= form.text_field :name, :class => "text-shadow submit-on-change", :id => "edit_user_name_field", :style=>"float:left;vertical-align:bottom;" %>
    </div>
    <div id="edit_user_email_holder">
      <div class="text-shadow" id="edit_user_email_label">Email:</div>
      <%= form.text_field :email, :class => "text-shadow submit-on-change", :id => "edit_user_email_field" %>
    </div>
    <div id="edit_user_gender_holder">
      <div class="text-shadow" id="edit_user_gender_label">Gender:</div>
      <%= form.radio_button :gender, "male", :class=>"submit-on-change", :id=>"gender_male"%>
      <label for="gender_male" class="text-shadow">Male</label>
      <%= form.radio_button :gender, "female", :class=>"submit-on-change", :id=>"gender_female"%>
      <label for="gender_female" class="text-shadow">Female</label>
    </div>
    <div id="edit_user_location_holder">
      <div class="text-shadow" id="edit_user_location_label">Location:</div>
      <%= form.text_field :location, :class => "text-shadow submit-on-change", :id => "edit_user_location_field" %>
    </div>
  <% end %>

  <div id="edit_membership_title" class="text-shadow">
    Memberships:
    <span style="padding: 8px 20px 0 0;float:right;color:#FFC233;font: bold 14px/14px Arial, Helvetica, sans-serif;">+Add</span>
  </div>
<% end %>