<%- content_for :main_top do -%>
  <div class="secondary-navigation col1">
    <ul class="wat-cf tabset">
      <li class="first active"><a href="#profile-general" data-tab="#profile-general" class="Settings-tabs">Profile</a></li>
      <li><a href="#subscription" data-tab="#subscription" class="Settings-tabs">Notification</a></li>
      <li><a href="#events" data-tab="#events" class="Settings-tabs">My StreetMeets</a></li>
    </ul>
  </div>
<%- end -%>

<%- content_for :sidebar do -%>
  <div class="box profile">
    <%= avatar @user, :size => "100x95" %>
    <div class="text-content">
      <h3><%= @user.name %>

        <% if @user.location %>
          <span class="city"><%=@user.location%></span>
        <% end %>
      </h3>
    </div>

  </div>
<% end %>

<%= form_for @user, :url => profile_path, :remote => true, :html => {:class => "form", :multipart => true} do |form| %>

  <div id="profile-general" class="profile-general tab-content">
    <div class="row row-photo">
      <span>User Photo</span>
      <div class="col">
        <%= avatar @user, :size => "81x78" %>
        <strong class="link-download">
          <%= link_to "Edit", '#', :id => "edit_link" %>
        </strong>
        <div id="user_photo" style="display:none;">
          <%= form.file_field :photo, :class => "submit-on-change", :onChange => "$('.form').submit();" %>
        </div>
      </div>
    </div>
    <div class="row">
      <label for="nickname1">Name</label>
      <%= form.text_field :name, :class => "text submit-on-change", :id => "nickname1" %>
    </div>
    <div class="row">
      <label for="email1">Email</label>
      <%= form.text_field :email, :class => "text submit-on-change", :id => "email1" %>
    </div>
    <div class="row">
      <label for="location1">Location</label>
      <%= form.text_field :location, :class => "text submit-on-change", :id => "location1" %>
    </div>

    <div class="row">
      <span>Sex</span>
      <div class="col">
        <div class="row">
          <%= form.radio_button :gender, "male", :class=>"radio submit-on-change", :id=>"male1" %>
          <label for="male1">Male</label>
        </div>
        <div class="row">
          <%= form.radio_button :gender, "female", :class=>"radio submit-on-change", :id=>"female1" %>
          <label for="female1">Female</label>
        </div>
      </div>
    </div>
  </div>

  <div id="subscription" class="subscription tab-content" style="display:none">

    <div class="row">
      <strong class="heading">Comments</strong>
      <div class="content">
        <span>
          <%=form.radio_button :comment_notification_frequency, SearchSubscription.frequencies[:immediate], :class => "radio submit-on-change", :id => "instant"%>
          <label for="instant">Instant</label>
        </span>
        <span>
          <%=form.radio_button :comment_notification_frequency, SearchSubscription.frequencies[:daily], :class => "radio submit-on-change", :id => "daily"%>
          <label for="daily">Daily</label>
        </span>
        <span>
          <%=form.radio_button :comment_notification_frequency, SearchSubscription.frequencies[:weekly], :class => "radio submit-on-change", :id => "weekly"%>
          <label for="weekly">Weekly</label>
        </span>
        <span>
          <%=form.radio_button :comment_notification_frequency, SearchSubscription.frequencies[:none], :class => "radio submit-on-change", :id => "none"%>
          <label for="none">None</label>
        </span>
      </div>
    </div>

    <% if @subscriptions && !@subscriptions.empty? %>
      <% form.fields_for :search_subscriptions do |builder| %>
        <div class="row">
          <strong class="heading">
            <%= link_to builder.object.name, explore_path(builder.object.url_params) %>
          </strong>
          <div class="content">
            <span>
              <%=builder.radio_button :frequency, SearchSubscription.frequencies[:immediate], :class => "radio submit-on-change", :id => "instant"%>
              <label for="instant">Instant</label>
            </span>
            <span>
              <%=builder.radio_button :frequency, SearchSubscription.frequencies[:daily], :class => "radio submit-on-change", :id => "daily"%>
              <label for="daily">Daily</label>
            </span>
            <span>
              <%=builder.radio_button :frequency, SearchSubscription.frequencies[:weekly], :class => "radio submit-on-change", :id => "weekly"%>
              <label for="weekly">Weekly</label>
            </span>
            <span>
              <%=builder.radio_button :frequency, SearchSubscription.frequencies[:none], :class => "radio submit-on-change", :id => "none"%>
              <label for="none">None</label>
            </span>
          </div>
          <% link_to builder.object, :method => :delete, :confirm => 'Are you sure?' do%>
            <strong class="status">delete</strong>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<div id="events" class="events-holder events tab-content" style="display:none">
  <% if @events_where_administrator && @events_where_administrator.empty? %>
    <h4>You are not currently administrator of any StreetMeets</h4>

  <% else %>
    <table>
      <tbody>

        <% @events_where_administrator.each do |event| %>
          <tr>
            <th>
              <strong><%=  event.title %></strong>
              <%= link_to_popup_modal_ajax  'Edit', 'Edit StreetMeet', 'empty_modal_base', edit_event_path(event), nil, nil%>
    <%#= link_to_ "edit", [:edit, event]%>
            </th>
            <td>
              <span>Start Day:</span>
              <strong><%= event.starts_at.strftime("%B %d") %></strong>
            </td>
            <td>
              <span>Start Time:</span>
              <strong><%= event.starts_at.strftime("%l:%M %p") %></strong>
            </td>
            <% if event.end_date && event.end_date != event.start_date %>
              <td>
                <span>End Day:</span>
                <strong><%= event.finishes_at.strftime("%B %d") %></strong>
              </td>
            <% end %>
            <% if event.finishes_at %>
              <td>
                <span>End Time:</span>
                <strong><%=  event.finishes_at.strftime("%l:%M %p") %></strong>
              </td>
            </tr>
          <% end %>
        <% end %>

      </tbody>
    </table>
  <% end %>
</div>

<% content_for :end_of_body do %>
  <script type='text/javascript'>
    $(function() {
      $('.Settings-tabs').click(function(e){
        $('.tab-content').hide();
        $('.secondary-navigation li').removeClass('active');
        $(this).closest('li').addClass('active');
        $($(this).data('tab')).show();
        return false;
      });


      $('.submit-on-change').change(function(){
        console.log('submitted');
        $('.form').submit();
      });

      $('#edit_link').click(function() {
        $('.link-download').html($('#user_photo').html());
      });

    });

  </script>
<% end %>

