<%#*<div class="block">%>
<%#*<div class="content">%>
<%#*<h2 class="title">Add Comment</h2>%>
<%#*<div class="inner">%>
<%#= form_for [@user, @comment], :html => { :class => "form" } do |form| %>
<%#= form.text_area :body, :cols => "80", :rows => "2" %>
<%#= render 'shared/form_submit_button'  %>
<%# end %>
<%#*</div>%>
<%#*</div>%>
<%#*</div>%>

<div class="profile">
  <%= avatar @user, :size => "99x94" %>
  <div class="text">
    <div class="text-content">
      <h2>
        <%= @user.name %> <br />
<%#- TODO get address and city from facebook where you allow that information in the permissions.  -%>
        <span class="​​city">Toronto, ON</span>
      </h2>
      <%- if @user.fb_uid? -%>
        <span class="link">Facebook: <%= link_to "URL Link", "http://www.facebook.com/profile.php?id=#{@user.fb_uid}", "data-popup" => true -%></span>
      <%- end -%>
    </div>
    <% if current_user && current_user.can_friend?(@user) %>
      <%= link_to 'Add to Facebook', '#', :class => "btn-add add-to-fb-button", "data-fb-uid" => @user.fb_uid %>
    <% end %>
  </div>
</div>


<div class="post-message">
  <%= form_for [@user, @comment], :url => profile_comments_path(@user), :remote => true, :html => {"data-type" => "html", :class => "form-post-message Post-Message form comment-form" } do |form| %>
    <fieldset>
      <div class="text">
        <%= form.text_field :body, :title => "Post a Message" -%>
      </div>
      <div class="info">
      </div>
    </fieldset>
  <%- end -%>
  <%= render 'shared/commenting' %>
</div>

<div id="comment-box" class="post-holder Post-Holder" >
  <div id="action-list">
    <% @actions.each do |action| %>
      <%= render 'shared/action', :action => action %>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="box box-list">
    <div class="heading">
      <a href="#" class="view">view in calendar</a>
      <h3>Upcoming Activities</h3>
    </div>
    <div class="box-content">
      <ul>
        <% @upcoming_events.each do |event|  %>
          <li>
            <h4><%= link_to event.name, event %></h4>
            <p>
              <strong><%= event.searchable_event_types.first.name -%></strong>
              <em class="date"><%= event.starts_at.strftime("%b #{event.starts_at.day.ordinalize} %Y") -%></em>
            </p>
          </li>
        <%  end %>
      </ul>
      <% if @upcoming_events_remaining >  0 %>
        <div class="more">
          <%= link_to "And #{@upcoming_events_remaining} more", "#" %>
        </div>
      <% end %>
    </div>

  </div>

  <% if !(@common_people.empty? && @connected_rsvps.empty? && @connected_actions.empty?) %>
    <div class="connections">
      <div class="ttl">
        <!--<a href="#" class="close">close</a>-->
        <h3>Common Connections</h3>
      </div>

      <div class="slide">

        <% unless @common_people.empty? %>
          <div class="box people-list">
            <div class="heading">
              <h3>People you both know:</h3>
            </div>
            <div class="box-content">
              <ul class="list-img">
                <% @common_people.each do |person| %>
                  <%= render 'shared/user_list_element', :user => person.to_user, :exclude_link => true%>
                <% end %>
              </ul>
              <% if @common_people_remaining >  0 %>
                <div class="more">
                  <span><%=  "And #{@common_people_remaining} more" %></span>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% unless @connected_rsvps.empty? %>
          <div class="box box-list">
            <div class="heading">
              <h3>You both attended:</h3>
            </div>
            <div class="box-content">
              <ul>
                <% @connected_rsvps.each do |rsvp| %>
                  <li>
                    <h4><%= link_to rsvp.event.name, rsvp.event %></h4>
                    <p><strong><%= rsvp.event.searchable_event_types.first.name unless rsvp.event.searchable_event_types.empty? -%></strong><em class="date"><%= rsvp.event.starts_at.strftime("%b #{rsvp.event.starts_at.day.ordinalize} %Y") -%></em></p>
                  </li>
                <% end %>
              </ul>
              <% if @connected_rsvps_remaining >  0 %>
                <div class="more">
                  <span><%=  "And #{@connected_rsvps_remaining} more" %></span>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>

        <% unless @connected_actions.empty?%>
          <div class="box box-list">
            <div class="heading">
              <h3>You both commented on:</h3>
            </div>
            <div class="box-content">
              <ul class="comments-list">
                <% @connected_actions.each do |action| %>
                  <% action = action.action || action %>
                  <% common_comments = action.comments_belonging_to_users([current_user, @user]) %>
                  <% if action.of_type?(:event_comment) %>
                    <li>
                      <h4><%= link_to action.event.name, action.event %></h4>
                      <ul>
                        <% common_comments.each do |comment| %>
                          <li>
                            <em class ="date"><%=comment.created_at.strftime("%d/%m/%y")%></em>
                            <%=  truncate(comment.body, :length => 30) %>
                            <%=  link_to(comment.user.try(:name), profile_path(comment.user), :class => "author")%>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                <% elsif action.of_type?(:search_comment) %>
                    <li>
                      <h4>A <%= link_to "Search Filter", '#' %></h4>
                      <ul>
                        <% common_comments.each do |comment| %>
                          <li>
                            <em class ="date"><%=comment.created_at.strftime("%d/%m/%y")%></em>
                            <%=  truncate(comment.body, :length => 30) %>
                            <%=  link_to(comment.user.try(:name), profile_path(comment.user), :class => "author")%>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                <% elsif action.of_type?(:profile_comment) %>
                    <li>
                      <h4><%= link_to action.to_user.try(:name) + "'s", profile_path(action.to_user) %> profile</h4>
                      <ul>
                        <% common_comments.each do |comment| %>
                          <li>
                            <em class ="date"><%=comment.created_at.strftime("%d/%m/%y")%></em>
                            <%=  truncate(comment.body, :length => 30) %>
                            <%=  link_to(comment.user.try(:name), profile_path(comment.user), :class => "author")%>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                <% else %>
                  <%#Currently don't handle RSVP comments...but don't think layout will allow in the end%>
                <% end %>
              <% end %>
              </ul>
              <% if @connected_actions_remaining >  0 %>
                <div class="more">
                  <span><%=  "And #{@connected_actions_remaining} more" %></span>
                </div>
              <% end %>
            </div>
          </div>
        <%end%>
      </div>
    </div>
  <% end %>
<% end %>

<% content_for :end_of_body do %>
  <script>
      
    $(function() {
      $('.add-to-fb-button').click(function(e) {
        e.stopPropagation();
        var $btn = $(this);
        var friendId = $btn.data('fb-uid');
        FB.ui(
        {
          method: 'friends',
          name: 'Name goes here',
          id: friendId
        },
        function(response) {
          if (response && response.action == 1) {
            alert('Friend request was sent');
            $btn.remove();
          } else {
            alert('Friend request was not sent.');
          }
        }
      );
        return false;
      });


      $.each($('.comment-body'), function(index, ele){
        if($(ele).html().length > 200) {
          var html = $(ele).html();
          // take the first 200 characters and truncate them then create a show more div.
          var firstTwoHundred = html.substring(0, 200) + "...";
          var totalComment = html;

          $(ele).html(firstTwoHundred);
          $(ele).siblings('.comment-body-extra').first().html(totalComment);
          $(ele).siblings('.more').children('.comment-body-more').first().show();
        }
      });

      $('.comment-body-more').live('click', function(){
        $(this).closest('.more').first().siblings('.comment-body').html($(this).closest('.more').siblings('.comment-body').siblings('.comment-body-extra').first().html());
        $(this).hide();
        return false;
      });
    });
  </script>
<% end %>

