<%#*<div class="block">%>
  <%#*<div class="content">%>
    <%#*<h2 class="title">Add Comment</h2>%>
    <%#*<div class="inner">%>
      <%#= form_for [@user, @comment], :html => { :class => "form" } do |form| %>
        <%#= form.text_area :body, :cols => "80", :rows => "2" %>
        <%#= render 'shared/form_submit_button'  %>
      <%# end %>
    <%#*</div>%>
  <%#*</div>%>
<%#*</div>%>

<div class="block">
  <div class="content">
    <h2 class="title">Latest Activity</h2>
    <div class="inner">
      <ul class="list">
        <% @actions.each do |action| %>
          <%= render 'shared/action', :action => action %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="block notice">
    <%= avatar @user %>
    <br/>
    <b><%= @user.name %></b>
    <br/>
    <% if current_user && current_user.can_friend?(@user) %>
      <%= link_to 'Add as Facebook Friend', '#' %>
    <% end %>

  </div>

  <div class="block notice">
    <H4>Upcoming Events</H4>
    <% @events.each do |event|  %>
      <div>
        <strong><%= link_to event.name, event %></strong><br/>
      </div>

      <div>
        <%=display_date_time(event.starts_at)%>
      </div>

      <br/>
    <%end%>
  </div>


<% end %>

