<%#*<div class="block">%>
<%#*<div class="content">%>
<%#*<h2 class="title">Add Comment</h2>%>
<%#*<div class="inner">%>
<%#= form_for [@user, @comment], :html => { :class => "form" } do |form| %>
<%#= form.text_area :body, :cols => "80", :rows => "2" %>
<%#= render 'shared/form_submit_button'  %>
<%# end %>
<%#*</div>%>
<%#*</div>%>
<%#*</div>%>

<div class="block">
  <div class="content">
    <h2 class="title">Common Friends</h2>
    <div class="inner">
      <ul class="list">
        <% @common_connections.each do |connection| %>
          <%= render 'shared/user_list_element', :user => connection.to_user%>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <h2 class="title">Common Events</h2>
    <div class="inner">
      <ul class="list">
        <% @connected_rsvps.each do |rsvp| %>
          <strong><%= link_to rsvp.event.name, rsvp.event %></strong><br/>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <h2 class="title">Common Actions</h2>
    <div class="inner">
      <ul class="list">
        <% @connected_actions.each do |action| %>
          #TODO
        <% end %>
      </ul>
    </div>
  </div>
</div>


<div class="block">
  <div class="content">
    <h2 class="title">Add Comment</h2>
    <div class="inner">
      <%= form_for [@user, @comment], :url => profile_comments_path(@user), :html => { :class => "form" } do |form| %>
        <%= form.text_area :body, :cols => "80", :rows => "2" %>
        <%= render 'shared/form_submit_button'  %>
      <% end %>
    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <h2 class="title">Latest Activity</h2>
    <div class="inner">
      <ul class="list">
        <% @actions.each do |action| %>
          <%= render 'shared/action', :action => action %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <div class="block notice">
    <%= avatar @user %>
    <br/>
    <b><%= @user.name %></b>
    <br/>
    <% if current_user && current_user.can_friend?(@user) %>
      <%= link_to 'Add to Facebook', '#', :class => "add-to-fb-button", "data-fb-uid" => @user.fb_uid %>
    <% end %>
  </div>

  <div class="block notice">
    <H4>Upcoming Events</H4>
    <% @events.each do |event|  %>
      <div>
        <strong><%= link_to event.name, event %></strong><br/>
      </div>

      <div>
        <%=display_date_time(event.starts_at)%>
      </div>

      <br/>
    <%end%>
  </div>


<% end %>

<% content_for :end_of_body do %>
  <script>
    $('.create-comment-link').live('click',function() {
      var $this = $(this);
      $this.closest('.action').find('.action-comment-container').slideToggle('fast').find('textarea').focus();
      return false;
    });
      
    $(function() {
      $('.add-to-fb-button').click(function(e) {
        e.stopPropagation();
        var $btn = $(this);
        var friendId = $btn.data('fb-uid');
        console.log(friendId);
        FB.ui(
        {
          method: 'friends',
          name: 'Name goes here',
          id: friendId
        },
        function(response) {
          console.log(response);
          if (response && response.action == 1) {
            alert('Friend request was sent');
            $btn.remove();
          } else {
            alert('Friend request was not sent.');
          }
        }
      );
        return false;
      });
    });
  </script>
<% end %>

