<%#*<div class="block">%>
<%#*<div class="content">%>
<%#*<h2 class="title">Add Comment</h2>%>
<%#*<div class="inner">%>
<%#= form_for [@user, @comment], :html => { :class => "form" } do |form| %>
<%#= form.text_area :body, :cols => "80", :rows => "2" %>
<%#= render 'shared/form_submit_button'  %>
<%# end %>
<%#*</div>%>
<%#*</div>%>
<%#*</div>%>

<div class="profile">
  <%= avatar @user, :size => "100x95" %>
  <div class="text">
    <div class="text-content">
      <h2>
        <%= @user.name %> <br />
<%#- TODO get address and city from facebook where you allow that information in the permissions.  -%>
        <span class="​​city">Toronto, ON</span>
      </h2>
      <%- if @user.fb_uid? -%>
        <span class="link">Facebook: <%= link_to "URL Link", "http://www.facebook.com/profile.php?id=#{@user.fb_uid}", "data-popup" => true -%></span>
      <%- end -%>
    </div>
    <% if current_user && current_user.can_friend?(@user) %>
      <%= link_to 'Add to Facebook', '#', :class => "btn-add add-to-fb-button", "data-fb-uid" => @user.fb_uid %>
    <% end %>
  </div>
</div>


<div class="post-message">
  <%= form_for [@user, @comment], :url => profile_comments_path(@user), :remote => true, :html => {"data-type" => "html", :class => "form-post-message Post-Message form comment-form" } do |form| %>
    <fieldset>
      <div class="text">
        <%= form.text_field :body, :title => "Post a Message" -%>
      </div>
      <div class="info">
        <p>Your message will be posted to <span>X (address)</span> with the keywords <span>Y (keyword)</span>.</p>
        <p>Others in this community will be able to see and reply to your post.</p>
      </div>
    </fieldset>
  <%- end -%>
  <%= render 'shared/commenting' %>
</div>

<div id="comment-box" class="post-holder Post-Holder" >
  <div id="action-list">
    <% @actions.each do |action| %>
      <%= render 'shared/action', :action => action %>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %>

  <%- unless @events.empty? && @common_connections.empty? && @connected_rsvps.empty? -%>
    <div class="connections">
      <%- unless @events.empty? -%>
        <div class="box box-list">
          <div class="heading">
            <a href="#" class="view">view in calendar</a>
            <h3>Upcoming Activities</h3>
          </div>
          <div class="box-content">
            <ul>
              <% @events.each do |event|  %>
                <li>
                  <h4><%= link_to event.name, event %></h4>
                  <p>
                    <strong><%= event.searchable_event_types.first.name -%></strong>
                    <em class="date"><%= event.starts_at.strftime("%b #{event.starts_at.day.ordinalize} %Y") -%></em>
                  </p>
                </li>
              <%  end %>
            </ul>
          </div>
        </div>
      <%- end -%>

      <%- unless @common_connections.empty? -%>
        <div class="ttl">
          <a href="#" class="close">close</a>
          <h3>Common Connections</h3>
        </div>

        <div class="slide">
          <div class="box people-list">
            <div class="heading">
              <h3>People you both know:</h3>
            </div>
            <div class="box-content">
              <ul class="list-img">
                <% @common_connections.each do |connection| %>
                  <%= render 'shared/user_list_element', :user => connection.to_user%>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <%- end -%>

      <%- unless @connected_rsvps.empty? -%>
        <div class="box box-list">
          <div class="heading">
            <h3>You both attended:</h3>
          </div>
          <div class="box-content">
            <ul>
              <% @connected_rsvps.each do |rsvp| %>
                <li>
                  <h4><%= link_to rsvp.event.name, rsvp.event %></h4>
                  <p><strong><%= rsvp.event.searchable_event_types.first.name -%></strong><em class="date"><%= rsvp.event.starts_at.strftime("%b #{rsvp.event.starts_at.day.ordinalize} %Y") -%></em></p>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      <%- end -%>
    </div>
  <%- end -%>
<% end %>

<% content_for :end_of_body do %>
  <script>
      
    $(function() {
      $('.add-to-fb-button').click(function(e) {
        e.stopPropagation();
        var $btn = $(this);
        var friendId = $btn.data('fb-uid');
        FB.ui(
        {
          method: 'friends',
          name: 'Name goes here',
          id: friendId
        },
        function(response) {
          if (response && response.action == 1) {
            alert('Friend request was sent');
            $btn.remove();
          } else {
            alert('Friend request was not sent.');
          }
        }
      );
        return false;
      });
      
    });
  </script>
<% end %>

