<% content_for :head do %>
  <%= stylesheet_link_tag 'authentications' %>
<% end %>

<p><strong>Sign in through one of these services:</strong></p>

<a href="/auth/twitter" class="auth_provider">
  <%= image_tag "authicons/twitter_64.png", :size => "64x64", :alt => "Twitter" %>
  Twitter
</a>
<a href="/auth/facebook" class="auth_provider">
  <%= image_tag "authicons/facebook_64.png", :size => "64x64", :alt => "Facebook" %>
  Facebook
</a>
<a href="/auth/google_apps" class="auth_provider">
  <%= image_tag "authicons/google_64.png", :size => "64x64", :alt => "Google" %>
  Google
</a>
<a href="/auth/open_id" class="auth_provider">
  <%= image_tag "authicons/openid_64.png", :size => "64x64", :alt => "OpenID" %>
  OpenID
</a>

<div class="clear"> </div>

<p><strong>Or log in using the form below:</strong></p>

<div class="block" id="block-login">
  <h2>Login Box</h2>
  <div class="content login">
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form login"}) do |form| %>
      <%= render form %>
    <% end %>
  </div>
</div>
