<ul class="chat-user-list user-holder">
  <div style="clear:both;"></div>
</ul>

<div class="chat-room container">
  <div class="chat-header">
    <%= image_tag 'ss_chat_ico.png', :style=>"float:left;width:30px;height:30px;margin:-10px 0;" %>
    <div class="chat-title"><%= truncate(@chat_room.name, :length => 25) %></div>
    <div class="chat-nav">
      <%= link_to "X", '#', :class => "chat-close" %>
    </div>
    <div style="clear:both"></div>
  </div>

  <ul class="chat-content">
    <% @chat_room.messages.limit(50).order('created_at DESC').reverse.each do |message| %>
      <%= render :partial => 'messages/message', :locals => {:message => message} %>
    <% end %>
  </ul>
  <%= form_for [@chat_room, Message.new], :remote => true do |f| %>
    <%= f.text_field :content, :class=>'chat-text-field' %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
</div>

