<%= form_for @search_subscription, :remote => true, :url => search_subscriptions_url(:q => params.except(:controller, :action, :utf8, :authenticity_token)), :html => {:class => "modal-submit-form form"} do |form| %>
  <fieldset>
    <div class="text-info">
      <p>You will be notified whenever new StreetMeets or messages match this search criteria</p>
    </div>
    <div class="row">
      <label for="name">Search Name</label>
      <%= form.text_field :name, :title=>"Search Name", :class => "text" %>
    </div>
    <div class="row row-notify">
      <span>Notify me</span>
      <div class="row">
        <div class="col">
          <%=form.radio_button :frequency, SearchSubscription.frequencies[:immediate], :id=>"instant", :class=>"radio"%>
          <label for="instant">Instant</label>
        </div>
        <div class="col">
          <%=form.radio_button :frequency, SearchSubscription.frequencies[:daily], :id=>"daily", :class=>"radio"%>
          <label for="daily">Daily</label>
        </div>
        <div class="col">
          <%=form.radio_button :frequency, SearchSubscription.frequencies[:weekly], :id=>"weekly", :class=>"radio"%>
          <label for="weekly">Weekly</label>
        </div>
        <div class="col">
          <%=form.radio_button :frequency, SearchSubscription.frequencies[:none], :id=>"none", :class=>"radio"%>
          <label for="none">none</label>
        </div>
      </div>
    </div>
  </fieldset>
<% end %>