<div data-role="page" data-theme="a" class="wallpaper_page" id="home_page">
  <div data-role="header" data-position="inline" data-theme="a">
    <h1><%=link_to "SocialStreet", '/m'%></h1>
    <%= (link_to "Sign Out", destroy_user_session_path, {'data-role' => 'button', 'data-theme' => 'f', 'class' => 'ui-btn-right'}) if user_signed_in?%>
  </div>

  <%= javascript_include_tag 'mobile/home' %>

  <div data-role ="content">
    <div data-role="fieldcontain">
      <div style="text-align: center;"><%= image_tag("ss_site_logo_big.png") %></div>
    </div>

    <% if user_signed_in? %>
      <div data-role="fieldcontain" style="padding:0;">
        <%= link_to 'Explore!', m_explore_path, {"data-role" => "button", "data-theme" => "b", "data-icon" => "search", "id" => "explore_btn", "data-ajax" => false} %>
        <%= link_to '+StreetMeet', new_m_event_path, {"data-role" => "button", "data-theme" => "e", "data-icon" => "plus", "id" => "new_event_btn", "data-ajax" => false} %>


      <% else %>

        <%= link_to 'Sign In', '/auth/facebook?redirect_uri=blah', {"data-role" => "button", "data-theme" => "g", "data-icon" => "check", "id" => "sign-in", "rel" => 'external'} %>

      <% end %>
    </div>
  </div>
</div>