<% action_type_text = "#{@new_action.user.name} post a new StreetMeet" if @new_action.action_type == Action.types[:event_created] %>
<% action_type_text = "#{@new_action.user.name} posted a new SocialStreet Message" if @new_action.action_type == Action.types[:action_comment] %>

<div style="margin-bottom:15px;font-size:12px">
  Hi <%=@user.first_name%>,
</div>
<div style="margin-bottom:15px">
  <%=action_type_text%> in reply to a message you posted 
  <% if @head_action.action_type == Action.types[:profile_comment] %>
    on <%= link_to "#{@head_action.to_user.name}'s profile", profile_url(@head_action.to_user), :style=>"color:#0981BE;text-decoration:none;font-weight:bold"%>
  <% elsif @head_action.action_type == Action.types[:search_comment] %>
    to <%= link_to searchable.title_for_searchable, explore_url(searchable.url_params), :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %>
  <% elsif @head_action.action_type == Action.types[:event_comment] %>
    on the StreetMeet - <%= link_to @head_action.event.title, event_url(@head_action.event), :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %>
  <% else %>
    <%= link_to 'SocialStreet', root_url, :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %>
  <% end %>
</div>
<div style="margin-bottom:15px">
  <div style="border-bottom:1px solid #ccc;line-height:5px;">
    &nbsp;
  </div>
  <table style="cellspacing:0;cellpadding:0;border-collapse:collapse;margin-top:5px;">
    <tbody>
      <tr style="vertical-align:top">
        <td>
          <table>
            <tbody>
              <%= render(:partial => 'user_mailer/message_helper', :locals => {:action => @head_action}) %>
              <% (@head_action.actions.oldest_first || []).each do |sub_action| %>
                <%= render(:partial => 'user_mailer/message_helper', :locals => {:action => sub_action}) %>
              <% end %>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="border-bottom:1px solid #ccc;line-height:5px">
    &nbsp;
  </div>
  <div>
    <small>You can unsubscribe from these emails at any time by editing your notification settings at <%= link_to 'SocialStreet', root_url, :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %>.</small>
  </div>
  <div style="border-bottom:1px solid #ccc;line-height:5px">
    &nbsp;
  </div>

</div>

