<h1>Daily Digest</h1>

<p>
  Subscription Name: <%= @subscription.name %><br/>
  What: <%= @subscription.searchable.searchable_event_types.collect(&:name).join(", ") %><br/>
  When: <%= @subscription.searchable.searchable_date_ranges.collect(&:to_s).join(", ") %><br/>
  Where: [[TODO: include static google map image (using static map API) or something like that]]
</p>

<ul>
  <% @actions.each do |action| %>
    <li>
      ActionID: <%= action.id %><br/>
      ActionType: <%= action.action_type %><br/>
      User: <%= action.user.name %> (<%= action.user.id %>)<br/>
      StreetMeet: <%= action.event.try(:title) %><br/>
      ReferenceID: <%= action.reference_id %> (<%= action.reference_type %>)<br/>
      Occurred At: <%= action.occurred_at %>
    </li>
  <% end %>
</ul>