<h1>New StreetMeet</h1>
<p>
  <%= @event.user.name %> planned a StreetMeet in your community of interest:
</p>
<p>
  Name: <%= link_to @event.title, event_url(@event) %><br/>
  Location: <%= @event.location.geocodable_address || "Unknown" %><br/>
  Start Date: <%= @event.starts_at.to_s(:date_with_time) %><br/>
  ...
</p>
<p>
  <%= link_to 'Click here', event_url(@event) %> to view this StreetMeet, just follow this link.
</p>