<div style="margin-bottom:15px;font-size:12px">
  Hi <%@user.first_name%>,
</div>
<div style="margin-bottom:15px">
  <p>We would like to welcome you to <%= link_to 'SocialStreet', root_url, :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %>!</p>
  <p>Our mission is to make it easy to discover friends (new or old) that enjoy the same things as you.</p>
    By attending and organizing "StreetMeets", you are sure to discover that you are surrounded by people just like you!
    Whether that means you are looking for a group to play basketball, a friend to watch the season finale of dancing with the stars or a buddy to check out the newest bar, you can find it all on SocialStreet!</p>
</div>
<div style="margin-bottom:15px">
  <div style="border-bottom:1px solid #ccc;line-height:5px;">
    &nbsp;
  </div>
  <table style="cellspacing:0;cellpadding:0;border-collapse:collapse;margin-top:5px;">
    <tbody>
      <tr style="vertical-align:top">
        <td>
          <ul>
            <li><%= link_to 'Discover', explore_url, :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %> StreetMeets or Messages that match your interests in your neighbourhood... or just <%= link_to 'Browse', explore_url, :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %></li>
            <li>Why not <%= link_to 'add your own StreetMeet', explore_url(:create_event=>1), :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %> and invite your friends!</li>
            <li>You can also <%= link_to 'leave a Message', explore_url, :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %> for your neighbours that will help spark interest,</li>
            <li>Or, select <%= link_to 'Follow this Search', explore_url, :style=>"color:#0981BE;text-decoration:none;font-weight:bold" %> on the explore page to be notified when something matches your interest is created!</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="border-bottom:1px solid #ccc;line-height:5px">
    &nbsp;
  </div>
</div>
