<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <!--[if lt IE 8]><link href="http://socialstreet.com/stylesheets/smow_ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
  </head>

  <body style="margin: 0pt; padding: 0pt; color: rgb(255, 252, 213);">
    <table style="width: 100%; background-color: rgb(211, 211, 211); font: 13px/1.5em Arial,Helvetica,sans-serif; color: rgb(255, 252, 213);">
      <tbody><tr>
          <td style="width: 25%;">&nbsp;</td>
          <td>
            <div class="top-site-link" style="padding: 10px 0px 25px 100px; color: #333; font-weight: 700;">Can't see the pictures? Click <a href="http://socialstreet.com/events/streetmeet_of_the_week">here</a> to view in a web browser.</div>
            <table class="table-bg" style="width: 552px; border-spacing: 0pt; border-bottom: 1px solid rgb(0, 0, 0); background-image: url('http://socialstreet.com/images/email_bg_v_large.png'); background-color: white; background-repeat: no-repeat;" cellpadding="0" cellspacing="0">
              <tbody><tr style="background-color: rgb(74, 74, 74);">
                  <td style="width: 40px;">&nbsp;</td>
                  <td style="width: 100px; padding-top: 10px; padding-bottom: 10px;">
                    <a href="http://socialstreet.com/" style="text-decoration: none; color: white;">
                      <img src="http://socialstreet.com/images/ss_site_logo.png" alt="SocialStreet" style="border-style: none;" />
                    </a>
                  </td>
                  <td style="width: 400px; vertical-align: middle;">
                    <span class="header-text" style="font-size: 20px; font-weight: 800; color: #FFC233; text-shadow: 2px 2px #333; position: relative;">
                      StreetMeet
                    </span>
                    <span class="header-text" style="font-size: 20px; font-weight: 800; text-shadow: 2px 2px #333; position: relative; color: white;">
                      of the Week
                    </span>
                    <span style="float: right;">
                      <%= link_to new_event_event_rsvp_url(event), :style => "text-decoration: none; color: white;" do %>
                        <%= image_tag "http://socialstreet.com/images/im_in.png", :alt => "attend", :style => "border-style: none;" %>
                      <% end %>
                      <%= link_to new_event_event_rsvp_url(event, :status => "maybe_attending"), :style => "text-decoration: none; color: white;" do %>
                        <%= image_tag "http://socialstreet.com/images/maybe.png", :alt => "attend", :style => "border-style: none;" %>
                      <% end %>
                    </span>
                  </td>
                  <td style="width: 40px;">&nbsp;</td>
                </tr>
                <tr style="height: 5px; background-color: rgb(198, 220, 230);">
                  <td class="blue-td" colspan="4" style="border-right: 1px solid rgb(0, 0, 0); border-left: 1px solid rgb(0, 0, 0);">&nbsp;</td>
                </tr>
                <tr>
                  <td class="side-td" rowspan="7"></td>
                  <td colspan="2" style="padding-top: 20px;">
                    <%= image_tag "http://socialstreet.com/images/#{smow.top_image_url}", :style => "width: 100%", :alt => "" %>
                  </td>
                </tr>
                <tr style="background-color: rgb(74, 74, 74);">
                  <td style="padding: 20px;">
                    <%= image_tag "http://socialstreet.com/images/#{smow.icon_path}", :alt => smow.title, :style => "height: 60px; width: 60px;" %>
                  </td>
                  <td>
                    <br />
                    <span style="font-size: 24px; font-weight: 900; color: #FFC233; text-shadow: 2px 2px #333; position: relative; top: -5px;">
                      FREE
                    </span>
                    <span style="font-size: 24px; font-weight: 900; text-shadow: 2px 2px #333; position: relative; top: -5px; color: white;">
                      <%= smow.title %>
                    </span>
                    <br />
                    <span style="font-size: 20px; font-weight: 900; text-shadow: 2px 2px #333; position: relative; top: -5px;">

                    </span>
                  </td>
                </tr>
                <tr style="background-color: rgb(74, 74, 74); color: white; vertical-align: top;">
                  <td colspan="2" style="padding: 0px 20px 20px;">
                    <span style="font-size: 1.5em; color: #FFC233; text-shadow: 2px 2px #000; font-weight: bold; margin-top: 0.83em; margin-bottom: 0.83em; display: block;">What?</span>
                    <p>
                      <%= smow.what_text %>
                    </p>
                    <p>
                      If you can't make it be sure to stay posted for next week's StreetMeet of the Week where it's always guaranteed to be a great time... on us.
                    </p>
                  </td>
                </tr>
                <tr style="background-color: rgb(74, 74, 74); color: white; vertical-align: top;">
                  <td colspan="2" style="padding: 0px 20px 20px;">
                    <span style="font-size: 1.5em; color: #FFC233; text-shadow: 2px 2px #000; font-weight: bold; margin-top: 0.83em; margin-bottom: 0.83em; display: block;">When?</span>
                    <%= smow.when_text %>
                  </td>
                </tr>
                <tr style="background-color: rgb(74, 74, 74); color: white; vertical-align: top;">
                  <td colspan="2" style="padding: 0px 20px 20px;">
                    <span style="font-size: 1.5em; color: #FFC233; text-shadow: 2px 2px #000; font-weight: bold; margin-top: 0.83em; margin-bottom: 0.83em; display: block;">What is SocialStreet?</span>
                    SocialStreet makes it easy to discover things to do with
                    friends that enjoy the same things as you.  You can now easily connect
                    with people around you by attending and organizing StreetMeets.  Life is
                    more fun with people so get off your seat and hit the street!
                  </td>
                </tr>
                <tr style="background-color: rgb(74, 74, 74); color: white; vertical-align: top;">
                  <td colspan="2" style="padding: 0px 20px 20px">
                    <% if smow.bottom_text %>
                      <h2 style="color: #FFC233; text-shadow: 2px 2px #000;"><%= smow.bottom_text %></h2>
                    <% end %>
                    <%= image_tag "http://socialstreet.com/images/#{smow.bottom_image_url}", :alt => smow.title, :style => "width: 100%", :alt => "" %>

                  </td>
                </tr>
                <tr style="background-color: rgb(74, 74, 74); color: white; vertical-align: top;">
                  <td colspan="2" style="padding: 0px 20px 20px 175px;">
                    <%= link_to new_event_event_rsvp_url(event), :style => "text-decoration: none; color: white;" do %>
                      <%= image_tag "http://socialstreet.com/images/im_in.png", :alt => "attend", :style => "border-style: none;" %>
                    <% end %>
                    <%= link_to new_event_event_rsvp_url(event, :status => "maybe_attending"), :style => "text-decoration: none; color: white;" do %>
                      <%= image_tag "http://socialstreet.com/images/maybe.png", :alt => "attend", :style => "border-style: none;" %>
                    <% end %>
                  </td>
                </tr>
                <tr>
                  <td rowspan="7"></td>
                  <td colspan="2" style="padding-top: 20px;">
                    &nbsp;
                  </td>
                </tr>
              </tbody></table>
            <div class="bottom-site-link" style="padding: 10px 0px 25px 225px; color: #333; font-size: 9px;">
              <p>
                <a href="http://www.socialstreet.com/">www.socialstreet.com</a>
              </p>
            </div>
          </td>
          <td style="width: 25%;">&nbsp;</td>
        </tr>
      </tbody></table>
  </body></html>
