<% content_for :center_pane do %>  
  <table class="ss-table">
    <thead>
      <tr>
        <th></th>
        <th>Image</th>
        <th>Event Date</th>
        <th>Title</th>
        <th>Emails Valid</th>
        <th>Emails Sent</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @smows.each do |smow| %>
        <tr class="<%= cycle("even", "odd") %> <%= "current-smow" if smow.event && smow.event.promoted? %> ">
          <td><%= link_to "View", [smow.event, smow] if smow.event %></td>
          <td><%= image_tag "http://socialstreet.com/images/#{smow.icon_path}", :alt => smow.title, :style => "height: 25px; width: 25px;" %></td>
          <td><%= smow.event.start_date.strftime("%A %B %d, %Y %I:%M %p") if smow.event %></td>
          <td><%= smow.title %></td>
          <td><%= smow.emails_valid %></td>
          <td><%= smow.emails_sent %></td>
          <td><%= link_to "Edit", edit_event_smow_path(smow.event, smow) if smow.event%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= javascript_include_tag "site_specific/list_smows" %>
