<li class="show-attendee rounded-corners-four user-group-item <%= user_group.applied ? 'applied-user-group-item' : "container"%>" data-li-user-group="<%= user_group.id %>">  
  <span><%= user_group.to_s %></span>
  <%= hidden_field_tag 'user_group_form_path', group_user_group_path(user_group.group, user_group), :class=>'user-group-form-path-field' %>
  <%= hidden_field_tag 'user_group_name', user_group.get_name, :class=>'user-group-name-field' %>
  <%= hidden_field_tag 'user_group_email', user_group.get_email, :class=>'user-group-email-field' %>
  <%= hidden_field_tag 'user_group_code', user_group.join_code, :class=>'user-group-code-field' %>
  <%= hidden_field_tag 'user_group_administrator', current_user == user_group.user ? nil : user_group.administrator, :class=>'user-group-administrator-field' %>
  <%= hidden_field_tag 'user_group_applied', user_group.applied, :class=>'user-group-applied-field' %>
</li>