<li class="show-attendee container rounded-corners-four user-group-item" data-li-user-group="<%= user_group.id %>">  
  <span><%= user_group.to_s %></span>
  <%= hidden_field_tag 'user_group_form_path', group_user_group_path(user_group.group, user_group), :class=>'user-group-form-path-field' %>
  <%= hidden_field_tag 'user_group_name', user_group.get_name, :class=>'user-group-name-field' %>
  <%= hidden_field_tag 'user_group_email', user_group.get_email, :class=>'user-group-email-field' %>
  <%= hidden_field_tag 'user_group_code', user_group.join_code, :class=>'user-group-code-field' %>
  <%= hidden_field_tag 'user_group_administrator', user_group.administrator, :class=>'user-group-administrator-field' %>
</li>