<% content_for :left_side_pane do  %>
  <div class="content-left-holder">
    <div class="clh-content">
      <h3><%= @group.name %></h3>
    </div>
  </div>
<% end %>

<% content_for :center_pane do %>
  <div class="expand-height group-settings-content">
    <% unless @group.user_groups.applied.size.zero? %>
      <h3>Pending Applications</h3>
      <%= render 'user_group_list', :user_groups => @group.user_groups.applied %>
    <% end %>

    <%= form_tag search_user_groups_group_path(@group), :remote => true, :id => "user_groups_search_form" do %>
      <%= text_field_tag "keyword", params[:keyword], :class=>'drop-shadow ie-placeholder search-text-field', :placeholder => "Enter a name or email address (press enter)" %>
    <% end %>
    <div class="scroll-pane expand-height">
      <%= render 'user_group_list', :user_groups => @group.user_groups.not_applied %>
      <div style="clear: both">&nbsp;</div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "site_specific/edit_event" %>
