<% content_for :left_side_pane do  %>
  <div class="content-left-holder">
    <div class="clh-content text-shadow">
      <%= form_for @group, :url => group_path, :remote => true, :html => {:id => 'group_form'} do |form| %>

        <div class="rounded-corners-fifteen drop-shadow event-type-<%=sprite_class_name_for_group(@group)%>-medium-sprite" style="float:left;margin-bottom: 10px;"></div>

        <%=form.text_area :name, :id=>"edit_group_name", :class=>"text-shadow edit-inline submit-on-change", :placeholder => "Enter Group Name...", 'data-on-change-form-id' => 'group_form'%>
        <div style="clear:both"></div>

        <%= form.text_area :description, :id=>"edit_group_description", :class=>"text-shadow edit-inline submit-on-change", :placeholder => "Enter Description...", 'data-on-change-form-id' => 'group_form'%>
        <div style="clear:both"></div>

        <div style="margin:10px 0;font-size:2px;background-color:#4F4F4D">&nbsp;</div>

        <%= form.label :contact_name, "Contact Name:" %>
        <%= form.text_area :contact_name, :id=>"edit_group_contact_name", :class=>"text-shadow edit-inline submit-on-change", :placeholder => "Enter Contact Name...", 'data-on-change-form-id' => 'group_form'%>
        <div style="clear:both"></div>

        <%= form.label :contact_email, "Contact Email:" %>
        <%= form.text_area :contact_email, :id=>"edit_group_contact_email", :class=>"text-shadow edit-inline submit-on-change", :placeholder => "Enter Contact Email...", 'data-on-change-form-id' => 'group_form'%>
        <div style="clear:both"></div>

        <%= form.label :contact_address, "Contact Address:" %>
        <%= form.text_area :contact_address, :id=>"edit_group_contact_address", :class=>"text-shadow edit-inline submit-on-change", :placeholder => "Enter Address...", 'data-on-change-form-id' => 'group_form'%>
        <div style="clear:both"></div>

        <%= form.label :contact_phone, "Contact Phone:" %>
        <%= form.text_field :contact_phone, :id=>"edit_group_contact_phone", :class=>"text-shadow edit-inline submit-on-change", :placeholder => "Enter Phone Number...", 'data-on-change-form-id' => 'group_form'%>
        <div style="clear:both"></div>

        <div style="margin:10px 0;font-size:2px;background-color:#4F4F4D">&nbsp;</div>

        <div id="group_public_switch">
          This group is
          <span id="group_permission" style="position:relative;cursor:pointer;">
            <span style="color:#FFC233"><%= @group.is_public? ? 'Public' : 'Private'%></span>
            <ul class="drop-shadow">
              <li id="group_public_li" class="<%='selected' if @group.is_public? %>">Public</li>
              <li id="group_private_li" class="<%='selected' unless @group.is_public? %>">Private</li>
            </ul>
          </span>
        </div>
        <div id="join_code_description_holder" style="margin-top:4px;" class="<%='hidden' if @group.is_public? %>">
          <%= form.label :join_code_description, "Membership Validated By:"%>
          <%= form.text_field :join_code_description, :id => "edit_group_join_code", :class=>"text-shadow edit-inline submit-on-change", :placeholder => "Code Name...", 'data-on-change-form-id' => 'group_form'%>
        </div>
        <div style="clear:both"></div>
      <% end %>

      <div class="hr">&nbsp;</div>

      <div id="add_new_group_member" style="font: bold 16px/16px Arial, Helvetica, sans-serif; color: #FFC233;text-align:center;cursor:pointer;">
        Add New Group Member....
        <%= hidden_field_tag 'new_member_form_action', "/groups/#{@group.id}/user_groups" %>
      </div>
    </div>

    <div id="user_group_details" class="clh-content hidden">
      <div id="group_details_application_text" class="text-shadow" style="font: bold 20px/20px Arial, Helvetica, sans-serif; color: white;float:left;">Member Details</div>
      <div id="group_member_application_text" class="text-shadow hidden" style="font: bold 20px/20px Arial, Helvetica, sans-serif; color: white;float:left;">Membership Application</div>
      <div style="clear:both"></div>
      <div id="new_user_group_holder">
        <div class="hr">&nbsp;</div>
        <%= form_for [@group, @group.user_groups.new], :remote => true do |form| %>
          <%= render "user_groups/form", :form => form %>
          <%= image_tag 'add_member_btn.png', :alt => "Add Member", :style=>'float:right;', :class => "form-btn" %>
        <% end %>
        <div style="clear:both"></div>
        <div class="hr">&nbsp;</div>
      </div>
      <div id="user_group_holder" class="hidden">
        <div class="hr">&nbsp;</div>
        <%= form_for [@group, @group.user_groups.last], :remote => true do |form| %>
          <%= render "user_groups/form", :form => form, :on_edit => true %>

          <%= link_to '', :method=>'delete', :remote=> true, :confirm => 'Are you sure you want to Delete this Membership?', :id=>"destroy_user_group_link" do %>
            <%= image_tag "delete_member_btn.png", :alt => "Delete Member", :style=>'float:right;'%>
          <% end %>

          <%= image_tag 'add_member_btn.png', :alt => "Add Member", :style=>'float:right;', :class => "form-btn hidden" %>

        <% end %>
        <div style="clear:both"></div>
        <div class="hr">&nbsp;</div>
      </div>
    </div>
  </div>

<% end %>

<% content_for :center_pane do %>
  <div class="expand-height group-settings-content">
    <%= form_tag search_user_groups_group_path(@group), :remote => true, :id => "user_groups_search_form" do %>
      <div style="width: 100%; margin: 0 auto; text-align: center;">
        <%= text_field_tag "keyword", params[:keyword], :class=>'drop-shadow ie-placeholder search-text-field', :placeholder => "Enter a name or email address (press enter)" %>
      </div>
    <% end %>
    <div class="scroll-pane expand-height">
      <%= render 'user_group_list', :user_groups => @group.user_groups.order("applied DESC") %>
      <div style="clear: both">&nbsp;</div>
    </div>
  </div>
<% end %>

<%= javascript_include_tag "site_specific/edit_group" %>
