
<div class="group wat-cf">
  <div class="left">
    <%= f.label :first_name, :class => "label" %>
  </div>
  <div class="right">
    <%= f.text_field :first_name, :class => "text_field" %>
    <span class="description">Ex: test@example.com</span>
  </div>
</div>
<div class="group wat-cf">
  <div class="left">
    <%= f.label :last_name, :class => "label" %>
  </div>
  <div class="right">
    <%= f.text_field :last_name, :class => "text_field" %>
    <span class="description">Ex: test@example.com</span>
  </div>
</div>

<div class="group wat-cf">
  <div class="left">
    <%= f.label :email, :class => "label" %>
  </div>
  <div class="right">
    <%= f.text_field :email, :class => "text_field" %>
    <span class="description">Ex: test@example.com</span>
  </div>
</div>
<% if @user.password_required? %>
  <div class="group wat-cf">
    <div class="left">
      <%= f.label :password, :class => "label" %>
    </div>
    <div class="right">
      <%= f.password_field :password, :class => "text_field" %>
      <span class="description">Must contains the word 'yeah'</span>
    </div>
  </div>

  <div class="group wat-cf">
    <div class="left">
      <%= f.label :password_confirmation, :class => "label" %>
    </div>
    <div class="right">
      <%= f.password_field :password_confirmation, :class => "text_field" %>
      <span class="description">Must contains the word 'yeah'</span>
    </div>
  </div>
<% end %>