
<div class="block" id="block-signup">
  <h2>Sign up</h2>
  <div class="content">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:class => "form"}) do |form| %>
      <%= devise_error_messages! %>

      <%= render form %>

      <%= render 'shared/form_submit_button' %>
      <%= render :partial => "devise/shared/links" %>

    <% end %>
  </div>
</div>