<li class="action" style="margin-top:5px">
  <% if action.of_type? :event_created  %>
    <% if action.action %>
      <%# It's a nested action (1 level deep) and therefore should show more details about the event %>
      <%= render 'explore/event.html', :event => action.event %>
    <% else %>
      <%= render 'shared/general_action.html',
        :action => action,
        :url_for_image => url_for_avatar(action.user),
        :link_for_image => profile_path(action.user),
        :title => "#{action.user.try(:name) || "The owner"} created the event"
    %>
    <% end %>
  <% elsif action.of_type? :event_rsvp_attending %>
    <%= render 'shared/general_action.html',
      :action => action,
      :url_for_image => url_for_avatar(action.user),
      :link_for_image => profile_path(action.user),
      :title => "#{action.user.try(:name) || "The owner"} is attending the event"
  %>
  <% elsif action.of_type?(:event_comment) %>
    <%= render 'shared/general_action.html',
      :action => action,
      :url_for_image => url_for_avatar(action.user),
      :link_for_image => profile_path(action.user),
      :title => "#{action.user.try(:name) || "The owner"} made a comment.",
      :body => action.reference.body
  %>
  <% elsif action.of_type?(:action_comment) %>
    <%= render 'shared/general_action.html',
      :action => action,
      :url_for_image => url_for_avatar(action.user),
      :link_for_image => profile_path(action.user),
      :title => "#{action.user.try(:name) || "The owner"} made a comment.",
      :body => action.reference.body
  %>
  <% elsif action.of_type?(:search_comment) %>
    <%= render 'shared/general_action.html',
      :action => action,
      :url_for_image => url_for_avatar(action.user),
      :link_for_image => profile_path(action.user),
      :title => "#{action.user.try(:name) || "The owner"} made a comment on this search filter.",
      :body => action.reference.body
  %>
  <% elsif action.of_type?(:profile_comment) %>
    <%= render 'shared/general_action.html',
      :action => action,
      :url_for_image => url_for_avatar(action.user),
      :link_for_image => profile_path(action.user),
      :title => "#{action.user.try(:name) || "The owner"} made a comment to #{action.to_user.name}.",
      :body => action.reference.body
  %>
  <% end %>
</li>