<% show_image = (defined? image_size)%>
<% image_size ||= "33x33" if show_image %>

<% truncate_at ||= 90 %>

<% total_body = (h("#{action.reference.body.strip}")) unless action.reference.body.blank? %>

<% is_truncated = total_body.length > truncate_at %>

<%= (avatar action.user, :size => image_size) if show_image%>
<div class="remove-post-div" style="display:none">
  <span style="position:absolute;right:-2px;">
    <%= link_to image_tag("btn-close3.png"), action.reference, :remote=>true, :method => :delete, :confirm => 'Are you sure you want to delete this Message?', :class => "remove_comment_button" if action.user == current_user%>
  </span>
</div>
<div class="text">
  <% if is_truncated %>
    <p class="truncated-comment-body">
      <%= link_to(action.user.name, profile_path(action.user), :class => "author") if show_image%>
      <% if defined?(include_quotes) && include_quotes %>
        <%= truncate("\"#{total_body}\"", :length => truncate_at) %>
      <% else %>
        <%= truncate(total_body, :length => truncate_at) %>
      <% end %>
    </p>

    <span class="more" style="display:inline;float:right">
      <%= link_to "Show more", '#', :class => 'show-total-comment'-%>
    </span>
  <% end %>

  <p class="total-comment-body" <%= "style=display:none" if is_truncated %>>
    <%= link_to(action.user.name, profile_path(action.user), :class => "author") if show_image%>
    <% if defined?(include_quotes) && include_quotes %>
      <%= "\"#{total_body}\""%>
    <% else %>
      <%= total_body%>
    <% end %>
  </p>

  <span class="time" style="float:left">
    <%= ss_time_ago_in_words action.occurred_at %>
  </span>
</div>