<% body ||= nil %>
<%# For now, only allow children (commenting, creating events, etc) for top-level activities - KV %>
<% allow_children = !activity.activity %>
<div class="left">
  <%= link_to image_tag(url_for_image, :class => "avatar"), '#' %>
</div>
<div class="item">
  <div style="float:left; width: 400px">
    <strong><%= title %></strong>
    <p>
      <%= simple_format body %>
    </p>
    <em><%= time_ago_in_words activity.occurred_at %> ago</em>
  </div>
  <% if false %>
    <div style="float:left; width: 140px; height:100%;">
      <% if allow_children %>
        <%= link_to "[+]", '#', :class => "create-comment-link" %>
      <% end %>
    </div>
  <% end %>
  <div class="clear"></div>
  <% if allow_children %>
  <%# TODO: Should paginate these perhaps ?  %>
    <% activity.activities.oldest_first.all.each do |activity|  %>
      <%= render 'shared/activity', :activity => activity %>
    <% end  %>
    <div class="activity-comment-container" style="margin-top:10px;margin-left:80px;">
      <%= form_for [activity, Comment.new], :html => {:class => "form"} do |form| %>
        <%= form.text_area :body, :cols => "50", :rows => "2", :class=>"text_area", :style=>"width:55%;float:left" %>

        <button class="button" type="submit" style="float: left;display:inline-block; margin-left: 10px; margin-top: 4px;">
          <img src="/images/web-app-theme/icons/tick.png" alt="Save" /> Comment
        </button>
        <%= link_to 'New Event', new_event_path(:activity_id => activity.id), :class => "button", :style => "float:left;margin-left:5px;margin-top:5px" %>
        <div class="clear"></div>

      <% end  %>
    </div>
  <% end %>
</div>