<% body ||= nil %>
<%# For now, only allow children (commenting, creating events, etc) for top-level actions - KV %>
<% allow_children = !action.try(:action) %>
<% link_for_image ||= '#' %>

<%= link_to image_tag(url_for_image, :class => "avatar"), link_for_image %>

<div class="text">
  <h3><%= raw title %></h3>
  <%= simple_format(h("\"#{body.strip}\""), :class => "comment-body") unless body.blank? %>
  <span class="more">
    <%= link_to "Show more", '#', :class => 'comment-body-more', :style => "display:none;" -%>
  </span>
  <div class="comment-body-extra" style="display:none"></div>
  <span class="time"><%= time_ago_in_words action.occurred_at %> ago</span>
<%# if allow_children %>
<%#= link_to image_tag("comment.png", :size => "20x20"), '#', :class => "create-comment-link", :title=>"Add a comment" %>
<%# end %>
</div>


<% if allow_children %>
  <div class="post-holder">
  <%# TODO: Should paginate these perhaps ?  %>

    <% action.actions.oldest_first.all.each do |a|  %>
      <%= render 'shared/action', :action => a %>
    <% end %>

    <%- if allow_children -%>
      <div class="post action-comment-container">
        <%= form_for [action, Comment.new], :remote => true, :html => {"data-type" => "html", :class => "form action-subcomment-form form-comment"} do |form| %>
          <fieldset>
            <%= link_to 'New Event', new_event_path(:action_id => action.id), :class => "submit" %>
            <%= form.text_area :body, :cols => "1", :rows => "1", :class => "textarea" %>
          </fieldset>
        <% end %>
      </div>
    <%- end -%>
  </div>
<% end %>


