<% if record_type == RecordType.types[:event] %>

  <% event = record %>

  <%= render "shared/general_record",
    :left_image => link_to(image_tag(url_for_event_image(event), :size => "55x55"), event),
    :title => link_to(event.name, event),
    :event_record => event %>

<% elsif record_type == RecordType.types[:search_comment] %>
  <% searchable = record.searchable %>

  <% keywords = searchable.keywords %>
  <% title = 'A message was posted to ' + (keywords.empty? ? 'a search' : link_to(searchable.keywords.join(', '), "#")) %>
  <%# title = link_to(searchable.keywords.join(','), "#") %>
  <% unless searchable.location.text.blank?  %>
    <% title = title + ' near ' + link_to(searchable.location.text, '#') %>
  <% end %>

  <%= render "shared/general_record",
    :left_image => image_tag("img15.png", :size => "55x55"),
    :title => raw(title),
    :head_action => record,
    :index_action => record
    %>

<% elsif record_type == "threaded_event" %>

  <% event = record %>

  <!--Event Image-->
  <%= link_to(image_tag(url_for_event_image(event), :size => "33x33"), event) %>

  <div class="text">
    <!--Attend button-->
    <%= render(:partial => "shared/attending_buttons", :locals => {:event => event, :rsvp => (current_user ? event.rsvps.by_user(current_user).first : nil), :hide_invite_link => true}) %>

    <!--Record Title-->
    <h3><%= link_to truncate(event.name, :length => 33), event %></h3>

    <!--Event Info-->
    <span class="time">
      <%=address_for(event.location)%>
      <span>Yesterday-TODO</span>
      @
      <em><%=event.starts_at.strftime("%l:%M %p")%></em>
    </span>
  </div>

<% elsif record_type == RecordType.types[:created_event] || record_type == Action.types[:event_created] %>

  <% event = record.event %>

  <%= render "shared/general_record",
    :left_image => avatar(event.user, :size => "55x55"),
    :title => (link_to(event.user.name, profile_path(event.user)) + " created " + link_to(event.name, event)),
    :event_record => event,
    :is_event_embedded => true %>

<% elsif record_type == RecordType.types[:attending_event] || record_type == Action.types[:event_rsvp_attending] %>

  <% event = record.event %>

  <%= render "shared/general_record",
    :left_image => avatar(record.user, :size => "55x55"),
    :title => (link_to(record.user.name, profile_path(record.user)) + " is attending " + link_to(event.name, event)),
    :event_record => event,
    :is_event_embedded => true %>

<% elsif record_type == RecordType.types[:plain_thread] %> 

  <%= render "shared/general_record",
    :left_image => avatar(record.user, :size => "55x55"),
    :title => link_to(record.user.name, profile_path(record.user)) + ' wrote:',
    :head_action => record %>

<% elsif record_type == RecordType.types[:event_comment_posted] || (record_type == Action.types[:event_comment] && nil == record.action) %>

  <% head_action = record.action || record %>
  <% event = head_action.event %>

  <%= render "shared/general_record",
    :left_image => avatar(record.user, :size => "55x55"),
    :title => (link_to(record.user.name, profile_path(record.user)) + " posted a message to " + link_to(event.name, event)),
    :event_record => event,
    :is_event_embedded => true,
    :head_action => head_action %>

<% elsif record_type == RecordType.types[:event_comment_replied] || (record_type == Action.types[:event_comment] && nil != record.action) %>

  <% head_action = record.action || record %>
  <% event = head_action.event %>

  <%= render "shared/general_record",
    :left_image => avatar(record.user, :size => "55x55"),
    :title => (link_to(record.user.name, profile_path(record.user)) + " replied to a message to " + link_to(event.name, event)),
    :event_record => event,
    :is_event_embedded => true,
    :head_action => head_action,
    :index_action => record %>

<% elsif record_type == RecordType.types[:profile_comment_posted] || (record_type == Action.types[:profile_comment] && nil == record.action) %>

  <% head_action = record.action || record %>

  <% if head_action.to_user == current_user  %>
    <% title = link_to(record.user.name, profile_path(record.user)) + " posted a message on " + link_to(" your profile", profile_path(head_action.to_user)) %>
  <% else %>
    <% title = link_to(record.user.name, profile_path(record.user)) + " posted a message on " + link_to(head_action.to_user.name + "'s", profile_path(head_action.to_user)) %>
  <% end %>

  <%= render "shared/general_record",
    :left_image => avatar(record.user, :size => "55x55"),
    :title => title,
    :head_action => head_action %>

<% elsif record_type == RecordType.types[:profile_comment_replied] || (record_type == Action.types[:profile_comment] && nil != record.action) %>

  <% head_action = record.action || record %>

  <% if head_action.to_user == current_user  %>
    <% title = link_to(record.user.name, profile_path(record.user)) + " replied to a message on " + link_to(" your profile", profile_path(head_action.to_user)) %>
  <% else %>
    <% title = link_to(record.user.name, profile_path(record.user)) + " replied to a message on " + link_to(head_action.to_user.name + "'s", profile_path(head_action.to_user)) %>
  <% end %>

  <%= render "shared/general_record",
    :left_image => avatar(record.user, :size => "55x55"),
    :title => title,
    :head_action => head_action,
    :index_action => record %>


<% elsif record_type == RecordType.types[:search_comment_posted] || (record_type == Action.types[:search_comment] && nil == record.action) %>
  <%=record.inspect%>
<% elsif record_type == RecordType.types[:search_comment_replied] || (record_type == Action.types[:search_comment] && nil != record.action)%>
  <%=record.inspect%>
<% end %>