<% if display_index <= 0%>
  <% display_index = 1 %>
<% elsif display_index >= action.actions.length - 1 %>
  <% display_index = action.actions.length - 2 %>
<% end %>

<div class="post-holder">
  <div class="post-list">
    <% if display_index > 1 %>
      <span class="row-miss">...</span>
    <% end %>

    <% action.actions.oldest_first.each_with_index do |sub_action, index| %>
      <div class="post" <%= "style=display:none" if (display_index - index).abs > 1 %> >

        <% if sub_action.action_type == Action.types[:event_created] %>
          <%= render "shared/records", :record_type => "threaded_event", :record => sub_action.event%>

        <% else %>
          <%= render "shared/comment", :action => sub_action, :truncate_at => 160, :image_size => "33x33" %>

        <% end %>

      </div>
    <% end %>

    <% if action.actions.length - display_index > 2 %>
      <span class="row-miss">...</span>
    <% end %>
  </div>

  <div class="post">
    <%= form_for [action, Comment.new], :remote => true, :html => {"data-type" => "script", :class => "form action-subcomment-form form-comment comment-form"} do |form| %>
      <fieldset>
        <%= link_to_popup_modal_ajax  '', 'Add a new Activity', 'empty_modal_base', new_event_path(:action_id => action.id), nil, nil, :class => "submit"  %>
        <%= form.text_area :body, :cols => "1", :rows => "1", :class => "textarea" %>
      </fieldset>
    <% end %>
  </div>
</div>

<script>
  $('[name=\'comment[body]\']').autoResize({
    onResize : function() {
      var txtDiv = $(this.form).children('fieldset').children('.text');
      if(txtDiv.length > 0) {
        txtDiv.css('overflow', 'visible');
      }
    },// After resize:
    animateCallback : function() {
      var txtDiv = $(this.form).children('fieldset').children('.text');
      //if(parseInt($(this).css('height').replace('px', '')) > 100){
        //txtDiv.css('background', 'none');
      //}
      //else {
        txtDiv.css('height', (parseInt($(this).css('height').replace('px', '')) + 70) + 'px');
        //txtDiv.css('background', 'url("/images/bg-form-post-message.png") no-repeat');
        txtDiv.css('background-size', '640px ' + (parseInt($(this).css('height').replace('px', '')) + 40) + 'px');
      //}
    },
    extraSpace: 0
});
</script>