<% limited_events = events[0,number_to_show] %>
<% events_unshown = events.count - number_to_show %>

<div class="box box-list">
  <div class="heading">
    <a href="#" class="view">View in Calendar</a>
    <h3>Upcoming Activities</h3>
  </div>
  <div class="box-content">
    <% if limited_events.empty? %>
      <strong style="color:#999">Nothing currently planned. <%= link_to_popup_modal_ajax  'Why not change that?', 'Plan a new StreetMeet', 'empty_modal_base', new_event_path(:js), nil, nil, :class => "btn-add"  %></strong>
    <% else %>
      <ul>
        <% limited_events.each do |event| %>
          <li>
            <h4><%= link_to event.title, event %></h4>
            <p>
              <% event.searchable_event_types.each do |set| %>
                <strong><%= set.try(:name) %></strong>
              <% end %>
              <em class="date">
                <%=event.starts_at.strftime("%b #{event.starts_at.day.ordinalize} @ %l:%M %p")%>
              </em>
            </p>
          </li>
        <% end %>
      </ul>
      <% if events_unshown >  0 %>
        <div class="more">
          <%= link_to "And #{events_unshown} more", "#" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>