<div data-role="header" data-position="inline">
  <%#= link_to "Home", '/m', {'data-role' => 'button', 'data-theme' => 'a', 'data-position' => 'inline'}%>
  <a data-theme ="a" data-rel="back" data-icon="arrow-l">Back</a>
  <h1><%=link_to "SocialStreet", '/m'%></h1>
  <%= link_to "Filter", '#explore_filter', {'data-role' => 'button', 'data-theme' => 'a', 'data-position' => 'inline'}%>
</div>

<div data-role="content">

  <div id="list_view_filter_text" style="<%="display:none" if params[:keywords].blank?%>">
    Filtering by: <span style="color:#FFC233"><%=params[:keywords]%></span>
    <%= link_to "Remove", '#', :id => 'remove_filters', :style=>"font-size:10px;color:#FFFCD5;"%>
  </div>

  <div id="list_view_explore_content">
    <%= render "results"%>
  </div>
</div>

<div data-role="footer" data-position="fixed">
  <%= link_to "View Map", '#map-view-explore', {'id' => 'map_view_link', 'data-role' => 'button', 'data-theme' => 'b', 'data-transition' => 'flip', 'style' => 'width: 100%;
  height: 35px;'}%>
</div>