<% if @events.empty? %>
  <div id="no_results_message"> <strong>No Events found in this area. </strong> <br/><br/>
    Use the <%= link_to "Map", '#map-view-explore', {'data-transition' => 'flip'}%> to change your location <br/>
    <h4>OR</h4>
    <%= link_to 'Create an Event', new_m_event_path, {"rel" => 'external'} %> here. </div>
  <% end %>

<ul data-role="listview" data-theme="a" data-inset="true" id="list_view_results">
  <% (@events || []).each do |event| %>
    <% if(!event.canceled) %>
      <li id ="event_<%=event.id%>">
        <%= link_to m_event_path(event) do %>
          <%= image_tag(url_for_event_image(event), :size => "50x50") %>
          <span id="explore_list_title"><%= event.title %></span>
          <div id="explore_list_address"><%= event.location.text || event.location.street %></div>
        <% end %>
      </li>
    <%  end %>
  <% end %>
</ul>