<ul data-role="listview" data-theme="a" data-inset="true" data-scroll="true" class="list_view_results">
  <% (results || []).each do |event| %>
    <li id ="event_<%= event.id %>">
      <% className = sprite_class_name_for_event(event) %>
      <%= link_to m_event_path(event), :style => "padding:0;" do %>
        <div class="event-type-image event-type-<%= className %>-small-sprite" style="float:left;"></div>
        <div style="float:left; max-width: 70%;">
          <div id="explore_list_title" class="dotdotdot"><p><%= event.title %></p></div>
          <div id="explore_list_address" class="dotdotdot"><%= event.location.short_address_as_sentence %></div>
        </div>
      <% end %>
      <%= hidden_field_tag "lat", event.location.latitude, :class=>'lat' %>
      <%= hidden_field_tag "lng", event.location.longitude, :class=>'lng' %>
      <%= hidden_field_tag "icon_class", className, :class=>'icon-class' %>
    </li>
  <% end %>
</ul>