<ul data-role="listview" data-theme="a" data-inset="true" id="list_view_results">
  <% (@events || []).each do |event| %>
    <li id ="event_<%=event.id%>">
      <%= link_to m_event_path(event), :style => "padding:0;" do %>
        <div class="event-type-<%=sprite_class_name_for_event(event)%>-small-sprite" style="float:left;"></div>
        <div style="float:left;">
          <div id="explore_list_title" style="margin: 18.5px 0 0 5px"><%= event.title %></div>
          <div id="explore_list_address" style="font-size:10px; padding: 0 0 0 5px;"><%= event.location.as_sentence %></div>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<div style="font-size:16px;color:#FFFCD5;text-align:center;">
  <div style="font-size:18px;color:#FFC233;">Not enough results?</div><br/>
  <div>Try adjusting the <%= link_to "Map", '#map-view-explore', 'data-transition' => 'flip', :class=> "ui-link", :style => "color:#FFC233"%></div>

  <div style="font-size:18px">OR</div>
  <div>Plan a <%= link_to "StreetMeet", new_m_event_path, 'rel' => 'external', :class=> "ui-link", :style => "color:#FFC233"%></div>
</div>