<%= javascript_include_tag 'mobile/explore' %>

<div data-role="page" data-theme="a" id="explore_base">
  <%= render "list_view" -%>
</div>

<div data-role="page" id="explore_filter">
  <div data-role="header" data-position="fixed">
    <a data-theme ="c" data-rel="back" data-icon="arrow-l">Back</a>
    <h1><%=link_to "SocialStreet", '/m'%></h1>
    <%#= link_to "Remove All", '', {'data-role' => 'button', 'data-theme' => 'b', 'id' => 'remove_filters'}%>
  </div>

  <div data-role="content" data-theme="b">
    <div data-role ="fieldcontain">
      <ul data-role="listview" data-theme="a" data-inset="true" data-filter="true" data-filter-placeholder="Enter Keyword..." data-scroll="true" id="keyword_filter_list">
        <li id="filter_no_results">
          <%= link_to '#', :style => "padding:0;", "data-rel"=> :back do %>
            <div class="event-type-streetmeet2-small-sprite" style="float:left;"></div>
            <span style="float:left;margin:18.5px 0 0 5px;"></span>
          <% end %>
        </li>
        <% @event_types.each do |et|%>
          <li class="result">
            <%= link_to '#', :style => "padding:0;", "data-rel"=> :back do %>
              <div class="event-type-<%=sprite_class_name_for_event_type(et)%>-small-sprite" style="float:left"></div>
              <span style="float:left;margin:18.5px 0 0 5px;"><%=et.name%></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div data-role="page" id="map-view-explore">

  <script type="text/javascript">

    var usersCurrentLocation = ('<%=users_current_location_string()%>').split(",");
    var map_center = new google.maps.LatLng((parseFloat(usersCurrentLocation[0])), parseFloat(usersCurrentLocation[1]));
    var geocoder = new google.maps.Geocoder();
    var exploreMap;
    var markerManager;
    var marker;
    var iconClass;
    var clustered_markers = [];

    //    $(function(){
    $('#list_view_link').live("click", function() {
      $('#list_view_results').listview();
    })

    $('#map-view-explore').live("pageinit", function() {

      $('#explore_map_canvas').gmap(
      {
        'center': map_center,
        'zoom': 15,
        'disableDefaultUI': true
      });
      
      exploreMap = $('#explore_map_canvas').gmap('get', 'map');

      markerManager = new MarkerManager({
        map: exploreMap
      });

      addExploreMarkers();

      $('#explore_event_details').hide();

      google.maps.event.addListener(exploreMap, 'zoom_changed', function(){
        changeExploreLocationParams();
      });
      google.maps.event.addListener(exploreMap, 'dragend', function(){
        changeExploreLocationParams();
      });
      google.maps.event.addListener(exploreMap, 'click', function(){
        deselectMarker();
      });
    });
  

  </script>

  <div id="explore_map_content_holder">

    <%= render "map_view" %>

  </div>
</div>

<%= form_tag '#', :method => :get, :remote => :true, 'data-ajax' => false, :id => "explore_form" do %>
  <%= hidden_field_tag 'map_bounds', params[:map_bounds], :id => 'explore_map_bounds' %>
  <%= hidden_field_tag 'map_center', params[:map_center], :id => 'explore_map_center' %>
  <%= hidden_field_tag 'map_zoom', params[:map_zoom], :id => 'explore_map_zoom' %>
  <%= hidden_field_tag 'selected_results', params[:selected_results]%>
  <%= hidden_field_tag 'view', params[:view], :id => 'explore_view_params' %>
  <%= hidden_field_tag 'keywords', params[:keywords], :id => 'keyword' %>
<% end %>
