<% content_for :left_side_pane do %>
  <div id="left_pane_scroller" class="create-summary-view expand-height scroll-pane include-vertical-bar hidden" style="overflow:auto;">
    <div class="create-left-pane" >
      <div id="summary_title_holder">
        <%= text_area_tag 'summary_event_name', @event.name, :class => "text-shadow edit-inline submit-on-change", :id => "summary_event_name_field" %>
      </div>
      <div id="summary_description_holder">
        <%= text_area_tag 'event_description', @event.description, :placeholder => 'Add a description...', :class => "text-shadow edit-inline submit-on-change", :id => "summary_event_description_field" %>
      </div>

      <div id="summary_where" style="width:360px; height: 105px; margin-bottom:10px">
        <div id="summary_where_title" class="text-shadow">
          Where?
        </div>
        <%= image_tag('create-event-marker.png', :style=>"float:left")%>
        <div style="margin-top:10px;float:left; width:305px">
          <div id="summary_where_text" class="text-shadow"></div>
          <div id="summary_where_address" class="text-shadow"></div>
        </div>
      </div>

      <div id="summary_when" style="width:360px;height:80px;margin-bottom:20px">
        <div id="summary_when_title" class="text-shadow">
          When?
        </div>
        <%= image_tag('calendar_icon.png', :style=>"float:left;margin-left:-5px;")%>
        <div style="width:300px;float:left;margin-top:10px;" class="text-shadow">
          <span style="color:#FFC233;font: bold 14px/14px Arial, Helvetica, sans-serif;">Starts:</span>
          <span id="summary_when_start_date" class="text-shadow"></span>
        </div>
        <div style="width:300px;float:left;" class="text-shadow">
          <span style="color:#FFC233;font: bold 14px/14px Arial, Helvetica, sans-serif;">Ends:</span>
          <span id="summary_when_end_date" class="text-shadow"></span>
        </div>
      </div>

      <div id="summary_what" style="width:360px; height: 137px;">
        <div id="summary_what_title" class="text-shadow">
          What?
        </div>
        <div id="summary_tag_holder" style="height:112px; width:355px; overflow-y:auto;">
          <ul id="summary_keyword_list">
          </ul>
        </div>
      </div>

      <div id="summary_who" style="width:360px; height:auto;">
        <div id="summary_who_title" class="text-shadow">
          Who?
        </div>
        <span id="event_public_switch">
          <span class="text-shadow">This StreetMeet is</span>
          <span style="position:relative;cursor:pointer;">
            <span style="color:#FFC233;" class="text-shadow">Public</span>
            <ul class="drop-shadow">
              <% if @groups.blank? %>
                <li style="text-align:center;">You must sign-in to change this</li>
              <% else %>
                <li class="selected">Public</li>
                <li id="event_private_li">Private</li>
              <% end %>
            </ul>

          </span>
        </span>
        <ul id="summary_who_group_list" style="list-style: disc inside none;" class="hidden">
          <li id="summary_who_group_stamp" class="summary-who-group hidden">
            <span class="group-permission-name text-shadow">Everyone</span>
            <span class="text-shadow">can</span>
            <span class="group-permission">
              <span style="color:#FFC233;text-decoration: underline;" class="text-shadow">View & Join</span>
              <ul class="drop-shadow">
                <li class="group-permission-join selected">View & Join</li>
                <li class="group-permission-view">View</li>
                <li class="group-permission-nothing">None</li>
              </ul>
            </span>
            <span class="text-shadow">this StreetMeet</span>
            <!--span class="text-shadow">this StreetMeet</span-->
            <%= hidden_field_tag 'group_id', '' %>
          </li>
          <% unless @groups.blank? %>
            <li id="add_group_link_li" class="text-shadow">
              <span id="add_group_link">Add Group...</span>
            </li>
          <% end %>
        </ul>
      </div>
      <%= image_tag((event.new_record? ? 'create-event-btn.png' : 'update-event-btn.png'), :id=>'create_summary_create_button', :class=>"drop-shadow create-summary-view hidden", :style => "margin: 15px 0px 15px 228px; cursor: pointer;") %>
    </div>
  </div>
<% end %>

<% content_for :center_pane do %>
  <div id="groups_holder" class="hidden">
    <div id="groups_scroller" class="scroll-pane include-vertical-bar">
      <ul>
        <% (@groups || []).each do |group| %>
          <li class="group-type">
            <div class="container rounded-corners-four">
              <%group_class = "#{sprite_class_name_for_group(group)}"%>
              <div class="group-type-image rounded-corners-fifteen drop-shadow event-type-<%=group_class%>-small-sprite" data-event-type="<%=group_class%>"></div>
              <div class="group-type-name">
                <%= group.name %>
              </div>
              <%= hidden_field_tag "group_id", group.id, :class=>'group-id', :id => "group_id_#{group.id}"%>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>
