<% content_for :left_side_pane do %>

  <div class="create-left-pane create-what-view">
    <div id="create_what_title" class="text-shadow">
      What do you want to do?
    </div>
    <div id="create_what_subtitle" class="text-shadow">
      Select a keyword from the list or define your own...
    </div>
    <div id="create_keyword_text_field_holder" class="keyword-text-field-holder">
      <%= text_field_tag 'keywords', params[:q], :type => "text", :title => "What?", :placeholder => "Enter keywords here...", :id=>'create_keyword_text_field', :class=>'keyword-text-field drop-shadow' %>
    </div>

    <div id="create_what_tags" class="text-shadow invisible">
      TAGS:
    </div>

    <div id="create_keyword_tag_holder" class="keyword-tag-holder">
      <ul id="keyword_tag_list">
        <li id="keyword_tag_stamp" class="keyword-tag create-keyword-tag remove-keyword-tag hidden">
          <%= image_tag('/images/event_types/streetmeet2.png', :size=>'80x80', :class=>"keyword-tag-icon create-keyword-tag-icon drop-shadow") %>
          <span class="keyword-tag-name create-keyword-tag-name text-shadow"></span>
          <%= image_tag('remove-keyword.png', :class => 'remove-keyword-tag keyword-tag-remove create-keyword-tag-remove') %>
        </li>

        <% (event.event_keywords || []).each do |keyword| %>
          <li class="keyword-tag create-keyword-tag remove-keyword-tag">
            <%= image_tag(url_for_event_keyword(keyword), :size=>'80x80', :class=>"keyword-tag-icon create-keyword-tag-icon drop-shadow") %>
            <span class="keyword-tag-name create-keyword-tag-name text-shadow">
              <%=keyword.name%>
            </span>
            <%= image_tag('remove-keyword.png', :class => 'keyword-tag-remove create-keyword-tag-remove') %>
          </li>
        <% end %>
      </ul>
    </div>

    <%= image_tag('continue-button.png', :id=>'create_what_next_arrow', :class=>"next-arrow drop-shadow #{'invisible' unless @event && !@event.event_keywords.empty?}") %>
  </div>

<% end %>

<% content_for :center_pane do %>
  <div id="event_types_holder" class="create-what-view">
    <div id="event_types_scroller" class="scroll-pane include-vertical-bar">
      <ul>
        <li id="custom_event_type" class="event-type create-event-type hidden">
          <div class="container">
            <%= image_tag('/images/event_types/streetmeet1.png', :class=>"event-type-image create-event-type-image drop-shadow") %>
            <div class="event-type-name create-event-type-name text-shadow"></div>
          </div>
        </li>

        <% @event_types.each do |et| %>
          <li class="event-type create-event-type">
            <div class="container">
              <%= image_tag(et.image_path, :class=>"event-type-image create-event-type-image drop-shadow") %>
              <div class="event-type-name create-event-type-name text-shadow">
                <%= et.name %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<% content_for :bottom_pane do %>
<% end %>

<%= image_tag "bg-close.png", :class => "hidden", :id => "bg_close" %>
