<div id="event_organizer_message_holder" class="popup-holder container hidden">
  <div id="close_event_organizer_message_btn" class="popup-close"><%= image_tag "btn-close5.png" %></div>
  <div class="popup-text text-shadow">
    Send an email to the <%= pluralize(@event.event_rsvps.attending_or_maybe_attending.count, 'person')%> who RSVP'd to this StreetMeet.
  </div>
  <div class="popup-text text-shadow" style="margin: 20px 0px 15px 0px;">
    Please type your message:
  </div>
  <div style="clear: both"></div>
  <div class="popup-fields-holder">
    <%= form_tag url_for(:action => :send_message), :remote => true, :id => "send_message_form" do %>
      <%= text_area_tag :message, nil, :rows => "5", :class => "textarea-resize", :style => "width: 90%" %>
      <%= image_tag('continue-button.png', :id=>'send_message_button', :class=>"next-arrow drop-shadow") %>
    <% end %>
  </div>
  <div style="clear: both"></div>  
</div>
