<% content_for :left_side_pane do %>
  <div class="create-left-pane create-where-view hidden">
    <div id="create_where_title" class="text-shadow">
      Where?
    </div>
    <div id="create_what_subtitle" class="text-shadow">
      Drag the pin or enter an address in the text box...
    </div>
    <div id="create_where_text_field_holder">
      <%= text_field_tag 'where', params[:q], :type => "text", :title => "Where?", :placeholder => " Enter address here...", :id=>'create_where_text_field', :class=>'ie-placeholder' %>
    </div>

    <div id="create_where_marker_info" class="invisible">
      <div id="create_where_address_title" class="text-shadow">
        <span style="float:left">
          ADDRESS:
        </span>
        <div id="create_where_name_location" class="text-shadow">
          <span id="create_where_name_location_text"><%= event.location.text %></span>
          <%= text_field_tag 'name', event.location.text, :type=> "text", :title => "Name this pin", :placeholder => " Name this pin...", :id => 'create_where_name_location_input', :class => 'hidden ie-placeholder' %>
        </div>
      </div>
      <div id="create_where_address" class="text-shadow">
        <%= event.location.geocoded_address %>
      </div>
      <%= hidden_field_tag 'event_street', event.location.street || event.location.route%>
    </div>

    <%= image_tag('continue-button.png', :id=>'create_where_next_arrow', :class=>"next-arrow drop-shadow invisible") %>
    <%= image_tag('back.png', :id=>"create_where_back_button", :class=>"drop-shadow", :style => "float:left; margin-top:15px;cursor: pointer; vertical-align: middle;") %>
  </div>

<% end %>