<li style="margin-top: 5px">
  <div class="left">
    <%= link_to(image_tag(event_image(event), :size => "50x50", :class => "avatar"), event) %>
    <br/>
    <%# For now, events always have a type (I think) so this || is unncessary, but just in case (Yes I know this is bad practice) - KV %>
    <center><%= event.event_type.try(:name) || "Unknown Type" %></center>
  </div>
  <div class="item">
    <div style="float:left; width: 400px">
      <strong><%= link_to event.name, event %></strong><br/>
      <em><%= address_for(event.location) %></em><br/>
      <em>Start: <%= display_date_time(event.starts_at) %></em><br/>
      <% if event.finishes_at? %>
        <em>Finish: <%= display_date_time(event.finishes_at) %></em><br/>
      <% end %>
      <p>
        <%= event.description %>
      </p>
    </div>
    <div style="float:left; width: 140px; height:100%;">
      <% if event.free? %>
        <strong>Free</strong>
      <% else %>
        <strong><%= number_to_currency(event.cost / 100) %></strong>
      <% end %>
      <br/>
      <% if current_user && (rsvp = event.rsvps.by_user(current_user).first) %>
        <%= link_to "#{rsvp.status}", [:edit, event, rsvp], :class => "button" %>
      <%else%>
        <%= link_to 'Quick Join', [:new, event, :rsvp], :class => "button" %>
      <%end%>

      <br/><br/>
      
      <em>X</em> Connections <br/>
      <em>
        <b><%=event.num_attending_or_maybe_attending%></b><%if event.maximum_attendees%>/<%=event.maximum_attendees%><%end%>
      </em> Attending
      <%if(event.number_of_attendees_needed && event.number_of_attendees_needed>0)%>...need <%=event.number_of_attendees_needed%> more people<%end%>
    </div>
    <div class="clear"></div>
  </div>
</li>