<li style="margin-top: 5px">
  <div class="left">
    <%= link_to image_tag(event_image(event), :size => "50x50", :class => "avant"), event %>
    <br/>
    <%# For now, events always have a type (I think) so this || is unncessary, but just in case (Yes I know this is bad practice) - KV %>
    <center><%= event.event_type.try(:name) || "Unknown Type" %></center>
  </div>
  <div class="item">
    <div style="float:left; width: 400px">
      <strong><%= link_to event.name, event %></strong><br/>
      <em><%= address_for(event.location) %></em><br/>
      <em>Start: <%= display_date_time(event.starts_at) %></em><br/>
      <% if event.finishes_at? %>
        <em>Finish: <%= display_date_time(event.finishes_at) %></em><br/>
      <% end %>
      <p>
        <%= event.description %>
      </p>
    </div>
    <div style="float:left; width: 140px; height:100%;">
      <% if event.free? %>
        <strong>Free</strong>
      <% else %>
        <strong><%= number_to_currency(event.cost / 100) %></strong>
      <% end %>
      <br/>
      <button class="button" style="margin: auto auto">Quick Attend</button></center>
      <br/><br/>
      <em>5</em> Connections <br/>
      <em>20</em> Attending
    </div>
    <div class="clear"></div>
  </div>
</li>