<%= form.error_messages %>

<fieldset>
  <%= form.hidden_field :action_id %>
  <%= form.hidden_field :facebook, :id => "post-to-facebook", :value => nil%>

  <div class="row">
    <label for="what">What?</label>
    <%= text_field_tag 'event[searchable_attributes][keywords][]', params[:q], :type => "text", :title => "What?", :class => "q-textfield text_field do-not-submit text", :placeholder => "Enter keywords here...", "keyword-content-selector" => '#event-keywords' %>
  </div>
  <ul id="event-keywords" class="keyword">
    <% (event.searchable.keywords || []).reject{|k| k.blank?}.each do |keyword| %>
      <li class="keyword-pill">
        <input type="hidden" name="event[searchable_attributes][keywords][]" value="<%= keyword %>" />
        <%= keyword %>
        <%= link_to("close", '#', :class => "close remove-parent", "data-parent-selector" => ".keyword-pill") %>
      </li>
    <% end %>
  </ul>

  <div class="row-when">
    <span>When?</span>

    <%= form.fields_for :searchable do |searchable_fields| %>
      <%= searchable_fields.fields_for :searchable_date_ranges do |date_range_fields| %>
        <div class="col" style="vertical-align: baseline;">
          <span><label for="date">Start Date:</label></span>
          <% new_event_starts_at = event.searchable.searchable_date_ranges.first.starts_at %>
          <%= text_field_tag 'starts_at_calendar', new_event_starts_at.strftime('%Y-%m-%d'), :class => "text_field starts-at-time", :style => "width: 80px;" %>
          <%= select_tag :starts_at_hour, options_for_select((1..12).to_a.collect{|e| e.to_s.rjust(2, "0")}, new_event_starts_at.strftime("%I")), :class => "starts-at-time" %>
          <%= select_tag :starts_at_minute, options_for_select(0.step(55, 5).to_a.collect{|e| e.to_s.rjust(2, "0")}, new_event_starts_at.strftime("%M")), :class => "starts-at-time" %>
          <% puts "JOSHY" %>
          <% puts new_event_starts_at %>
          <%= select_tag :starts_at_meridian, options_for_select([["AM"], ["PM"]], new_event_starts_at.strftime("%p")), :class => "starts-at-time" %>

    <%#= select_time new_event_starts_at, {:minute_step => 15, :ignore_date => true}, :class => 'starts_at_time' -%>
          <%= date_range_fields.hidden_field :starts_at, :class => "starts-at-value" -%>
        </div>
        <div class="col" id="EndDateTime" style="display:none; clear: both; margin-left: 108px;">
          <span><label for="date">End Date:</label></span>
          <% new_event_ends_at = event.searchable.searchable_date_ranges.first.ends_at %>
          <%= text_field_tag 'ends_at_calendar', new_event_ends_at.strftime('%Y-%m-%d'), :class => "text_field ends-at-time", :style => "width: 80px;" %>
                    <% puts "SARA" %>
          <% puts new_event_ends_at %>

          <%= select_tag :ends_at_hour, options_for_select((1..12).to_a.collect{|e| e.to_s.rjust(2, "0")}, new_event_ends_at.strftime("%I")), :class => "ends-at-time" %>
          <%= select_tag :ends_at_minute, options_for_select(0.step(55, 5).to_a.collect{|e| e.to_s.rjust(2, "0")}, new_event_ends_at.strftime("%M")), :class => "ends-at-time" %>
          <%= select_tag :ends_at_meridian, options_for_select([["AM"], ["PM"]], new_event_ends_at.strftime("%p")), :class => "ends-at-time" %>

    <%#= select_time event.searchable.searchable_date_ranges.first.ends_at, {:minute_step => 15, :ignore_date => true}, :class => 'ends_at_time' -%>
          <%= date_range_fields.hidden_field :ends_at, :class => "ends_at_value" -%>
        </div>
        <div id="Add-end-date-title">
          <%= link_to_function "Add End Date & Time", "$('#EndDateTime').toggle();$('#Add-end-date-title').toggle();$('#exclude_end_date').val(0)" %>
        </div>
      <%  end %>
    <%- end -%>
  </div>

  <div class="row"> 
    <label for="where">Where?</label>

    <%= form.fields_for :searchable do |searchable_fields| %>
      <%= searchable_fields.fields_for :location do |location_fields| %>
        <%= text_field_tag 'location_address', "", :class => "text text_field location-address-field", :type => "text", :id=>"where", :title=> "Where?" %>
        <%= location_fields.hidden_field :text, :id => "location-name-field" %>
        <%= location_fields.hidden_field :latitude, :id => "location-lat-field" %>
        <%= location_fields.hidden_field :longitude, :id => "location-lng-field" %>
      <% end %>
    <% end %>
  </div>
  <div id="event-location-map" class="row-map" style="height:300px">
    <!--img width="497" height="229" src="images/img-map.png" alt="image description"/-->
  </div>

  <div class="title-row">
    <p><%= link_to '+ Title, Description, Icon', '#', :id => "expand-extra-section" -%></p>
  </div>

  <div id="row-title" style="display:none;">
    <div class="col">
      <label for="title">Title</label>
      <%= form.text_field :name, :rows => 10, :cols => 80, :class => "text_field text" %>
    </div>

    <div class="col">
      <label class="label">Description</label>
      <%= form.text_area :description, :rows => 1, :cols => 80, :class => "text_area text" %>
    </div>

    <div class="col">
      <label class="label">Image</label>
      <%= image_tag(event.photo.thumb.url) if event.photo? %>
      <%= form.file_field :photo %>
    </div>
    <div id="bottom"></div>
  </div>

  <!--    <div class="row-btn">
<%#= submit_tag "Save", :class => "btn" -%>
      or <a href="#" class="link-close">cancel</a>
    </div>-->

</fieldset>

<%# content_for :end_of_body do %>
<!--<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>-->
<script type='text/javascript'>
  //var keywordsJsonURL   = "<%= event_types_path(:format => :json) %>";
  var keywordsParamKey  = "event[searchable_attributes][keywords][]";
  SearchURL = '<%= locations_path(:format => :json) %>';
</script>

<%= javascript_include_tag 'marker_clusterer', 'events/organizer_map', 'gmaps/shared', 'events/form', 'keywords_field', 'date.format' %>
<% if event.location.try(:geo_located?) %>
  <script type='text/javascript'>
    $(function() {
      placeMarker(new google.maps.LatLng(<%= event.location.latitude %>, <%= event.location.longitude %>), $('#location-name-field').val());
    });
  </script>
<%- elsif event.new_record? -%>
  <script type='text/javascript'>

    var refreshTimer = null;

    $(function(){
      $('#expand-extra-section').click(function(){
        $('#row-title').toggle();
        $('.title-row').toggle();

        $(".content1").attr({ scrollTop: $(".content1").attr("scrollHeight") });
        return false;
      });


      $('[name=\'event[description]\']').live('focus', function() {
        $(this).autoResize({extraSpace: 0})
      });

    })

    function getSearchParams() {

      var bounds = map.getBounds();
      ne = bounds.getNorthEast();
      sw = bounds.getSouthWest();
      c = bounds.getCenter();

      var str = '?map_bounds=' + ne.lat() + ',' + ne.lng() + ',' + sw.lat() + ',' + sw.lng();
      if($('[name="event\\[searchable_attributes\\]\\[keywords\\]\\[\\]"]').length > 0)
        return str + "&" + $('[name="event\\[searchable_attributes\\]\\[keywords\\]\\[\\]"]').serialize();
      else
        return str;

    }

    function createEventMarker(location, title) {
      var stop = false;
      $.each(preservedMarkers, function(index, elem){
        if(elem.position.Na == location.Na && elem.position.Oa == location.Oa){
          stop = true;
          return;
        }
      });

      if(stop)
        return

      var marker = new google.maps.Marker({
        position: location,
        title: title,
        icon: '/images/map_pin.png'
      });

      google.maps.event.addListener(marker, 'click', function() {
        selectEventMarker(marker);
      });

      markers.push(marker);
    }

  </script>
  <%# end %>


<% end %>
