<%= form.error_messages %>
<div id="basic" class="tab-content">
  <%= form.hidden_field :action_id %>

  <%= form.fields_for :searchable do |searchable_fields| %>
    <%= searchable_fields.fields_for :searchable_event_types do |event_type_fields| %>
      <div class="group">
        <label class="label">What?</label>
        <%= event_type_fields.collection_select :event_type_id, @event_types, :id, :name %><br/>
        <span class="description">Event type dropdown.</span>
      </div>
    <% end %>
  <% end %>

  <div class="group">
    <label class="label" for="post_title">Where?</label>

    <%= form.fields_for :searchable do |searchable_fields| %>
      <%= searchable_fields.fields_for :location do |location_fields| %>
        <%= location_fields.text_field :text , :class => "text_field", :style=>"width:100%;", :id => "location-name-field" %>
        <%= location_fields.hidden_field :latitude, :id => "location-lat-field" %>
        <%= location_fields.hidden_field :longitude, :id => "location-lng-field" %>
      <% end %>
    <% end %>
    <div id="event-location-map" style="width:100%;height:300px;border:1px solid white;"></div>


  </div>
  <div class="group">
    <%= form.fields_for :searchable do |searchable_fields| %>
      <%= searchable_fields.fields_for :searchable_date_ranges do |date_range_fields| %>
        <label class="label" for="post_title">When?</label>
        <%= date_range_fields.datetime_select :starts_at, :start_year => Time.now.year, :minute_step => 15 %> <%= Time.zone.now.zone %>
        <br/>
        <span class="description">Start Date and time (Timezone: <%= Time.zone.now.zone %>)</span>

        <div class="group" id="EndDateTime" style="display:none">
          <%= date_range_fields.datetime_select :ends_at, :start_year => Time.now.year, :minute_step => 15 %> <%= Time.zone.now.zone %>
    <%#= form.hidden_field :exclude_end_date, :id => 'exclude_end_date', :value=>'1'%>
          <br/>
          <span class="description">End Date and time (Timezone: <%= Time.zone.now.zone %>)</span>
        </div>
        <br/>
        <%= link_to_function "Add End Date & Time", "$('#EndDateTime').toggle(); $('#exclude_end_date').val(0)" %>

      <% end %>
    <% end %>


  </div>
</div>
<div id="details" style="display:none" class="tab-content">
  <div class="group">
    <label class="label">Title</label>
    <%= form.text_field :name, :rows => 10, :cols => 80, :class => "text_field" %>
    <span class="description">Describe your event</span>
  </div>


  <div class="group">
    <label class="label">Description</label>
    <%= form.text_area :description, :rows => 10, :cols => 80, :class => "text_area" %>
    <span class="description">Describe your event</span>
  </div>
</div

<!--
<div id="attendees" style="display:none" class="tab-content">
  <div class="group">
    <label class="label" for="post_title">Minimum Attendees</label>
<%= form.text_field :minimum_attendees, :class => "text_field"  %>
    <br/>
    <span class="description">Minimum number of people needed for the event to happen</span>
  </div>


  <div class="group">
    <label class="label">Maximum Attendees</label>
<%= form.text_field :maximum_attendees, :class => "text_field"  %>
    <span class="description">Maximum number of people that can attend</span>
  </div>

  <div class="group">
    <label class="label">Allow Guests?</label>
<%= form.check_box :guests_allowed %>
    <span class="description">Select this to allow attendees to bring guests</span>
  </div>
</div>

<div id="cost" style="display:none" class="tab-content">
  <div class="group">
    <label class="label">Cost (in Dollars)</label>
<%= form.text_field :cost_in_dollars, :class => "text_field"  %>
    <span class="description">Cost (in $CA). Set to 0 for free. Default: 0</span>
  </div>
</div>
-->



<% content_for :end_of_body do %>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <%= javascript_include_tag 'events/form', 'events/organizer_map' %>
  <% if @event.location.try(:geo_located?) %>
    <script>
      $(function() {
        placeMarker(new google.maps.LatLng(<%= @event.location.latitude %>, <%= @event.location.longitude %>), $('#location-name-field').val());
      });
    </script>
  <% end %>
<% end %>
