<% pre_existing ||= false  %>
<% are_invited ||= false  %>

<li class="user-invitation <%= 'selected cannot-remove' if invited?(user) %>" data-user-id="<%= user.id %>" style="height: 30px; overflow: hidden;">
  <%= avatar(user, :exclude_link => true) %>
  <div class="text-holder">
    <strong class="ttl"><%= user.name %></strong>
  </div>
  <%if user.sign_in_count.nil? || user.sign_in_count == 0 %>
    <div class="facebook-icon">
    <img src ="/images/ico-share.png" alt="Facebook" style="float: right; margin: -22px 25px 0px 0px;"/>
    </div>
  <%end%>
  <% unless pre_existing %>
    <%= link_to '[X]','#', :class=>"close remove-btn" %>
    <input type="hidden" name="user_ids[]" value="<%= user.id %>"/>
  <% end %>
</li>