<% can_edit = @event.can_edit?(current_user) %>
<div id="show_event_details" class="container">
  <%= form_for @event, :method=>'put', :remote => true, :html => {:id=>"event_edit_form"} do |form|%>
    <div id="show_event_details_holder">
      <div id="show_event_text">
        <div id="show_event_image">
          <%= image_tag(url_for_event_image(@event))%>
        </div>
        <div id="show_event_title">
          <span id="show_event_title_text">
            <%= truncate_html(@event.title, :length => (can_edit ? 36 : 50)) %>
          </span>
          <% if can_edit %>
            <span id="edit_event_title_link">...Edit Title</span>
            <%= form.text_field :name, :id=> "edit_event_title_field", :class=>"hidden", :style=>"width:270px;" %>
          <% end %>
        </div>
        <div id="show_event_date">
          <%= @event.date_range_as_sentence %>
        </div>
        <div id="show_event_tags">
          Tags: <%= truncate_html(@event.event_keywords_as_sentence, :length => 35) %>
        </div>
      </div>
    </div>
    <div id="show_event_description_holder" class="scroll-pane show-scroll-on-hover">
      <% if can_edit %>
        <span id="edit_event_description_link">
          <%=(@event.description && @event.description.length > 0) ? "Edit description..." : "Add Description..."%>
        </span>
        <%= form.text_area :description, :id=> "edit_event_description_field", :class=>"hidden", :style=>"width:360px;height:70px;" %>
      <% end %>
      <span id="show_event_description_text">
        <%= @event.description %>
      </span>
    </div>
  <% end %>
</div>

<div class="event-details-view" class="<%="hidden" if params[:invite]%>">
  <div class="container">
    <%= form_for [@event, @comment], :remote => true, :html => {:id => "event_wall_form"} do |form| %>
      <div id="event_wall_text_field_holder">
        <%= form.text_area :body, :id => "event_wall_text_field", :placeholder => "Leave a Message", :rows => 1-%>
      </div>
    <% end %>
    <div id="event_wall" class="cap-height scroll-pane show-scroll-on-hover" data-expandBottomOffset="10" style="overflow:auto;">
      <%@comments.each do |comment|%>
        <%= render :partial => 'comments/create.html', :locals => {:comment => comment} %>
      <% end %>
    </div>
  </div>
</div>