<div class="block" id="block-lists">
  <div class="secondary-navigation">
    <ul class="wat-cf">
      <li class="first active"><a href="#">Events</a></li>
      <li><a href="#">Activity</a></li>
      <li><a href="#block-forms">Comments</a></li>
    </ul>
  </div>
  <div class="content">
    <h2 class="title">Events</h2>
    <div class="inner">
      <ul class="list">
        <% @events.each do |event| %>
          <%= render event %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= form_tag '#', :method => :get, :class => "form" do %>
    <div class="block notice">
      <h4>Location Filtering</h4>

      <%= label_tag 'location', 'Near', :class => "label" %>
      <%= text_field_tag 'location', params[:location], :class => "text_field" %>

      <%= label_tag 'radius', 'Radius', :class => "label" %>
      <%= select_tag 'radius', options_for_select(['10 km', '20 km', '50 km'], params[:radius]) %>
    </div>

    <div class="block notice">
      <h4>Date Filtering</h4>
      <%= label_tag 'from_date', 'From', :class => "label" %>
      <%= text_field_tag 'from_date', params[:from_date], :class => "text_field" %>

      <%= label_tag 'to_date', 'To', :class => "label" %>
      <%= text_field_tag 'to_date', params[:to_date], :class => "text_field" %>

      <%= label_tag 'days', 'Days of the Week', :class => "label" %>
      <%= check_box_tag 'days[]', '1', (params[:days] || []).include?('1') %> Mon
      <%= check_box_tag 'days[]', '2', (params[:days] || []).include?('2') %> Tue
      <%= check_box_tag 'days[]', '3', (params[:days] || []).include?('3') %> Wed
      <%= check_box_tag 'days[]', '4', (params[:days] || []).include?('4') %> Thu
      <%= check_box_tag 'days[]', '5', (params[:days] || []).include?('5') %> Fri
      <%= check_box_tag 'days[]', '6', (params[:days] || []).include?('6') %> Sat
      <%= check_box_tag 'days[]', '0', (params[:days] || []).include?('0') %> Sun

    </div>

    <div class="block notice">
      <h4>Type Filtering</h4>
      Pending ...
    </div>

    <button class="button">Go</button>
    <%= link_to 'Clear', events_path %>
    <div class="clear"></div>
  <% end %>
<% end %>

<% content_for :end_of_body do %>
  <script>
    $(function() {
      $( "#from_date" ).datepicker({
        dateFormat: 'M. dd, yy'
      });
      $( "#to_date" ).datepicker({
        dateFormat: 'M. dd, yy'
      });
    });
  </script>
<% end %>