
<div data-role="page" id="create_what">
  <div data-role="header" data-position="fixed">
    <a data-theme ="c" data-rel="back" data-icon="arrow-l">Back</a>
    <h1>SocialStreet</h1>
    <%= link_to "Home", '/', {'data-role' => 'button', 'data-theme' => 'b'}%>
  </div>

  <script type="text/javascript">
    $('#create_keywords_list').live('click', function(li) {
      keyword = li.srcElement.innerText;
      $('#create_keyword').val(keyword);
    })
  </script>

  <div data-role ="content">
    <div data-role ="fieldcontain">
      <ul data-role="listview" data-theme="a" data-inset="true" data-filter="true" data-filter-placeholder="Enter Keyword..." id="create_keywords_list">
        <% @event_types.each do |event|%>
          <li>
            <%= link_to image_tag(event.image_path) + event.name, "#create_where" %>
          </li>

        <% end %>

      </ul>
    </div>

  </div>
</div>

<div data-role ="page" id="create_when">
  <div data-role="header" data-position="inline">
    <a data-theme ="c" data-rel="back" data-icon="arrow-l">Back</a>

    <script src="/javascripts/mobiscroll-1.5.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/mobiscroll-1.5.css" />


    <h1>SocialStreet</h1>
  </div>

  <script type="text/javascript">
    //Create date
    var monthNamesShort = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var dayNamesShort = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
    var durationOptions = ['minutes', 'hours', 'days']

    var myDate = new Date();
    var dateHsh = {};
    for(var i=0; i < 90; i++){
      //turn date into string
      var showDateString = dayNamesShort[myDate.getDay()] + " " + myDate.getDate() + " " + monthNamesShort[myDate.getMonth()];
      var actualDateString = myDate.getFullYear() + "/" + (myDate.getMonth() + 1) + "/" + myDate.getDate();

      dateHsh[actualDateString] = showDateString;

      myDate = new Date(myDate.getTime() + 86400000);
    }

    var hourHsh = {};
    for(i=1; i<=12;i++){
      hourHsh[i] = i;
    }

    var minuteHsh = {};
    for(i=0; i<=11;i++){
      minuteHsh[i*5] = i*5;
    }

    var countHsh = {};
    for(i=1; i<=60; i++){
      countHsh[i-1] = i;
    }

    var wheels = [{"Date" : dateHsh},{"Hour" : hourHsh, "Minute" : minuteHsh, "" : {AM : "AM", PM: "PM"}}]
    var durationWheels = [{"Amount" : countHsh}, {"Duration" : durationOptions}]

    $(function() {
      $('#startdate').scroller({
        wheels: wheels,
        width: 40,
        theme: 'ios',
        //btnClass: 'hidden',
        onClose: function(valueText, inst) {
          
          formatted_start_date = parseDate(valueText);
          $('#create_starts_at').val(formatted_start_date);
          
        }
      });

      $('#enddate').scroller({
        wheels: wheels,
        width: 40,
        theme: 'ios',
        onClose: function(valueText, inst) {
          
          formatted_end_date = parseDate(valueText);
          $('#create_ends_at').val(formatted_end_date);
        }
      });

    })

    function parseDate(valueText) {
    
      split_array = valueText.split("/");
      new_array = split_array[2].split(" ");
      split_array.pop();
      split_array = split_array.concat(new_array);
      for(i=0; i<5; i++){
        split_array[i] = parseInt(split_array[i]);
      }
      if(split_array[5] == "PM")
        if(split_array[3] != 12)
          split_array[3] += 12;

      console.log(split_array);

      date = new Date(split_array[0], (split_array[1]-1), split_array[2], split_array[3], split_array[4]);
      return date;
    }


    /*function setDuration(valueText) {
      vals = valueText.split(" ");
      for(i=0; i<1; i++)
        amt = +vals[i];
      amt = amt + 1;
      console.log(amt);
      if(vals[1] == "0")
        console.log("mins");
      else if(vals[1] == "1")
        console.log("hrs");
      else if(vals[2] == "2")
        console.log("days");

    }*/
  
    $('#create_when').live("pageshow", function() {
      $('#create_title_description').hide();
    })

    $("#toggle_title_desc").live("click", function() {
      event.preventDefault();
      $('#create_title_description').toggle();
    })
    
    $('#submit_button').live("click", function(){
      $('#create_starts_at').submit();
    });

  </script>

  <div data-role="content">

    <div data-role="fieldcontain">
      <label for="startdate">Start Date: </label>
      <input type="text" name ="startdate" id="startdate" class="mobiscroll" />
    </div>

    <div data-role="fieldcontain">
      <label for="enddate">End Date: </label>
      <input type="text" name ="enddate" id="enddate" class="mobiscroll" />
    </div>

    <div data-role="fieldcontain">
      <%= link_to "Add Title/Description (optional)", "#create_when", {"id" => 'toggle_title_desc'} %>
    </div>

    <div data-role="fieldcontain" id="create_title_description">
      <label for="create_title">Title: </label>
      <input type="text" name="create_title" id="create_title" />

      <label for="create_description">Description: </label>
      <textarea name="create_description" id="create_description"></textarea>
    </div>


    <%= form_for @event_for_create do |form|%>
      <%=  form.fields_for :searchable do |searchable_fields| %>
        <%= searchable_fields.hidden_field :keywords, :value => params[:keywords], :id => 'create_keyword' %>
        <%= searchable_fields.fields_for :searchable_date_ranges do |date_range_fields| %>
          <%= date_range_fields.hidden_field :starts_at, :value => params[:starts_at], :id => 'create_starts_at' %>
          <%= date_range_fields.hidden_field :ends_at, :value => params[:ends_at], :id => 'create_ends_at' %>
          <%= searchable_fields.fields_for :location do |location_fields| %>
            <%= location_fields.hidden_field :latitude, :value => params[:latitude], :id => 'create_map_lat' %>
            <%= location_fields.hidden_field :longitude, :value => params[:longitude], :id => 'create_map_lng'%>
            <%= form.submit "Submit", {"data-theme" => "e"}%>
          <% end %>
        <%  end %>
      <% end %>
    <% end %>

  </div>
</div>

<div data-role ="page" id="create_where" class="page-map">
  <div data-role="header" data-position="inline">
    <a data-theme ="c" data-rel="back" data-icon="arrow-l">Back</a>
    <h1>SocialStreet</h1>
  </div>

  <script type="text/javascript">
    
    var currentLocation = '<%=users_current_location_string()%>';
    var createMap;


    $('#create_where').live("pageshow",function() {

      $('#map-canvas').gmap(
      {'center': currentLocation, 'zoom': 15, 'mapTypeControl' : false,
        'navigationControl' : false,
        'streetViewControl' : false
      }).bind('init', function(event, map) {
        $('#map-canvas').gmap('addMarker', {'position': currentLocation, 'draggable': true, 'bounds': false}, function(map, marker) {
          findLocation(marker.getPosition(), marker);
          createMap = $('#map-canvas').gmap('get', 'map');
        }).dragend( function(event) {
          var self = this;
          findLocation(event.latLng, this);
        }).click( function() {
          $('#map-location').val(this.title);
        });

        
      });

      function findLocation(location, marker) {
        $('#map-canvas').gmap('search', {'location': location}, function(results, status) {
          if ( status === 'OK' ) {
            $.each(results[0].address_components, function(i,v) {
              if ( v.types[0] == "administrative_area_level_1" || v.types[0] == "administrative_area_level_2" ) {
                $('#state'+marker.__gm_id).val(v.long_name);
              } else if ( v.types[0] == "country") {
                $('#country'+marker.__gm_id).val(v.long_name);
              }
            });
            marker.setTitle(results[0].formatted_address);
            $('#map-location').val(results[0].formatted_address);
            updateLocationParams();
          }
        });
      }

      function updateLocationParams() {
        bounds =  createMap.getBounds();
        c = bounds.getCenter();
        console.log(c);

        $('#create_map_lat').val(c.lat());
        $('#create_map_lng').val(c.lng());
      }

    });
    

  </script>

  <div data-role ="content">

    <div data-role="fieldcontain">
      <label for="map-location">Enter an Address</label>
      <input type="text" name="map-location" id="map-location" />
    </div>
    <div data-role="fieldcontain" id="map-canvas"></div>

    <%= link_to "Next", '#create_when', {'data-role' => 'button', 'data-theme' => 'e', 'data-position' => 'inline'}%>

  </div>

</div>