
<div data-role="page" data-theme="a" id="event_main">
  <div data-role="header" data-position="inline">
    <a data-theme ="c" data-rel="back" data-icon="arrow-l">Back</a>
    <h1>SocialStreet</h1>
    <% if @event.editable_by?(current_user) %>
      <%= link_to 'Edit', edit_event_path(@event), {'data-theme' => 'b'}%>
    <% end %>
  </div>

  <div data-role="content" data-theme="c">
    <%= image_tag(url_for_event_image(@event), :size => "80x80", :class => "avatar") %>
    <span id="event_title"><%= @event.title %></span>

    <div id="more_details_link">
      <%= link_to "More Details"%>
    </div>

    <fieldset class="ui-grid-a">
      <%  if(@rsvp && Rsvp.statuses[:attending] == @rsvp.status) %>
        <div id="attending-button"class="ui-block-a"><%= link_to "Attending", [:edit, @event, :rsvp], {'data-role' => 'button', 'data-theme' => 'a', 'data-ajax' => false} %></div>
      <% else %>
        <div class="ui-block-a"><%= link_to "Attend", [:new, @event, :rsvp], {'data-role' => 'button', 'data-theme' => 'e', 'data-ajax' => false} %></div>
      <% end %>

      <div class="ui-block-b" style="margin: -38px 10px 10px 200px"><%= link_to "Invite People" %></div>
    </fieldset>


    <div data-role="fieldcontain" style="font-size: 18px"><%= address_for(@event.location)%>
      <span style="float:right; font-size: 12px" id="map_link"><%= link_to "See on Map" %></span>
    </div>

    <div data-role="fieldcontain" style="font-size: 14px"><%= @event.date_range_as_sentence %> </div>

    <div data-role ="fieldcontain">

      <div><%= link_to "#{@event.num_attending} Attending", [:show_attendees, @event] %> </div>

    </div>

    <div data-role="fieldcontain">
      <textarea cols="40" rows="8" name="textarea" placeholder="Leave a Comment..." data-theme="d"></textarea>
      <div style="float:right; margin: 3px"><%= link_to "#{@event.comments.count} Comments" %> </div>
    </div>

    <div data-role="fieldcontain" id="event_details">
      <%=@event.description if !@event.description.blank?%>
    </div>

    <div id="event_keyword">
      <%- @event.searchable_event_types.each do |set| -%>
        <span><%= set.name %></span>
      <%- end -%>
    </div>


    <div data-role="fieldcontain" id="event_map_canvas" class="page-map">

    </div>

    <div data-role="fieldcontain">
      <% if @event && @event.cancellable_by?(current_user) %>
        <%= link_to "Cancel Event", [@event], :confirm => 'Are you sure?', :method => 'delete' %>
      <% end %>
    </div>

  </div>
</div>

<script type="text/javascript">

  $('#more_details_link').click(function(event){
    event.preventDefault(); // Prevent link from following its href
    document.getElementById('event_details').scrollIntoView();
  });

  $('#map_link').click(function(event){
    event.preventDefault(); // Prevent link from following its href
    document.getElementById('event_map_canvas').scrollIntoView();
  });

  var latlng = '<%= @event.latitude %>,<%= @event.longitude %>'

  $('#event_main').live("pageshow", function() {
    $('#event_map_canvas').gmap('refresh');
  });

  $('#event_main').live("pagecreate",function() {

    $('#event_map_canvas').gmap(
    {'center': latlng, 'zoom': 15, 'disableDefaultUI': true
    }).bind('init', function(event, map) {
      $('#event_map_canvas').gmap('addMarker', {'position': latlng, 'draggable': false, 'bounds': false
      });
    });
      
  });
</script>
