<% content_for :head do %>
  <meta name="description" content="StreetMeets are real life, everyday interactions between you and your community. <%= @event.title %>, <%=@event.description%>"/>

  <meta property="og:title" content="<%= @event.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%=request.url %>" />
  <meta property="og:image" content="<%= url_for_event_image(@event) %>" />
  <meta property="og:site_name" content="SocialStreet" />
  <meta property="og:description" content="<%= 'SocialStreet mission is to make it easy to discover friends (new or old) that enjoy the same things as you! By attending and organizing "StreetMeets", you are sure to discover that you are surrounded by people just like you!'%>" />
  <meta property="fb:app_id" content="<%=FACEBOOK_APP_ID%>" />
<% end %>



<% content_for :left_side_pane do %>
  <div id="show_event_details">
    <% if @event.can_edit?(current_user) %>
      <div id="edit_event_links">
        <%= link_to "Edit StreetMeet", edit_event_path(@event), :id=>"edit_event_link" %>
        <%= link_to "Cancel StreetMeet", [@event], :method=>'delete', :confirm => 'Are you sure you want to cancel this StreetMeet?', :id=>"destroy_event_link" %>
        <%= link_to "Send Message", '#', :class => 'admin-link', :id => "event_organizer_message" %>
        <%= link_to "SMOW", new_event_smow_path(@event), :class => "admin-link" if @current_user.god? %>
      </div>
    <% end %>

    <%= form_for @event, :method=>'put', :remote => true, :html => {:id=>"event_edit_form"} do |form|%>
      <div id="show_event_details_holder">

        <div id="show_event_text">
          <% @event.event_keywords.each_with_index do |ek, index| %>
            <div class="show-event-image <%= 'hidden' if index > 0 %>" data-event-type="<%=sprite_class_name_for_path(url_for_event_keyword(ek))%>">
              <%= image_tag(url_for_event_keyword(ek))%>
              <div style="text-align:center;font:11px/11px Arial, Helvetica, sans-serif;width:80px;">
                <%= ek.name %>
              </div>
            </div>
          <% end %>
          <div id="show_event_title">
            <span id="show_event_title_text" class="text-shadow">
              <%= @event.title %>
            </span>

          </div>
          <div id="show_event_date">
            <%= @event.date_range_as_sentence %>
          </div>
        </div>

        <div id="join_btn_holder" class="event-details-view">
          <%= render(:partial => 'events/rsvp_buttons', :locals => {:event => @event, :on_show => true}) %>
        </div>
      </div>

      <div id="show_event_description_holder" class="show-scroll-on-hover">
        <span id="show_event_description_text">
          <%= raw @event.description %>
        </span>
      </div>

    <% end %>

    <div id="social_bar" style="width:360px; height:40px;overflow:hidden;float:left;margin: 5px 0 0px 20px;">
      <iframe src="//www.facebook.com/plugins/like.php?href=<%=url_shortner(event_path(@event))%>&amp;send=false&amp;layout=button_count&amp;width=50&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=268954796465479" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:50px; height:21px; float:right;" allowTransparency="true"></iframe>
      <iframe src="//platform.twitter.com/widgets/tweet_button.html?url=<%=url_shortner(event_url(@event))%>&count=none&lang=en" allowtransparency="true" frameborder="0" scrolling="no" style="width:60px; height:20px; float:right; margin: 0 5px;"></iframe>
    </div>

    <br/>
  </div>

  <div class="event-details-view <%="hidden" if params[:invite]%>">
    <div class="">
      <%= form_for [@event, @comment], :remote => true, :html => {:id => "event_wall_form"} do |form| %>
        <div id="event_wall_text_field_holder">
          <%= form.text_area :body, :id => "event_wall_text_field", :placeholder => " Leave a Message", :class=>'ie-placeholder'-%>
        </div>
      <% end %>
      <div id="event_wall" class="cap-height scroll-pane show-scroll-on-hover" data-expandBottomOffset="20" style="overflow:auto;">
        <%@comments.each do |comment|%>
          <%= render :partial => 'comments/create.html', :locals => {:comment => comment} %>
        <% end %>
      </div>
    </div>
  </div>

<% end %>

<% content_for :right_side_pane do %>
  <div id="show_attendees_title" class="important-color text-shadow">
    <%= render :partial => 'attendee_title', :locals => {:event => @event} %>
  </div>
  <div id="show_attendees_holder" class="container">
    <ul id="show_attendees_list">
      <% @event.event_rsvps.attending_or_maybe_attending.each do |attendee| %>
        <li class="show-attendee" id="attendee_<%= attendee.user_id%>">
          <%= avatar(attendee.user, :size => "50x50", :class=> "show-attendee-icon", :gravity => "e")%>
          <span class="show-attendee-name"><%= attendee.user.name%></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<% content_for :center_pane do %>
  <div id="groups_holder" class="<%= 'hidden' unless params[:group]%>">
    <div class="container text-shadow" style="width:80%; height: auto;margin: 0 auto; font: bold 14px/14px Arial, Helvetica, sans-serif; color:white;padding: 20px;text-align:center;">
      To Join this Event, you must be a member of one of these groups. Please click on a group to become a member.
    </div>
    <ul>
      <% @event.groups.each do |group| %>
        <li class="group-type">
          <div class="container rounded-corners-four">
            <%group_class = "#{sprite_class_name_for_group(group)}"%>
            <div class="group-type-image rounded-corners-fifteen drop-shadow event-type-<%=group_class%>-small-sprite" data-event-type="<%=group_class%>"></div>
            <div class="group-type-name">
              <%= group.name %>
            </div>
            <%= hidden_field_tag "group_id", group.id %>
            <%= hidden_field_tag "group_required", !group.join_code_description.blank?  %>
            <%= hidden_field_tag "join_code_description", group.join_code_description  %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render :partial => 'groups/group_permissions' %>
  <%= render :partial => 'create_message' %>
<% end %>

<% unless params[:invite].blank? %>
  <%= render :partial => 'invitations/index.html', :locals => {:event => @event, :user_list => @invitation_user_connections} %>
<% end %>

<%= hidden_field_tag 'invite_view_bool', params[:invite] %>
<%= hidden_field_tag 'group_view_bool', params[:group] %>

<%= hidden_field_tag 'lat', @event.location.latitude %>
<%= hidden_field_tag 'lng', @event.location.longitude %>
<%= hidden_field_tag 'location_text', @event.location.text %>
<%= hidden_field_tag 'address', @event.location.short_address_as_sentence %>

<%= hidden_field_tag 'on_show_event', 'true' %>

<%= javascript_include_tag "site_specific/show_event" %>
