<% content_for :head do %>
  <meta property="og:title" content="<%= @event.title %>" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="<%=request.url %>" />
  <meta property="og:image" content="<%= url_for_event_image(@event) %>" />
  <meta property="og:site_name" content="SocialStreet" />
  <meta property="og:description" content="<%= 'SocialStreet mission is to make it easy to discover friends (new or old) that enjoy the same things as you! By attending and organizing "StreetMeets", you are sure to discover that you are surrounded by people just like you!'%>" />
  <meta property="fb:app_id" content="<%=FACEBOOK_APP_ID%>" />
<% end %>

<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function()
  {
    FB.init({appId: <%=FACEBOOK_APP_ID%>, status: true, cookie: true, xfbml: true});
    FB.XFBML.parse( $('#fb_like_btn')[0] );
  };

  (function() {
    var e = document.createElement('script');
    e.async = true;
    e.src = document.location.protocol +  '//connect.facebook.net/en_US/all.js';
    document.getElementById('fb-root').appendChild(e);
  }());
</script>

<% content_for :left_side_pane do %>
  <div id="show_event_details">
    <% if @event.can_edit?(current_user) %>
      <div id="edit_event_links">
        <%= link_to "Edit StreetMeet", edit_event_path(@event), :id=>"edit_event_link" %>
        <%= link_to "Cancel StreetMeet", [@event], :method=>'delete', :confirm => 'Are you sure you want to cancel this StreetMeet?', :id=>"destroy_event_link" %>
      </div>
    <% end %>
    <%= form_for @event, :method=>'put', :remote => true, :html => {:id=>"event_edit_form"} do |form|%>
      <div id="show_event_details_holder">

        <div id="show_event_text">
          <% @event.event_keywords.each_with_index do |ek, index| %>
            <div class="show-event-image <%= 'hidden' if index > 0 %>" data-event-type="<%=sprite_class_name_for_path(url_for_event_keyword(ek))%>">
              <%= image_tag(url_for_event_keyword(ek))%>
              <div style="text-align:center;font:11px/11px Arial, Helvetica, sans-serif;width:80px;">
                <%= ek.name %>
              </div>
            </div>
          <% end %>
          <div id="show_event_title">
            <span id="show_event_title_text" class="text-shadow">
              <%= @event.title %>
            </span>

          </div>
          <div id="show_event_date">
            <%= @event.date_range_as_sentence %>
          </div>
        </div>

        <div id="join_btn_holder" class="event-details-view">
          <%= render(:partial => 'events/rsvp_buttons', :locals => {:event => @event, :on_show => true}) %>
        </div>
      </div>

      <div id="show_event_description_holder" class="scroll-pane show-scroll-on-hover">
        <span id="show_event_description_text">
          <%= raw @event.description %>
        </span>
      </div>
    <% end %>
    <br/>
    <div style="font-size:2px;background-color:#4F4F4D">&nbsp;</div>
  </div>

  <div class="event-details-view <%="hidden" if params[:invite]%>">
    <div class="">
      <%= form_for [@event, @comment], :remote => true, :html => {:id => "event_wall_form"} do |form| %>
        <div id="event_wall_text_field_holder">
          <%= form.text_area :body, :id => "event_wall_text_field", :placeholder => " Leave a Message", :class=>'ie-placeholder'-%>
        </div>
      <% end %>
      <div id="event_wall" class="cap-height scroll-pane show-scroll-on-hover" data-expandBottomOffset="40" style="overflow:auto;">
        <%@comments.each do |comment|%>
          <%= render :partial => 'comments/create.html', :locals => {:comment => comment} %>
        <% end %>
        <% if @comments.empty? %>
          <div id="event_leave_message">
            Leave a Message
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <!--<div style="font-size:2px;background-color:#4F4F4D;position:absolute;bottom:30px;left:0px;width:400px;height:2px;">&nbsp;</div>-->
  <!--  <div id="fb_like_btn" style="width:50px;height:20px;overflow:hidden;position:absolute;bottom:5px; left:330px;">
      <div class="fb-like" data-href="<%=event_path(@event)%>" data-send="false" data-layout="button_count" data-width="30" data-show-faces="false"></div>
    </div>-->

<% end %>

<% content_for :right_side_pane do %>
  <div id="show_attendees_title" class="important-color text-shadow">
    <%="#{pluralize @event.number_of_attendees, 'Person'} Attending"%>
  </div>
  <div id="show_attendees_holder" class="container">
    <ul id="show_attendees_list">
      <% @event.event_rsvps.attending.each do |attendee| %>
        <li class="show-attendee" id="attendee_<%=attendee.user_id%>">
          <%=avatar(attendee.user, :size => "50x50", :class=> "show-attendee-icon")%>
          <span class="show-attendee-name"><%=attendee.user.name%></span>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>


<% content_for :center_pane do %>
  <div id="groups_holder" class="<%= 'hidden' unless params[:group]%>">
    <div class="container text-shadow" style="width:80%; height: auto;margin: 0 auto; font: bold 14px/14px Arial, Helvetica, sans-serif; color:white;padding: 20px;text-align:center;">
      To Join this Event, you must be a member of one of these groups. Please click on a group to become a member.
    </div>
    <ul>
      <% @event.groups.each do |group| %>
        <li class="group-type">
          <div class="container rounded-corners-four">
            <%group_class = "#{sprite_class_name_for_group(group)}"%>
            <div class="group-type-image rounded-corners-fifteen drop-shadow event-type-<%=group_class%>-small-sprite" data-event-type="<%=group_class%>"></div>
            <div class="group-type-name">
              <%= group.name %>
            </div>
            <%= hidden_field_tag "group_id", group.id %>
            <%= hidden_field_tag "group_required", !group.join_code_description.blank?  %>
            <%= hidden_field_tag "join_code_description", group.join_code_description  %>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
  <%= render :partial => 'groups/group_permissions.html'%>
<% end %>

<% unless params[:invite].blank? %>
  <%= render :partial => 'invitations/index.html', :locals => {:event => @event, :user_list => @invitation_user_connections} %>
<% end %>

<%= hidden_field_tag 'invite_view_bool', params[:invite] %>
<%= hidden_field_tag 'group_view_bool', params[:group] %>

<%= hidden_field_tag 'lat', @event.location.latitude %>
<%= hidden_field_tag 'lng', @event.location.longitude %>
<%= hidden_field_tag 'location_text', @event.location.text %>
<%= hidden_field_tag 'address', @event.location.short_address_as_sentence %>

<%= hidden_field_tag 'on_show_event', 'true' %>

<%= javascript_include_tag "site_specific/show_event"%>
