<div class="block">

  <div class="content">

    <div style="float:left">
      <%= image_tag(url_for_event_image(@event), :size => "80x80", :class => "avatar", :style => "float:left;margin:5px;") %>
      <b><center><%= event_type_name @event %></center></b>
    </div>

    <div class="inner">
      <h2 class="title"><%= @event.name %></h2>
      <em><%= display_date_time(@event.starts_at) %></em>
      <% if @event.finishes_at %>
        <em>until <%= display_date_time(@event.finishes_at) %></em>
      <% end %>
      <br/>

      <p><%= simple_format @event.description %></p>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="block">
  <div class="content">

    <div id="comment-box" style="float:right;height:30px;padding:10px;margin:15px 15px 0px 0px; background-color: #EEE; border: 1px solid #EEE; border-radius: 5px;">
      <%= form_for [@event, @comment], :remote => true, :html => {"data-type" => "html",:class => "form comment-form" } do |form| %>
        <%= form.text_area :body, :cols => "50", :rows => "2", :style => "float:left" %>
        <button class="button comment-button" type="submit" style="margin-left:10px">Comment</button>
        <div class="clear"></div>
      <% end %>
    </div>

    <%= render 'shared/commenting' %>

    <h2 class="title">Latest Activity</h2>

    <div class="inner">
      <ul class="list" id="action-list">
        <% @actions.each do |action| %>
          <%= render 'shared/action', :action => action unless action.of_type? :event_created %>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<% content_for :sidebar do %>

  <div class="block notice">
    <h4>Actions</h4>
    <% if @event.editable_time? %>
      <% if @rsvp%>
        <% if !@event.canceled? %>
          <%= link_to "Edit RSVP (#{@rsvp.status})", [:edit, @event, @rsvp], :class => "button" %>
          <%= link_to "Invite People", [:change, @event, @rsvp, :invitations], :class => "button" %>
        <% end %>
        <% if @event.editable_by?(current_user) %>
          <%= link_to "Edit Event", [:edit, @event], :class => "button" %>
        <% end %>
      <% elsif !@event.canceled? %>
        <%= link_to 'Join Event', [:new, @event, :rsvp], :class => "button" %>
      <% end %>
    <% end %>

    <div class="clear"></div>
  </div>

  <div class="block notice">
    <h4>Location</h4>
    <% if @event.geo_located? %>
      <center>
        <img width="90%"
             src="http://maps.google.com/maps/api/staticmap?zoom=14&size=320x320&maptype=roadmap&sensor=false&markers=color:red%7Clabel:A%7C<%= @event.latitude %>,<%= @event.longitude %>"
             alt="location map" />
      </center>
      <br/>
    <% end %>
    <% if l = @event.location %>
      <% if l.text %>
        <strong><%= l.text %></strong><br/>
      <% end %>
      <% if l.street? %>
        <%= l.street %><br/>
      <% end %>
      <% if l.city? || l.state? %>
        <%= l.city %> <%= l.state %><br/>
      <% end %>
      <% if l.country? %>
        <%= l.country %><br/>
      <% end %>
    <% end %>
  </div>

  <div class="block notice">
    <h4>Organizers</h4>
    <% if @event.user == current_user %>
      <%= link_to "Add", [:new, @event, :administrator], :class => "button" %>
    <% end %>
    <% @event.administrators_rsvps_list.each do |administrator_rsvp| %>
      <%= render 'shared/user_list_element', :user => administrator_rsvp.user%>
    <% end %>
  </div>

  <div class="block notice">
    <h4>Attending (<%= @event.num_attending %>)</h4>
    <% @event.attendees_rsvps_list.each do |attendee_rsvp| %>
      <%= render 'shared/user_list_element', :user => attendee_rsvp.user%>
    <% end %>
  </div>

  <div class ="block notice">
    <h4>
      <%if @event.maximum_attendees%>
        Waiting (<%= @event.num_waiting%>)
      <%else%>
        Maybe (<%= @event.num_maybe_attending%>)
      <%end%>
    </h4>
  </div>

  <div class="clear"></div>

<% end %>
