<div class="profile">
  <div class="profile-holder">
    <%= image_tag(url_for_event_image(@event), :size => "80x80", :class => "avatar") %>
    <div class="text">
      <div class="row">
        <div class="text-content">
          <h2><%= @event.name %></h2>
          <p><%=  @event.location.text %></p>
        </div>
        <a href="#" class="btn-share">Share</a>
      </div>
    </div>
    <div class="info">
      <div class="col">
        <%- if @rsvp -%>
          <a href="#" class="btn-attending"><span>Attending</span></a>
          <%- if !@event.canceled?-%>
            <p>or <%= link_to "Invite People", [:change, @event, @rsvp, :invitations], :class => "button" %></p>
          <%- end -%>
        <%- else -%>
          <a href="#" class="btn-attend"><span>Attend</span></a>
          <%#Invites should be here too, but currently requires @rsvp%>
        <%- end -%>
      </div>
      <div class="col-holder">
        <div class="col">
          <span>Start Day:</span>
          <strong><%= @event.starts_at.strftime("%B %d") %></strong>
        </div>
        <% if @event.finishes_at && @event.end_date != @event.start_date %>
          <div class="col">
            <span>End Day:</span>
            <strong><%= @event.finishes_at.strftime("%B %d") %></strong>
          </div>
        <%- end -%>
        <div class="col">
          <span>Start Time:</span>
          <strong><%= @event.starts_at.strftime("%l:%M %p") -%></strong>
        </div>
        <% if @event.finishes_at %>
          <div class="col">
            <span>End Time:</span>
            <strong><%= @event.finishes_at.strftime("%l:%M %p") -%></strong>
          </div>
        <%- end -%>
      </div>
    </div>    
  </div>
  <div class="keyword">
    <%- @event.searchable_event_types.each do |set| -%>
      <%= link_to set.name, '#', :onclick => "return false;" -%>
    <%- end -%>
  </div>
</div>
<div class="post-message">
  <%= form_for [@event, @comment], :remote => true, :html => {"data-type" => "html",:class => "form-post-message Post-Message form comment-form" } do |form| %>
    <fieldset>
      <div class="text">
        <%= form.text_field :body, :title => "Post a Message" -%>
      </div>
      <div class="info">
        <p>Your message will be posted to <span>X (address)</span> with the keywords <span>Y (keyword)</span>.</p>
        <p>Others in this community will be able to see and reply to your post.</p>
      </div>
    </fieldset>
  <%- end -%>
  <%= render 'shared/commenting' %>
</div>
<div id="comment-box" class="post-holder Post-Holder" >
  <div id="action-list">
    <% @actions.each do |action| %>
      <%= render 'shared/action', :action => action %>
    <% end %>
  </div>
</div>

<% content_for :sidebar do %> 

  <div class="box map">
    <div class="heading">
      <h3>
        <% if l = @event.location %>
          <% if l.text %>
            <strong><%= l.text %></strong><br/>
          <% end %>
          <% if l.street? %>
            <%= l.street %><br/>
          <% end %>
          <% if l.city? || l.state? %>
            <%= l.city %> <%= l.state %><br/>
          <% end %>
          <% if l.country? %>
            <%= l.country %><br/>
          <% end %>
        <% end %>
      </h3>
    </div>
    <div class="map-holder">
      <% if @event.geo_located? %>
        <img src="http://maps.google.com/maps/api/staticmap?zoom=14&size=317x217&maptype=roadmap&sensor=false&markers=color:red%7Clabel:A%7C<%= @event.latitude %>,<%= @event.longitude %>"
             alt="location map" />
           <% end %>
    </div>
  </div>

  <div class="box people-list">
    <div class="heading">
      <h3>Attending</h3>
      <a href="#" class="btn-view">View all</a>
    </div>
    <div class="box-content">
      <ul class="list-img">
        <% @event.attendees_rsvps_list.each do |attendee_rsvp| %>
          <li><%= render 'shared/user_list_element', :user => attendee_rsvp.user%></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="box people-list">
    <div class="heading">
      <h3>Organizers</h3>
      <a href="#" class="btn-view">View all</a>
    </div>
    <div class="box-content">
      <ul class="list-img">
        <% @event.administrators_rsvps_list.each do |administrator_rsvp| %>
          <li><%= render 'shared/user_list_element', :user => administrator_rsvp.user%></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="block notice">
    <p>TODO Format for these actions!</p>
    <h4>Actions</h4>
    <% if @event.editable_time? %>
      <% if @rsvp%>

        <% if !@event.canceled? %>
          <%= link_to "Edit RSVP (#{@rsvp.status})", [:edit, @event, @rsvp], :class => "button" %>
          <%= link_to "Invite People", [:change, @event, @rsvp, :invitations], :class => "button" %>
        <% end %>

        <% if @event.editable_by?(current_user) %>
          <%= link_to "Edit Event", [:edit, @event], :class => "button" %>
        <% end %>

        <%- unless @rsvp.posted_to_facebook? -%>
          <%= link_to "Post to Facebook", [:post_to_facebook, @event], :class => "button" -%>
        <%- end -%>

      <% elsif !@event.canceled? %>
        <%= link_to 'Join Event', [:new, @event, :rsvp], :class => "button" %>
        <%= link_to "Post to Facebook", [:post_to_facebook, @event], :class => "button" -%>
      <% end %>

    <% end %>

    <div class="clear"></div>
  </div>

<% end %>
