<% can_edit = @event.can_edit?(current_user) %>

<% content_for :left_side_pane do %>
  <div id="show_event_details" class="">
    <%= form_for @event, :method=>'put', :remote => true, :html => {:id=>"event_edit_form"} do |form|%>
      <div id="show_event_details_holder">
        <div id="show_event_text">
          <div id="show_event_image">
            <%= image_tag(url_for_event_image(@event))%>
          </div>
          <div id="show_event_title">
            <span id="show_event_title_text">
              <%= truncate_html(@event.title, :length => (can_edit ? 36 : 50)) %>
            </span>
            <% if can_edit %>
              <span id="edit_event_title_link">...Edit Title</span>
              <%= form.text_field :name, :id=> "edit_event_title_field", :class=>"hidden", :style=>"width:270px;" %>
            <% end %>
          </div>
          <div id="show_event_date">
            <%= @event.date_range_as_sentence %>
          </div>
          <div id="show_event_tags">
            Tags: <%= truncate_html(@event.event_keywords_as_sentence, :length => 35) %>
          </div>
        </div>
      </div>
      <div id="show_event_description_holder" class="scroll-pane show-scroll-on-hover">
        <% if can_edit %>
          <span id="edit_event_description_link">
            <%=(@event.description && @event.description.length > 0) ? "Edit description..." : "Add Description..."%>
          </span>
          <%= form.text_area :description, :id=> "edit_event_description_field", :class=>"hidden", :style=>"width:360px;height:70px;" %>
        <% end %>
        <span id="show_event_description_text">
          <%= raw @event.description %>
        </span>
      </div>
    <% end %>
  </div>

  <div class="event-details-view <%="hidden" if params[:invite]%>">
    <div class="">
      <%= form_for [@event, @comment], :remote => true, :html => {:id => "event_wall_form"} do |form| %>
        <div id="event_wall_text_field_holder">
          <%= form.text_area :body, :id => "event_wall_text_field", :placeholder => "Leave a Message", :rows => 1-%>
        </div>
      <% end %>
      <div id="event_wall" class="cap-height scroll-pane show-scroll-on-hover" data-expandBottomOffset="10" style="overflow:auto;">
        <%@comments.each do |comment|%>
          <%= render :partial => 'comments/create.html', :locals => {:comment => comment} %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :top_pane do %>
  <div class="event-details-view <%="hidden" if params[:invite]%>">
    <% if can_edit %>
      <div>
        <%= link_to "Edit StreetMeet...", edit_event_path(@event), :id=>"edit_event_link" %>
        <%= link_to "Cancel", [@event], :method=>'delete', :confirm => 'Are you sure you want to cancel this StreetMeet?', :id=>"destroy_event_link" %>
      </div>
    <% end %>
    <div id="join_btn_holder">
      <% if @event.canceled %>
        <div id="event_canceled_btn">
          Canceled
        </div>
      <% else %>
        <%=render(:partial => 'rsvp_buttons', :locals => {:event => @event})%>
      <% end %>
    </div>

    <% unless @event.event_rsvps.attending.blank? %>
      <div id="show_attendees_holder" class="">
        <div id="show_attendees_title" class="container">
          <%= "#{pluralize @event.number_of_attendees, 'Person'} Attending" %>
        </div>
        <div id="show_attendees_list_holder" class="scroll-pane">
          <ul id="show_attendees_list">
            <%@event.event_rsvps.attending.each do |attendee|%>
              <li class="show-attendee-holder">
                <%=avatar(attendee.user, :size => "55x55", :class=> "drop-shadow")%>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<% content_for :bottom_pane do %>
<div id="show_panorama" style="width:400px; height: 300px;"></div>
<% end %>

<% unless params[:invite].blank? %>
  <%= render :partial => 'invitations/index.html', :locals => {:event => @event, :user_list => @invitation_user_connections} %>
<% end %>

<%= hidden_field_tag 'invite_view_bool', params[:invite] %>

<%= hidden_field_tag 'lat', @event.location.latitude %>
<%= hidden_field_tag 'lng', @event.location.longitude %>
<%= hidden_field_tag 'location_text', @event.location.text %>
<%= hidden_field_tag 'address', @event.location.short_address_as_sentence %>

<%= javascript_include_tag 'infobubble', "site_specific/show_event"%>
