<% can_edit = @event.can_edit?(current_user) %>

<% content_for :left_side_pane do %>
  <%= render 'sidebar', :locals => {:can_edit => can_edit} %>
<% end %>

<% content_for :top_pane do %>
  <div class="event-details-view">
    <% if can_edit %>
      <div>
        <%= link_to "Edit StreetMeet...", edit_event_path(@event), :id=>"edit_event_link" %>
        <%= link_to "Cancel", [@event], :method=>'delete', :confirm => 'Are you sure you want to cancel this StreetMeet?', :id=>"destroy_event_link" %>
      </div>
    <% end %>
    <div id="join_btn_holder">
      <% if @event.canceled %>
        <div id="event_canceled_btn">
          Canceled
        </div>
      <% else %>
        <%=render(:partial => 'rsvp_buttons', :locals => {:event => @event})%>
      <% end %>
    </div>

    <div id="show_attendees_holder" class="container">
      <div id="show_attendees_title">
        <%= "#{pluralize @event.number_of_attendees, 'Person'} Attending" %>
      </div>
      <div id="show_attendees_list_holder" class="scroll-pane">
        <ul id="show_attendees_list">
          <%@event.event_rsvps.attending.each do |attendee|%>
            <li class="show-attendee-holder">
              <%=avatar(attendee.user, :size => "55x55", :class=> "drop-shadow")%>
              <span class="attendee-name hidden">
                <%=attendee.user.name%>
              </span>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>

<%= render :partial => 'invitations/index.html', :locals => {:event => @event, :user_list => @invitation_user_connections} %>

<%= hidden_field_tag 'invite_view_bool', params[:invite] %>

<%= hidden_field_tag 'lat', @event.location.latitude %>
<%= hidden_field_tag 'lng', @event.location.longitude %>
<%= hidden_field_tag 'location_text', @event.location.text %>
<%= hidden_field_tag 'address', @event.location.short_address_as_sentence %>

<%= javascript_include_tag 'infobubble', "site_specific/show_event"%>
