<%= render 'sidebar' %>

<div id="invitation_view" class="<%="hidden" unless params[:invite] %>">
  <%= render :partial => 'invitations/index.html', :locals => {:event => @event, :user_list => @invitation_user_connections} %>
</div>

<%= hidden_field_tag 'lat', @event.location.latitude %>
<%= hidden_field_tag 'lng', @event.location.longitude %>
<%= hidden_field_tag 'location_text', @event.location.text %>
<%= hidden_field_tag 'address', @event.location.short_address_as_sentence %>

<%= javascript_include_tag 'infobubble', "site_specific/show_event"%>
