<% can_edit = @event.can_edit?(current_user) %>

<% content_for :left_side_pane do %>
  <div id="show_event_details">
    <% if can_edit %>
      <div id="edit_event_links">
        <%= link_to "Edit StreetMeet", edit_event_path(@event), :id=>"edit_event_link" %>
        <%= link_to "Cancel", [@event], :method=>'delete', :confirm => 'Are you sure you want to cancel this StreetMeet?', :id=>"destroy_event_link" %>
      </div>
    <% end %>

    <%= form_for @event, :method=>'put', :remote => true, :html => {:id=>"event_edit_form"} do |form|%>
      <div id="show_event_details_holder">

        <div id="show_event_text">
          <% @event.event_keywords.each_with_index do |ek, index| %>
            <div class="show-event-image <%= 'hidden' if index > 0 %>">
              <%= image_tag(url_for_event_keyword(ek))%>
              <div style="text-align:center;font:11px/11px Arial, Helvetica, sans-serif;width:80px;">
                <%= ek.name %>
              </div>
            </div>
          <% end %>
          <div id="show_event_title">
            <% if can_edit %>
              <span id="edit_event_title_link">Edit Title</span>
              <input id="edit_event_title_field" class="hidden" name="event[name]" value="<%= @event.title %>"/>
            <% end %>
            <span id="show_event_title_text" class="text-shadow <%= "short" if can_edit -%>">
              <%= @event.title %>
            </span>

          </div>
          <div id="show_event_date">
            <%= @event.date_range_as_sentence %>
          </div>
        </div>

        <div id="join_btn_holder" class="event-details-view">
          <%= render(:partial => 'events/rsvp_buttons', :locals => {:event => @event}) %>
        </div>

      </div>
      <div id="show_event_description_holder" class="scroll-pane show-scroll-on-hover">
        <% if can_edit %>
          <span id="edit_event_description_link">
            <%=(@event.description && @event.description.length > 0) ? "Edit description..." : "Add Description..."%>
          </span>
          <%= form.text_area :description, :id=> "edit_event_description_field", :class=>"hidden", :style=>"width:360px;height:70px;" %>
        <% end %>
        <span id="show_event_description_text">
          <%= raw @event.description %>
        </span>
      </div>
    <% end %>
    <br/>
    <div style="font-size:2px;background-color:#4F4F4D">&nbsp;</div>
  </div>

  <div class="event-details-view <%="hidden" if params[:invite]%>">
    <div class="">
      <%= form_for [@event, @comment], :remote => true, :html => {:id => "event_wall_form"} do |form| %>
        <div id="event_wall_text_field_holder">
          <%= form.text_area :body, :id => "event_wall_text_field", :placeholder => "Leave a Message", :rows => 1-%>
        </div>
      <% end %>
      <div id="event_wall" class="cap-height scroll-pane show-scroll-on-hover" data-expandBottomOffset="10" style="overflow:auto;">
        <%@comments.each do |comment|%>
          <%= render :partial => 'comments/create.html', :locals => {:comment => comment} %>
        <% end %>
        <% if @comments.empty? %>
          <div id="event_leave_message">
            Leave a Message for your fellow SocialStreeters
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :right_side_pane do %>
  <div id="show_attendees_title" class="important-color text-shadow">
    <%="#{pluralize @event.number_of_attendees, 'Person'} Attending"%>
  </div>
  <div id="show_attendees_holder" class="scroll-pane container">
    <ul id="show_attendees_list" class="">
      <%@event.event_rsvps.attending.each do |attendee|%>
        <li class="show-attendee">
          <%=avatar(attendee.user, :size => "50x50", :class=> "show-attendee-icon")%>
          <span class="show-attendee-name"><%=attendee.user.name%></span>
        </li>
      <%end%>
    </ul>
  </div>
<% end %>


<% unless params[:invite].blank? %>
  <%= render :partial => 'invitations/index.html', :locals => {:event => @event, :user_list => @invitation_user_connections} %>
<% end %>

<%= hidden_field_tag 'invite_view_bool', params[:invite] %>

<%= hidden_field_tag 'lat', @event.location.latitude %>
<%= hidden_field_tag 'lng', @event.location.longitude %>
<%= hidden_field_tag 'location_text', @event.location.text %>
<%= hidden_field_tag 'address', @event.location.short_address_as_sentence %>

<%= javascript_include_tag "site_specific/show_event"%>
