<div id="show_event_details" class="x-small-box y-small-box position-y-top position-x-left">
  <div class="result">
    <div class="result-image">
      <%= image_tag(url_for_event_image(@event))%>
    </div>
    <div class="result-text">
      <div class="result-title">
        <%= @event.name %>
      </div>
      <div class="result-date">
        When: <%= @event.start_date.strftime("%B %d %l:%M %p") %> - <%= @event.end_date.strftime("%B %d %l:%M %p") %>
      </div>
      <div class="result-tags">
        Tags: <%= @event.event_keywords.collect(&:name).compact.to_sentence({:two_words_connector => "&", :last_word_connector => "&"}) %>
      </div>
    </div>
    <div class="result-description">
      <%= @event.description %>
    </div>
  </div>
</div>

<div class="x-small-box y-medium-box position-y-middle position-x-left">
  <%= form_for [@event, @comment], :remote => true, :html => {:id => "event_wall_form"} do |form| %>
    <div id="event_wall_text_field_holder">
      <%= form.text_area :body, :id => "event_wall_text_field", :placeholder => "Leave a Message", :rows => 1-%>
    </div>
  <% end %>
  <div id="event_wall">
    <%@comments.each do |comment|%>
      <%= render :partial => 'comments/create.html', :locals => {:comment => comment} %>
    <% end %>
  </div>
</div>

<!--TODO better button and placement-->
<%= image_tag('header-close.png', :class => 'position-y-middle position-x-center') %>

<div class="x-medium-box y-small-box position-y-top position-x-center">
  <div id="join_btn_holder">
    <%=render(:partial => 'rsvp_buttons', :locals => {:event => @event})%>
  </div>

  <div id="show_attendees_holder">
    <div id="show_attendees_title">
      Attendees
    </div>
    <div id="show_attendees_list_holder">
      <ul id="show_attendees_list">

      </ul>
    </div>
  </div>
</div>

<%= hidden_field_tag 'lat', @event.location.latitude %>
<%= hidden_field_tag 'lng', @event.location.longitude %>

<%= javascript_include_tag "site_specific/show_event" %>
