<% content_for :main_top do %>
  <div class="col1">
    <% if @event.editable_time? && @rsvp%>
      <% if @event.editable_by?(current_user) %>
        <div class="admin-view">
          <strong>
            <%= link_to "Edit this event", [:edit, @event] %>
          </strong>
          <% if @event.user == current_user %>
            or
            <strong>
              <%= link_to_popup_modal "+add administrators", "add-administrators" -%>
        <%#= link_to "+add administrators", [:new, @event, :administrator] %>
            </strong>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="col2"></div>
<% end %>

<div class="profile">
  <div class="profile-holder">
    <%= image_tag(url_for_event_image(@event), :size => "80x80", :class => "avatar") %>
    <div class="text">
      <div class="row">
        <div class="text-content">
          <h2><%= @event.name %></h2>
          <p>
            <% if l = @event.location %>
              <% if l.text %>
                <%= l.text %>
              <%  end %>
              <% if l.street? %>
                <%= l.street %><br/>
              <% end %>
              <% if l.city? || l.state? %>
                <%= l.city %> <%= l.state %><br/>
              <% end %>
              <% if l.country? %>
                <%= l.country %><br/>
              <% end %>
            <% end %>
          </p>
        </div>

        <%= link_to "Share", [:post_to_facebook, @event], :class => "btn-share" -%>

      </div>
      <div class="info">
        <div class="col">
          <%- if !@event.canceled? && @event.editable_time?%>
            <%- if @rsvp && Rsvp.statuses[:attending] == @rsvp.status   -%>
              <%= link_to [:edit, @event, @rsvp], :class => "btn-attending" do %>
                <span>Attending</span>
              <% end %>
              <p>or
                <%= link_to_popup_modal "Invite People", "add-invitees" -%>
              </p>
            <%- else -%>
              <%= link_to [:new, @event, :rsvp], :class => "btn-attend" do %>
                <span>Attend</span>
              <% end %>
    <%#Invites should be here too, but currently requires @rsvp%>
            <%- end %>
          <%- end -%>
        </div>
        <div class="col-holder">
          <div class="col">
            <span>Start Day:</span>
            <strong><%= @event.starts_at.strftime("%B %d") %></strong>
          </div>
          <% if @event.finishes_at && @event.end_date != @event.start_date %>
            <div class="col">
              <span>End Day:</span>
              <strong><%= @event.finishes_at.strftime("%B %d") %></strong>
            </div>
          <%- end -%>
          <div class="col">
            <span>Start Time:</span>
            <strong><%= @event.starts_at.strftime("%l:%M %p") -%></strong>
          </div>
          <% if @event.finishes_at %>
            <div class="col">
              <span>End Time:</span>
              <strong><%= @event.finishes_at.strftime("%l:%M %p") -%></strong>
            </div>
          <%- end -%>
        </div>
      </div>
    </div>
  </div>
  <div class="keyword">
    <%- @event.searchable_event_types.each do |set| -%>
      <%= link_to "#", :onclick => "return false;" do-%>
        <span><%= set.name %></span>
      <%- end -%>
    <%- end -%>
  </div>
</div>
<div class="post-message">
  <%= form_for [@event, @comment], :remote => true, :html => {"data-type" => "html",:class => "form-post-message Post-Message form comment-form" } do |form| %>
    <fieldset>
      <div class="text">
        <%= form.text_field :body, :title => "Post a Message" -%>
      </div>
      <div class="info">
      </div>
    </fieldset>
  <%- end -%>
  <%= render 'shared/commenting' %>
</div>
<div id="comment-box" class="post-holder Post-Holder" >
  <div id="action-list">
    <%=  render :partial => 'actions' %>
  </div>
</div>

<% content_for :sidebar do %>

  <div class="box map">
    <div class="heading">
      <h3>
        <% if l = @event.location %>
          <% if l.text %>
            <strong><%= l.text %></strong><br/>
          <% end %>
          <% if l.street? %>
            <%= l.street %><br/>
          <% end %>
          <% if l.city? || l.state? %>
            <%= l.city %> <%= l.state %><br/>
          <% end %>
          <% if l.country? %>
            <%= l.country %><br/>
          <% end %>
        <% end %>
      </h3>
    </div>
    <div class="map-holder">
      <% if @event.geo_located? %>
        <img src="http://maps.google.com/maps/api/staticmap?zoom=14&size=317x217&maptype=roadmap&sensor=false&markers=color:red%7Clabel:A%7C<%= @event.latitude %>,<%= @event.longitude %>"
             alt="location map" />
           <% end %>
    </div>
  </div>

  <div class="box people-list">
    <div class="heading">
      <h3>Attending</h3>
      <a href="#" class="btn-view">View all</a>
    </div>
    <div class="box-content">
      <ul class="list-img">
        <% @event.attendees_rsvps_list.each do |attendee_rsvp| %>
          <li><%= render 'shared/user_list_element', :user => attendee_rsvp.user%></li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="box people-list">
    <div class="heading">
      <h3>Organizers</h3>
      <a href="#" class="btn-view">View all</a>
    </div>
    <div class="box-content">
      <ul class="list-img">
        <% @event.administrators_rsvps_list.each do |administrator_rsvp| %>
          <li><%= render 'shared/user_list_element', :user => administrator_rsvp.user%></li>
        <% end %>
      </ul>
    </div>
  </div>

<% end %>


<%= content_for :popup_modals do -%>
  <div id="add-administrators" class="pop-up pop-up-modal" style="display:none;">
    <div class="pop-up1 pop-up2">
      <div class="heading">
        <strong>Add Administrators</strong>
        <%= link_to "close", '#', :class => "btn-close" -%>
      </div>
      <div class="pop-up1-content">
        <%= render :template => "administrators/new" -%>
      </div>
    </div>
    <%= form_tag event_administrators_path(@event), :method => :post, :class => "admin-form" do  %>
      <div class="day-detail friend">
        <div class="heading">
          <strong class="day"><%= @administrator_rsvps.count -%></strong>
          <span class="day-info">Administrators</span>
        </div>
        <div class="friends-list-holder">
          <ul class="selected-list-administrators">
            <% @administrator_rsvps.each do |administrator_rsvp| %>
              <%= render 'administrators/administrator_rsvp', :rsvp => administrator_rsvp %>
            <% end %>
          </ul>
        </div>
      </div>
    <%- end -%>
  </div>

  <div id="add-invitees" class="pop-up pop-up-modal" style="display:none; position: fixed;">
    <div class="pop-up1 pop-up2">
      <div class="heading">
        <strong>Invite your friends</strong>
        <%= link_to "close", '#', :class => "btn-close" -%>
      </div>
      <div class="pop-up1-content">
        <%= render :template => "invitations/new" -%>
      </div>
    </div>
    <%= form_tag event_rsvp_invitations_path(@event, @rsvp), :method => :post, :class => "form" do  %>

      <div class="day-detail friend">
        <div class="heading">
          <strong class="day"><%= @administrator_rsvps.count -%></strong>
          <span class="day-info">Invitees</span>
        </div>
        <div class="friends-list-holder">
          <ul class="selected-list-invitations">
            <% @invitations.each do |i| %>
              <%= render 'invitations/invitation', :invitation => i %>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>


  </div>

<%- end -%>


<% content_for :end_of_body do %>

  <%= javascript_include_tag 'jquery.pageless' %>

  <script>
    function makePageless(numPages, currentPage) {
      $('#action-list').pageless({ totalPages: numPages,
        url: '<%= @event %>',
        loaderMsg: 'Loading more results',
        currentPage: currentPage
      });
    }

    makePageless(<%= @num_pages %>, <%= params[:page] || 1 %>);
  </script>
<% end %>
