<div class="block">

  <div class="content">

    <div style="float:left">
      <%= image_tag(event_image(@event), :size => "80x80", :class => "avatar", :style => "float:left;margin:5px;") %>
      <b><center><%= @event.event_type.try(:name) || "Unknown Type" %></center></b>
    </div>

    <div class="inner">
      <h2 class="title"><%= @event.name %></h2>
      <em><%= display_date_time(@event.starts_at) %></em>
      <% if @event.finishes_at %>
        <em>until <%= display_date_time(@event.finishes_at) %></em>
      <% end %>
      <br/>

      <p><%= @event.description %></p>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="block">
  <div class="content">
    <h2 class="title">Add Comment</h2>
    <div class="inner">
      <%= form_for [@event, @comment], :html => { :class => "form" } do |form| %>
        <%= form.text_area :body, :cols => "80", :rows => "2" %>
        <%= render 'shared/form_submit_button'  %>
      <% end %>
    </div>
  </div>
</div>

<div class="block">
  <div class="content">
    <h2 class="title">Latest Activity</h2>
    <div class="inner">
      <ul class="list">
        <% @actions.each do |action| %>
          <%= render 'shared/action', :action => action unless action.of_type? :event_created %>
        <% end %>
      </ul>
    </div>
  </div>
</div>


<% content_for :sidebar do %>

  <div class="block notice">
    <h4>Actions</h4>
    <% if @rsvp%>
      <%= link_to "Edit RSVP (#{@rsvp.status})", [:edit, @event, @rsvp], :class => "button" %>
      <% if @rsvp.administrator? %>
        <%= link_to "Edit Event", [:edit, @event], :class => "button" %>
      <% end %>
    <% else %>
      <%= link_to 'Join Event', [:new, @event, :rsvp], :class => "button" %>
    <% end %>

    <div class="clear"></div>
  </div>

  <div class="block notice">
    <h4>Location</h4>
    <% if @event.geo_located? %>
      <center>
        <img width="90%"
             src="http://maps.google.com/maps/api/staticmap?zoom=14&size=320x320&maptype=roadmap&sensor=false&markers=color:red%7Clabel:A%7C<%= @event.latitude %>,<%= @event.longitude %>"
             alt="location map" />
      </center>
      <br/>
    <% end %>
    <% if l = @event.location %>
      <% if l.text %>
        <strong><%= l.text %></strong><br/>
      <% end %>
      <% if l.street? %>
        <%= l.street %><br/>
      <% end %>
      <% if l.city? || l.state? %>
        <%= l.city %> <%= l.state %><br/>
      <% end %>
      <% if l.country? %>
        <%= l.country %><br/>
      <% end %>
    <% end %>
  </div>

  <div class="block notice">
    <h4>Organizers (<%= @event.num_administrators %>)</h4>
    <% @event.administrators_rsvps_list.each do |administrator_rsvp| %>
      <%= render 'shared/user_list_element', :user => administrator_rsvp.user%>
    <% end %>
  </div>

  <div class="block notice">
    <h4>Attending (<%= @event.num_attending %>)</h4>
    <% @event.attendees_rsvps_list.each do |attendee_rsvp| %>
          <%= render 'shared/user_list_element', :user => attendee_rsvp.user%>
    <% end %>
  </div>

  <div class ="block notice">
    <h4>
    <%if @event.maximum_attendees%>
      Waiting (<%= @event.num_waiting%>)
    <%else%>
      Maybe (<%= @event.num_maybe_attending%>)
    <%end%>
    </h4>
  </div>

  <div class="clear"></div>

<% end %>

<% content_for :end_of_body do %>
  <script>
    $(function() {
      $('.create-comment-link').click(function() {
        var $this = $(this);
        $this.closest('.action').find('.action-comment-container').slideToggle();
        return false;
      });
    });
  </script>
<% end %>