<% content_for :center_pane do %>
  <div id="invitation_list" class="event-invitation-view invisible <%="hidden" unless params[:invite]%>">
    <div id="invitation_list_title">
      Invitations
    </div>
    <ul id="invited_user_list">
      <li id="invited_user_clone" class="already-invited-user hidden">
        <div class="already-invited-user-image">
        </div>
      </li>
    </ul>
  </div>
<% end %>

<% content_for :bottom_pane do %>
<% end %>

<% content_for :left_side_pane do %>
  <div id="user_holder" class="event-invitation-view <%="hidden" unless params[:invite]%>">
    <div id="invite_user_text_field_holder">
      <%= form_tag load_connections_invitations_path, :method => :get, :id=>'invite_user_form', :remote => true do %>
        <%= text_field_tag "user_search", params[:user_search], :id => "invite_user_text_field", :placeholder => "Enter a name or email address (press enter)" %>
        <%= hidden_field 'user_search_value', '', :id => 'user_search_value' %>
      <% end %>
    </div>
    <%= form_tag new_event_invitation_path(@event), :method=> :get, :remote=>true, :id=>'invite_form' do %>
      <% unless @event.event_rsvps.where(:user_id => current_user).first.try(:posted_to_facebook) %>
        <div id="post_to_facebook_holder" class="btn-important-color">
          <%= check_box_tag 'post_to_facebook', 'true', true%>
          <span>Post this event to your facebook wall</span>
        </div>
      <% end %>
    <% end %>

    <div id="user_holder_for_invitation" class="expand-height scroll-pane" style="overflow: auto;">
      <ul id="user_list_for_invitation" class="expand-height">
        <%=image_tag "loading.gif", :id=>'loading_invitation_image'%>
      </ul>
    </div>
  </div>

  <div id="submit_invitation_next_arrow" class="event-invitation-view <%="hidden" unless params[:invite]%>" style="float:left">
    <span id="submit_invitation__text">Continue to StreetMeet</span>
  </div>
<% end %>

