<style>
  .user.selected {
    background-color: #DDD;
  }
  .user-list {
    /*overflow: scroll;*/
  }
  .selected-list {
    /*overflow: scroll;*/
  }
  .remove-btn {
    display: none;
  }

  .selected-list-invitations .remove-btn {
    display: block;
  }
</style>

<div class="form-holder">
  <div class="row">
    <%= form_tag new_event_rsvp_invitation_path(@event, @rsvp), :method => :get, :remote => true, :class => "form search-params-invitations" do %>
      <%= text_field_tag "user_search", params[:user_search], :class => "text_field search-field text text1", :placeholder => "Name or email"-%>
    <%- end -%>
  </div>
  <p><strong>Check as many friends or enter one email at a time</strong></p>
</div>
<div class="users-holder">
  <div class="users-list">
    <div id="inv-users-list" class="ul1 user-list" style="min-height: 400px;">
      <ul id="invitation-user-list">
        <%= render "invitations/user_results" -%>
      </ul>
    </div>
  </div>
  <div class="row-btn">
    <div class="col-facebook">
      <label for="facebook">Post to:
        <input type="checkbox" title="facebook" id="facebook"/>
      </label>
    </div>    
    <%= render 'shared/form_submit_button' %>
  </div>
</div>

<script>
  var searchURL = '<%= connections_path %>';
  var timeout = null;


 $(function() {
    var $userList = $('.user-list');
    var lastQuery = '';

    //User clicks on a user profile in the user list.
    //If not selected: 1) Highlight 2) Add to selected user list 3) Update counter
    //...if selected, do opposite of this
    $('.user-list .user-invitation').die();
    $('.user-list .user-invitation').live('click',  function(e){
      var $this = $(this);
      var userId = $this.data('user-id');

      // make sure it's removeable before removing the invite
      if ($this.hasClass('selected') && !$this.hasClass('cannot-remove'))
      {
        $this.removeClass('selected');
        $selectedListInvitations.find('[data-user-id="'+userId+'"]').remove();
        $invitationsCount.text(parseInt($invitationsCount.text()) - 1)
      } else if (!$this.hasClass('selected')) {
        $this.addClass('selected');
        $selectedListInvitations.prepend($this.clone());
        $invitationsCount.text(parseInt($invitationsCount.text()) + 1)
      }});

    //User click on the x in the selected user list.
    //1) Remove from list 2)Unhighlight from main user list 3) decrease counter
    // Need to use .live() b/c elements in selected-list are dynamically added
    // So they may not be there at DOM ready time
    $('.selected-list-invitations .user-invitation .remove-btn').die();
    $('.selected-list-invitations .user-invitation .remove-btn').live('click', function(e) {
      var $user = $(this).closest('.user-invitation');
      var userId = $user.data('user-id');

      $user.remove();
      $userList.find('[data-user-id="'+userId+'"]').removeClass('selected');
      $invitationsCount.text(parseInt($invitationsCount.text()) - 1);
      return false;
    });

    var refreshTimer = null;

    function refreshResults() {

      if (refreshTimer) {
        clearInterval(refreshTimer);
        delete refreshTimer;
      }
      refreshTimer = setTimeout(function() {
        $('form.search-params-invitations').submit();
      }, 250);
    }
    
    var $selectedListInvitations = $('.selected-list-invitations');
    var $invitationsCount = $('.invitation-count');

    function addEmail() {

      var $input = $('#user_search');
      var email = $input.val();

      // make sure it's a valid email that was not already included in the list
      if (isEmail(email) && $selectedListInvitations.find('input[value="'+email+'"]').size() == 0) {
        $input.val('');
        
        var u = $('<li class="user-invitation selected email-only">' +
          '<img alt="Picture" height="30" width="30" src="/images/avatar.gif" Title="Email"></img>' + 
          '<div class="avatar"><img' +
          '<div class="text-holder">' +
          '<strong class="ttl">' + email + '</strong>' +
          '</div>' +
          '<a href="#" class="close remove-btn">[X]</a>' +
          '<input type="hidden" name="emails[]" value="' + email + '"/>' +
          '</li>');

        $selectedListInvitations.prepend(u);
        $invitationsCount.text(parseInt($invitationsCount.text()) + 1)
      }
    }

    $('#user_search').keyup(function(e) {      
      if (e.keyCode == 13) {        
        addEmail();
      }
      else
        refreshResults();
    });    

    $('input.button').click(function() {
      $('form.invite-form').submit();
    });
 });

  function isEmail(string) {
    var reg = /^([A-Za-z0-9_\-\.])+\@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
    return reg.test(string);
  }
</script>
