<% pre_existing ||= false  %>


<li class="user-invitation <%= 'selected cannot-remove' if invited?(user) %>" data-user-id="<%= user.id %>">
  <%= avatar(user) %>
  <div class="text-holder">
    <strong class="ttl"><%= user.name %></strong>
  </div>
  <%= link_to '[X]','#', :class=>"close remove-btn" unless (user == current_user || !@event.user == user) %>
  <input type="hidden" name="user_ids[]" value="<%= user.id %>"/>
</li>
