<div data-role="page" id="invite-users-page" class="wallpaper_page">
  <div data-role="header" data-position="fixed">
    <a data-theme ="a" data-rel="back" data-icon="arrow-l">Back</a>
    <h1><%=link_to "SocialStreet", '/m'%></h1>
    <%#= link_to 'Invite', '#', {'id' => 'invite_submit', 'data-role' => 'button', 'data-theme' => 'a'}%>
  </div>

  <div data-role="content" id="invite_pageless_container">

      <%= form_tag m_event_invitations_path(@event), :method => :post, :id => "invite-form" do %>
        <fieldset data-role="controlgroup" id="invite-users-list">
          <%= render "invite_user_list" %>
        </fieldset>
      <% end %>
  </div>

  <div data-role="footer" data-position="fixed">
    <%= link_to 'Send Invites', '#', {'id' => 'invite_submit', 'data-role' => 'button', 'data-theme' => 'b', 'style' => 'width: 100%;height: 35px;'}%>
  </div>

</div>

<script type="text/javascript">
  //pageless not currently working

  var inviteUsersPageless = null;

  function makeInviteUsersPageless() {
    inviteUsersPageless = new Pageless({
      container: window,
      loaderContainer: '#invite-users-list',
      totalPages: <%= @num_pages %>,
      currentPage: 1,
      url: '<%=new_m_event_invitation_path(@event)%>'
    });
    inviteUsersPageless.start();
  }

  function getInviteUsersPageless() {
    return inviteUsersPageless;
  }

  $('#invite-users-page').live("pageshow", function() {
    makeInviteUsersPageless();
  });

  $('#invite_submit').live('click', function() {
    $('#invite-form').submit();
  })
</script>