<% content_for :sidebar do %>
  <%= form_tag '#', :method => :get, :remote => true, :class => "form search-params", "data-save-action" => search_subscriptions_path do %>
    <div class="box map">
      <%= render "explore/sidebar/sidebar_where" -%>
    </div>
    <div class="box box1">
      <%= render "explore/sidebar/sidebar_what" -%>
    </div>

    <%= render "explore/sidebar/sidebar_when" -%>
    <!--
    <%= label_tag 'date_range_inclusive', 'Inclusive?', :class => "label" %>
    <%= check_box_tag 'inclusive', params[:inclusive], params[:inclusive]%>

    <%= label_tag 'days', 'Days of the Week', :class => "label" %>
       <div style="margin-bottom:10px">
    <%= check_box_tag 'days[]', '1', (params[:days] || []).include?('1') %> M
    <%= check_box_tag 'days[]', '2', (params[:days] || []).include?('2') %> T
    <%= check_box_tag 'days[]', '3', (params[:days] || []).include?('3') %> W
    <%= check_box_tag 'days[]', '4', (params[:days] || []).include?('4') %> TH
    <%= check_box_tag 'days[]', '5', (params[:days] || []).include?('5') %> F
    <%= check_box_tag 'days[]', '6', (params[:days] || []).include?('6') %> S
    <%= check_box_tag 'days[]', '0', (params[:days] || []).include?('0') %> SU
       </div>


       <div id="timerange" style="width:90%;margin: auto auto"></div>
       <div id="timerange-label" style="width:100%;text-align:center;margin-top:5px;margin-bottom:10px">

       </div> -->
    <%= hidden_field_tag 'from_time', params[:from_time] %>
    <%= hidden_field_tag 'to_time', params[:to_time] %>
    <%#= select_tag('my_tz', time_zone_options_for_select(params[:my_tz] || Time.zone.name)) %>

    <%= hidden_field_tag 'map_bounds', params[:map_bounds] %>
    <%= hidden_field_tag 'map_center', params[:map_center] %>
    <%= hidden_field_tag 'map_zoom', params[:map_zoom] %>
    <%= hidden_field_tag "selected_searchable", params[:selected_searchable] -%>
    <%= hidden_field_tag "view", params[:view] -%>
  <%- end -%>

  <div class="short-box">
    <div class="address"></div>
    <div class="post-box" style="overflow-x: visible;">
      <div class="post-wrapper">
        <div class="post-holder">
          <div class="post-frame" style="height: 300px;">
            <div id="action-list" class="post-content">
              <%= render 'results', :searchable_results=> @searchables %>
            </div>
            <div id="similar-results-list" class="post-content">
              <%= render "results", :searchable_results => (@similar_results || [])%>
            </div>
          </div>
          <a href="#" class="btn-open">open</a>
          <a href="#" class="btn-close">close</a>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% content_for :end_of_body do %>
  <%= javascript_include_tag "jquery.mousewheel" -%>
<%- end -%>

<script>

  function resizeMapResults() {
    var winHeight = $(window).height();
    var resultsPosT = $(".post-frame").offset().top;

    $(".post-frame").height(winHeight - resultsPosT + 10);
    $('.post-frame').scrollTop(0);

  }


  $(function(){

    resizeMapResults();

    $(".post-frame").bind("mousewheel",function(ev, delta) {
      var scrollTop = $(this).scrollTop();      
      $(this).scrollTop(scrollTop-Math.round(delta * 30));
    });


    $.each($('.result-list-item'), function(index, rLI) {
      $(rLI).hide();
    });

    $('.btn-open').click(function(){      
      $('.short-box').addClass('open', 1, function(){
        //  $('.short-box').hide().show('slide', {direction: 'right'}, 1000);
        $('.btn-open').hide();
        $('.btn-close').show();
      });

      //$('.short-box').hide().addClass('open').show('slide', {direction: 'right'}, 1000);
      
      return false;
    });

    $('.btn-close').click(function(){
      $('.short-box').removeClass('open', 1, function(){
        $('.btn-close').hide();
        $('.btn-open').show();
      });      
      return false;
    });
  })
</script>


<%= render "explore/sidebar/sidebar_functions" -%>