<% content_for :sidebar do %>
  <div class="sidebar-holder">
    <%= form_tag '#', :method => :get, :remote => true, :class => "form search-params", "data-save-action" => search_subscriptions_path do %>
      <div class="box map">
        <%= render "explore/sidebar/sidebar_where" -%>
        <div class="map-holder">
          <div id="location-map" class="map-frame" style="width:297px;height:208px;"></div>
        </div>
      </div>
      <div class="box box1">
        <%= render "explore/sidebar/sidebar_what" -%>
      </div>

      <%= render "explore/sidebar/sidebar_when" -%>

      <%= hidden_field_tag 'from_time', params[:from_time] %>
      <%= hidden_field_tag 'to_time', params[:to_time] %>
      <%= hidden_field_tag 'map_bounds', params[:map_bounds] %>
      <%= hidden_field_tag 'map_center', params[:map_center] %>
      <%= hidden_field_tag 'map_zoom', params[:map_zoom] %>
      <%= hidden_field_tag "selected_searchable", params[:selected_searchable] -%>
      <%= hidden_field_tag "view", params[:view] -%>
      <div id="sidebar_hidden_div" style="width: 1; height: 100px;">&nbsp;</div>
    <%- end -%>
  </div>
<% end %>

<%= render "explore/sidebar/sidebar_functions" -%>