<%= link_to(image_tag(url_for_event_image(event), :size => "50x50", :class => "avatar"), event) %>
<div class="text">
  <%= link_to [:new, event, :rsvp], :class => "button btn-attend" do %>
    <span>Attend</span>
  <%- end -%>
  <h3><%= link_to event.name, event %></h3>
  <span class="time"><%= time_ago_in_words event.starts_at %> ago</span>  
  <div class="attending">
    <span class="info"><%=event.num_attending_or_maybe_attending%><%if event.maximum_attendees%>/<%=event.maximum_attendees%><%end%></span>
    <ul>
      <li><a href="#"><img width="22" height="22" alt="image description" src="images/img4.png"/></a></li>
      <li><a href="#"><img width="22" height="22" alt="image description" src="images/img4.png"/></a></li>
      <li><a href="#"><img width="22" height="22" alt="image description" src="images/img4.png"/></a></li>
      <li><a href="#"><img width="22" height="22" alt="image description" src="images/img4.png"/></a></li>
      <li><a href="#"><img width="22" height="22" alt="image description" src="images/img4.png"/></a></li>
      <li><a href="#"><img width="22" height="22" alt="image description" src="images/img4.png"/></a></li>
    </ul>
  </div>
  <div class="keyword">
    <%- event.searchable_event_types.each do |set| -%>
      <%= link_to set.name, '#', :onclick => "return false;" %>
    <%- end -%>
  </div>
</div>

<%# For now, events always have a type (I think) so this || is unncessary, but just in case (Yes I know this is bad practice) - KV %>


<!--
<div style="float:left; width: 400px">
  <strong></strong><br/>
  <em><%= address_for(event.location) %></em><br/>
  <em>Start: <%= display_date_time(event.starts_at) %></em><br/>
  <% if event.finishes_at %>
    <em>Finish: <%= display_date_time(event.finishes_at) %></em><br/>
  <% end %>
  <p>
    <%= event.description %>
  </p>
</div>
<div style="float:left; width: 140px; height:100%;">
  <% if event.free? %>
    <strong>Free</strong>
  <% else %>
    <strong><%= number_to_currency(event.cost / 100) %></strong>
  <% end %>
  <br/>
  <% if current_user && (rsvp = event.rsvps.by_user(current_user).first) %>
    <%= link_to "#{rsvp.status}", [:edit, event, rsvp], :class => "button" %>
  <%else%>
    <%= link_to 'Quick Join', [:new, event, :rsvp], :class => "button" %>
  <%end%>

  <%if(event.number_of_attendees_needed && event.number_of_attendees_needed>0)%>...need <%=event.number_of_attendees_needed%> more people<%end%>

  <br/>

  <% if current_user %>
    <% attendees = event.attending_users.connected_with(current_user) %>
    <% if attendees.size > 0%>
                        <em> <%= pluralize(attendees.size, "Connection") %> </em><br/> 
      Connections:<br/>
      <% attendees.limit(5).each do |attendee| %>
        <%= avatar attendee %>
      <% end %>
    <% end %>
  <% end %>

</div>
-->