<%= render "comment_box" %>

<div id="pageless-container">
  <div id="action-list" class="post-holder Post-Holder">
    <%= render "results", :searchable_results => (@searchables || [])%>
  </div>

  <div class="post-holder Post-Holder">
    <%= render "similar_results_box" %>
  </div>


  <div id="similar-results-list" class="post-holder Post-Holder">
    <%= render "results", :searchable_results => (@similar_results || [])%>
  </div>
</div>


<%= render 'explore/sidebar/sidebar' %>
<%= render "main_top" -%>

<%#= render 'shared/commenting' %>

<script type='text/javascript'>
  function checkMapPageSize() {
    if(!$('#header').hasClass("open")) {
      if(!isScrolledIntoView('#sidebar_hidden_div', 0)){
        $('.w2').removeClass('page-explore');
      }
      else {
        $('.w2').addClass('page-explore');
      }
    }
  }

  $(function() {
    checkMapPageSize();
  });
</script>



