<%= render "comment_box" %>


<div id="pageless-holder">
  <div id="pageless-container">
    <% unless @promoted_events.empty? %>
      <div style="background-color: #4F4F4D; padding: 2px 2px 2px 10px; margin-top: 5px; font-size: 18px; color: #FFC233; font-weight: 900; text-shadow: 2px 2px #333;">StreetMeet of the Week</div>
      <div id="promoted-events" class="post-holder" style="padding-top: 0px; border-bottom: 5px solid #4F4F4D;">
        <div id="result_for_searchable_<%= @promoted_events[0].searchable.id -%>" class="post result-list-item">
          <%= render "shared/records", :record_type => RecordType.types[:event], :record => @promoted_events[0] %>
        </div>
      </div>
    <% end %>
    <div id="action-list" class="post-holder Post-Holder">
      <%= render "results", :searchable_results => (@searchables || [])%>
    </div>

    <div class="post-holder Post-Holder">
      <%= render "similar_results_box" %>
    </div>


    <div id="similar-results-list" class="post-holder Post-Holder">
      <%= render "results", :searchable_results => (@similar_results || [])%>
    </div>
  </div>
</div>


<%= render 'explore/sidebar/sidebar' %>
<%= render "main_top" -%>

<%#= render 'shared/commenting' %>

<script type='text/javascript'>
  function checkMapPageSize() {
    if(!$('#header').hasClass("open")) {
      if(!isScrolledIntoView('#sidebar_hidden_div', 0)){
        $('.w2').removeClass('page-explore');
      }
      else {
        $('.w2').addClass('page-explore');
      }
    }
  }

  $(function() {
    checkMapPageSize();

    //setTimeout(function () {
    //attach_iScroll('pageless-holder');
    //},0);

  });
</script>



