<div data-role="header" data-position="inline">
  <%= link_to "Home", '/', {'data-role' => 'button', 'data-theme' => 'd', 'data-position' => 'inline'}%>
  <h1>SocialStreet</h1>
  <%= link_to "Filter", '#explore_filter', {'data-role' => 'button', 'data-theme' => 'e', 'data-position' => 'inline'}%>
</div>

<div data-role="content" id="list-view-explore-content">

  <% if !params[:keyword].blank? %>
    <div>
      Only Showing: <span style="font-weight: bold;"><%= params[:keyword] %></span> Events
      <span style="float:right;"><%= link_to "Remove", '#', {'id' => 'remove_filters'}%></span>
    </div>
  <% end %>

  <%= render "results", :searchable_results => (@searchables || []) %>

</div>

<%= link_to "View Map", '#map-view-explore', {'data-role' => 'button', 'data-theme' => 'b', 'data-position' => 'inline', 'data-transition' => 'flip', 'onclick' => "createMapMarkers();"}%>