<%= render "comment_box" %>


<div id="pageless-holder">
  <div id="pageless-container">
    <% if @promoted_events %>
      <div id="promoted-events" class="post-holder" style="border-top: 5px solid #FFC233;border-bottom: 5px solid #FFC233">
        <div id="result_for_searchable_<%= @promoted_events[0].searchable.id -%>" class="post result-list-item">
          <%= render "shared/records", :record_type => RecordType.types[:event], :record => @promoted_events[0] %>
        </div>
      </div>
    <% end %>
    <div id="action-list" class="post-holder Post-Holder">
      <%= render "results", :searchable_results => (@searchables || [])%>
    </div>

    <div class="post-holder Post-Holder">
      <%= render "similar_results_box" %>
    </div>


    <div id="similar-results-list" class="post-holder Post-Holder">
      <%= render "results", :searchable_results => (@similar_results || [])%>
    </div>
  </div>
</div>


<%= render 'explore/sidebar/sidebar' %>
<%= render "main_top" -%>

<%#= render 'shared/commenting' %>

<script type='text/javascript'>
  function checkMapPageSize() {
    if(!$('#header').hasClass("open")) {
      if(!isScrolledIntoView('#sidebar_hidden_div', 0)){
        $('.w2').removeClass('page-explore');
      }
      else {
        $('.w2').addClass('page-explore');
      }
    }
  }

  $(function() {
    checkMapPageSize();

    //setTimeout(function () {
    //attach_iScroll('pageless-holder');
    //},0);

  });
</script>



