<%= content_for :main_top  do -%>
  <div class="col1">
    <div class="social-bar">
      <a href="#" class="search-next save-button"><span>Follow this search</span></a>
      <%if @overlapping_subscriptions && (@overlapping_subscriptions.size > 1 || (@overlapping_subscriptions.size == 1 && @overlapping_subscriptions.first.search_subscription.user != current_user))%>
        <div class="search-result">
          <strong><%= @overlapping_subscriptions.size -%></strong> people following:
        </div>
        <div class="community">
          <div class="community-holder">
            <ul>
              <%@overlapping_subscriptions.each do |overlapping_subscriber| %>
                <%if overlapping_subscriber.search_subscription.user != current_user%>
                  <%= render 'shared/user_list_element', :user => overlapping_subscriber.search_subscription.user%>
                <%end%>
              <%end%>
            </ul>
          </div>
        </div>
      <%- end -%>
    </div>
  </div>

  <%- tab_class = "list" -%>

  <%- if !params[:view].blank? && params[:view].eql?("map") -%>
    <%- tab_class = "map" -%>  
  <%- end -%>

  <div class="col2">
    <ul class="tabset">
      <li class="<%= tab_class.eql?("list") ? "" : "active" -%>" data-param="list"><%= link_to "List", '#' -%></li>
      <li class="<%= tab_class.eql?("map") ? "" : "active" -%>" data-param="map"><%= link_to "Map", '#' -%></li>
    </ul>
  </div>
<%- end -%>


<script>
  $(function(){
    $('.col2 .tabset li').live('click', function() {
      window.location = getSearchParams() + '&view=' + $(this).attr('data-param');
    });
  });
</script>