<% results.each do |result| %>
  <div class="result" id="event_<%=result.id%>">
    <% event = result %>
    <div class="result-arrow hidden"></div>
    <div class="result-image">
      <%= image_tag(url_for_event_image(event))%>
    </div>
    <div class="result-text">
      <span class="result-title result-event-link nav-link" data-ajax-href='<%= event_path(event)%>'>
        <%= truncate_html(event.title, :length => 50) %>
      </span>
      <div class="result-date">
        <%= ss_time_ago_in_words(event.start_date, event.end_date) -%>
      </div>
    </div>
    <div class="result-attendees">
      <% attendees = User.attending_event(event)%>
      <span class="attending-info"><%=attendees.count%></span>
      <% attendees.order_by_rank_to_user(current_user).excluding(current_user).limit(6).each do |attendee| %>
        <%= avatar attendee, :size => "22x22" %>
      <% end %>
    </div>

    <div class="result-join-btn-holder">
      <% if current_user && rsvp = event.event_rsvps.attending.by_user(current_user).first%>
        <div class="result-btn invite-friends-btn nav-link" data-ajax-href='<%= event_path(event, :invite =>true)%>'>
          Invite Friends
        </div>
      <% else %>
        <div class="result-btn join-event-btn nav-link" data-ajax-href='<%= new_event_event_rsvp_path(event)%>'>
          I'll Join
        </div>
      <% end %>
    </div>
    <%= hidden_field_tag "result_lat", event.location.latitude %>
    <%= hidden_field_tag "result_lng", event.location.longitude %>
  </div>
<% end %>