<% results.each do |result| %>
  <% event = result %>
  <div id="event_<%=result.id%>" class="result nav-link" data-ajax-href='<%= event_path(event)%>'>
    <div class="result-image">
      <%= image_tag(url_for_event_image(event), :size=>'70x70')%>
    </div>
    <div class="result-text">
      <div class="result-title result-event-link text-shadow">
        <%= event.title %>
      </div>
      <div class="result-date">
        <%= event_time_in_words(event) -%>
      </div>
    </div>
    <div class="result-attendees">
      <% attendees = User.attending_event(event)%>
      <% attendees_count = attendees.count %>
      <% number_attendees_to_show = (attendees_count == 5 ? 5 : 4)%>
      <% attendees.order_by_rank_to_user(current_user).limit(number_attendees_to_show).each do |attendee| %>
        <div style="float:left;position:relative;">
          <%= avatar attendee, :size => "29x29", :class=>"result-attendees-image"%>
          <div class="hidden drop-shadow rounded-corners-four attendee-name-popup">
            <%=attendee.try(:name)%>
          </div>
        </div>
      <% end %>
      <% if attendees_count > 5%>
        <span class="result-attendee-more-text text-shadow">
          <%=attendees_count - 4 %> more
        </span>
      <% end %>

    </div>

    <div class="result-join-btn-holder rounded-corners-four hidden">
      <% if current_user && rsvp = event.event_rsvps.attending.by_user(current_user).first%>
        <%= image_tag('invite-friends-btn.png', :class=>"nav-link", "data-ajax-href" => event_path(event, :invite => true)) %>
      <% else %>
        <%= image_tag('ill-join-btn.png', :class=>"nav-link", "data-ajax-href" => new_event_event_rsvp_path(event)) %>
      <% end %>
    </div>
    <%= hidden_field_tag "result_lat", event.location.latitude %>
    <%= hidden_field_tag "result_lng", event.location.longitude %>
  </div>
<% end %>