<% content_for :sidebar do %>
  <%= form_tag '#', :method => :get, :remote => true, :class => "form search-params", "data-save-action" => search_subscriptions_path do %>
    <div class="block notice">
      <h4>Location Filtering</h4>
      <%= text_field_tag 'map_location', params[:map_location], :class => "text_field do-not-submit", :placeholder => "Move map to ..." %>
      <div id="location-map" style="width:100%;height:300px;"></div>
      <%= hidden_field_tag 'location', params[:location] %>
      <%= hidden_field_tag 'radius', params[:radius] %>
      <%= hidden_field_tag 'zoom', params[:zoom] %>
    </div>

    <div class="block notice">
      <h4>Date Filtering</h4>
      <%= label_tag 'from_date', 'From', :class => "label" %>
      <%= text_field_tag 'from_date', params[:from_date], :class => "text_field" %>

      <%= label_tag 'to_date', 'To', :class => "label" %>
      <%= text_field_tag 'to_date', params[:to_date], :class => "text_field" %>

      <%= label_tag 'date_range_inclusive', 'Inclusive?', :class => "label" %>
      <%= check_box_tag 'inclusive', params[:inclusive], params[:inclusive]%>

      <%= label_tag 'days', 'Days of the Week', :class => "label" %>
      <div style="margin-bottom:10px">
        <%= check_box_tag 'days[]', '1', (params[:days] || []).include?('1') %> M
        <%= check_box_tag 'days[]', '2', (params[:days] || []).include?('2') %> T
        <%= check_box_tag 'days[]', '3', (params[:days] || []).include?('3') %> W
        <%= check_box_tag 'days[]', '4', (params[:days] || []).include?('4') %> TH
        <%= check_box_tag 'days[]', '5', (params[:days] || []).include?('5') %> F
        <%= check_box_tag 'days[]', '6', (params[:days] || []).include?('6') %> S
        <%= check_box_tag 'days[]', '0', (params[:days] || []).include?('0') %> SU
      </div>


      <div id="timerange" style="width:90%;margin: auto auto"></div>
      <div id="timerange-label" style="width:100%;text-align:center;margin-top:5px;margin-bottom:10px">

      </div>
      <%= hidden_field_tag 'from_time', params[:from_time] %>
      <%= hidden_field_tag 'to_time', params[:to_time] %>
      <%= select_tag('my_tz', time_zone_options_for_select(params[:my_tz] || Time.zone.name)) %>
    </div>

    <div class="block notice">
      <h4>Type Filtering</h4>

      <% @event_types.each do |event_type| %>
        <%= check_box_tag 'types[]', event_type.id, (params[:types] || []).include?(event_type.id.to_s) %> <%= event_type.name %> <br/>
      <% end %>

    </div>

    <button class="button">Go</button>
    <button class="button save-button">Save</button>
    <%= link_to 'Clear', explore_path %>
    <div class="clear"></div>

    <%if @overlapping_subscriptions && (@overlapping_subscriptions.size > 1 || (@overlapping_subscriptions.size == 1 && @overlapping_subscriptions.first.search_subscription.user != current_user))%>
      <div class="block notice" style="margin-top:10px">
        <h4>Similar Users</h4>
        <%@overlapping_subscriptions.each do |overlapping_subscriber| %>
          <%if overlapping_subscriber.search_subscription.user != current_user%>
            <%= render 'shared/user_list_element', :user => overlapping_subscriber.search_subscription.user%>
          <%end%>
        <%end%>
      </div>
    <%end%>

    <div class="clear"></div>
  <% end %>
<% end %>

<% content_for :end_of_body do %>
  <script>
    var refreshTimer = null;
    function refreshResults() {
      if (refreshTimer) {
        clearInterval(refreshTimer);
        delete refreshTimer;
      }
      refreshTimer = setTimeout(function() {
        $('form.search-params').submit();
      }, 250);
    }

    $(function() {

      $('form.search-params').bind('ajax:beforeSend', function() {
        $('#explore-results').fadeTo('fast', 0.5);
        $('#ajax-spinner').show();
        return true;
      }).bind('ajax:success', function() {
        if ($.active == 1) {
          $('#explore-results').fadeTo('fast', 1);
          $('#ajax-spinner').hide();
        }
      });

      $("form.search-params ").
        find('input[type="text"],input[type="text"],select,input[type="checkbox"]').not('.do-not-submit').
        change(refreshResults); // on change of the search form fields, refresh the results

      $('button.save-button').click(function(e) {
        var f = $('form.search-params');
        var s = f.serialize();
        window.location = '<%= new_search_subscription_url %>?' + s;
        return false;
      });

      $('button.comment-button').click(function(e) {
        var f = $('form.search-params');
        var s = f.serialize();
        this.form.action = this.form.action + '?' + s;
      });

      $( "#from_date" ).datepicker({
        dateFormat: 'M. dd, yy'
      });
      $( "#to_date" ).datepicker({
        dateFormat: 'M. dd, yy'
      });
      $('#timerange').slider({
        range: true,
        min: 0,
        max: 1439,
        step: 15,
        values: [<%= params[:from_time] || 0 %>, <%= params[:to_time] || 1439 %>],
        slide: slideTime,
        change: refreshResults
      });

      function initTimeLabel() {
        slideTime(null, {
          values: [
            $("#timerange").slider("values", 0) ,
            $("#timerange").slider("values", 1)
          ]
        }); // mimic slide event for time slider
      }

      function slideTime(event, ui) {
        var minutes0 = parseInt(ui.values[0] % 60);
        var hours0 = parseInt(ui.values[0] / 60 % 24);
        var minutes1 = parseInt(ui.values[1] % 60);
        var hours1 = parseInt(ui.values[1] / 60 % 24);
        var startTime = getTime(hours0, minutes0);
        var endTime = getTime(hours1, minutes1);
        $("#timerange-label").text(startTime + ' - ' + endTime);
        $('#from_time').val(ui.values[0]);
        $('#to_time').val(ui.values[1]);
      }

      function getTime(hours, minutes) {
        var time = null;
        minutes = minutes + "";
        if (hours < 12) {time = "AM";}
        else {  time = "PM";}
        if (hours == 0) {hours = 12;}
        if (hours > 12) {hours = hours - 12; }
        if (minutes.length == 1) {minutes = "0" + minutes;}
        return hours + ":" + minutes + " " + time;
      }

      initTimeLabel();

    });


  </script>
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

  <script>
    var markers = [];
    var map;
    var selectedMarker;
    var infoWindow;
    var geocoder;

    function clearMarkers() {
      $.each(markers, function(index, marker) {
        marker.setMap(null);
      });
      markers = [];
    }

    function placeMarker(location, title) {

      var marker = new google.maps.Marker({
        map: map,
        position: location,
        title: title
      });

      google.maps.event.addListener(marker, 'click', function() {
        selectMarker(marker, true);
      });
      markers.push(marker);
    }
    
    $(function() {

      function moveMap(e) {
        var loc = e.target.value;
        geocoder.geocode( {
          'address': loc
        }, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            map.setCenter(results[0].geometry.location);
            changeLocationParams();
          }
        });
      }

      $('#map_location').keydown(function(e) {
        if (e.keyCode == 13) {
          e.stopPropagation();
          moveMap(e);
          return false;
        }
        return true;
      });

      /* geolocation and map stuff */
  <% if params[:location] %>
        var loc = new google.maps.LatLng(<%= params[:location].split(",").first %>, <%= params[:location].split(",").last %>);
  <% else %>
        var loc = new google.maps.LatLng(43.7427662, -79.3922001);
  <% end %>

      var myOptions = {
        zoom: <%= params[:zoom] || 10 %>,
        center: loc,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };
      map = new google.maps.Map(document.getElementById("location-map"), myOptions);
      infoWindow = new google.maps.InfoWindow();
      geocoder = new google.maps.Geocoder();

      function changeLocationParams(event) {
        setTimeout(function() {
          var lat = map.getCenter().lat(), lng = map.getCenter().lng();
          $('#location').val(lat + ',' + lng);
          var zoom = map.getZoom();
          $('#zoom').val(zoom);

          bounds = map.getBounds();

          center = bounds.getCenter();
          ne = bounds.getNorthEast();

          // r = radius of the earth in statute miles
          var r = 3963.0;

          // Convert lat or lng from decimal degrees into radians (divide by 57.2958)
          var lat1 = center.lat() / 57.2958;
          var lon1 = center.lng() / 57.2958;
          var lat2 = ne.lat() / 57.2958;
          var lon2 = ne.lng() / 57.2958;

          // distance = circle radius from center to Northeast corner of bounds
          var radius = r * Math.acos(Math.sin(lat1) * Math.sin(lat2) +
            Math.cos(lat1) * Math.cos(lat2) * Math.cos(lon2 - lon1));
          radius = Math.max(Math.round(radius) - 1, 1);
          $('#radius').val(radius);
          refreshResults();
        }, 15);
      }

      google.maps.event.addListener(map, 'zoom_changed', changeLocationParams);
      google.maps.event.addListener(map, 'dragend', changeLocationParams);
      google.maps.event.addListener(map, 'resize', changeLocationParams);
      //$(window).resize(changeLocationParams);


      function selectMarker(marker) {
        selectedMarker = marker;

        if (marker.getAnimation() == null) {
          marker.setAnimation(google.maps.Animation.BOUNCE);
          setTimeout(function() {
            if (marker.getAnimation() == google.maps.Animation.BOUNCE) marker.setAnimation(null);
          }, 740);
        }

        infoWindow.setContent(marker.title);
        infoWindow.open(map, marker);
      }

  <% @searchables.each do |searchable| %>
    <% if searchable.event && searchable.geo_located? %>
          placeMarker(new google.maps.LatLng(<%= searchable.location.latitude %>, <%= searchable.location.longitude %>), '<%= escape_javascript(searchable.event.name) %>');
    <% end %>
  <% end %>

    });
  </script>
<% end %>