<div class="block">
  <div class="content">
    <h2 class="title">Add Comment</h2>
    <div class="inner">
      <%= form_for @comment, :html => { :class => "form" } do |form| %>
        <%= form.text_area :body, :cols => "80", :rows => "2", :style => "float:left" %>
      
        <button class="button comment-button" type="submit" style="margin-left:10px">Comment</button>
        <div class="clear"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="block" id="block-lists">
  <div class="content">
    <h2 class="title">Explore</h2>
    <div class="inner">
      <ul class="list">
        <% @searchables.each do |searchable| %>
          <%= render 'searchable', :searchable => searchable %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<% content_for :sidebar do %>
  <%= form_tag '#', :method => :get, :class => "form search-params", "data-save-action" => search_filters_path do %>
    <div class="block notice">
      <h4>Location Filtering</h4>

      <%= label_tag 'location', 'Near', :class => "label" %>
      <%= text_field_tag 'location', params[:location], :class => "text_field" %>

      <%= label_tag 'radius', 'Radius', :class => "label" %>
      <%= select_tag 'radius', options_for_select([['5 miles', '5'], ['10 miles', '10'], ['20 miles', '20'], ['50 miles', '50']], params[:radius]) %>
    </div>

    <div class="block notice">
      <h4>Date Filtering</h4>
      <%= label_tag 'from_date', 'From', :class => "label" %>
      <%= text_field_tag 'from_date', params[:from_date], :class => "text_field" %>

      <%= label_tag 'to_date', 'To', :class => "label" %>
      <%= text_field_tag 'to_date', params[:to_date], :class => "text_field" %>

      <%= label_tag 'date_range_inclusive', 'Inclusive?', :class => "label" %>
      <%= check_box_tag 'inclusive', params[:inclusive], params[:inclusive] || '1' %>

      <%= label_tag 'days', 'Days of the Week', :class => "label" %>
      <div style="margin-bottom:10px">
        <%= check_box_tag 'days[]', '1', (params[:days] || []).include?('1') %> M
        <%= check_box_tag 'days[]', '2', (params[:days] || []).include?('2') %> T
        <%= check_box_tag 'days[]', '3', (params[:days] || []).include?('3') %> W
        <%= check_box_tag 'days[]', '4', (params[:days] || []).include?('4') %> TH
        <%= check_box_tag 'days[]', '5', (params[:days] || []).include?('5') %> F
        <%= check_box_tag 'days[]', '6', (params[:days] || []).include?('6') %> S
        <%= check_box_tag 'days[]', '0', (params[:days] || []).include?('0') %> SU
      </div>


      <div id="timerange" style="width:90%;margin: auto auto"></div>
      <div id="timerange-label" style="width:100%;text-align:center;margin-top:5px;margin-bottom:10px">

      </div>
      <%= hidden_field_tag 'from_time', params[:from_time] %>
      <%= hidden_field_tag 'to_time', params[:to_time] %>
      <%= select_tag('my_tz', time_zone_options_for_select(params[:my_tz] || Time.zone.name)) %>
    </div>

    <div class="block notice">
      <h4>Type Filtering</h4>

      <% @event_types.each do |event_type| %>
        <%= check_box_tag 'types[]', event_type.id, (params[:types] || []).include?(event_type.id.to_s) %> <%= event_type.name %> <br/>
      <% end %>

    </div>

    <button class="button">Go</button>
    <button class="button save-button">Save</button>
    <%= link_to 'Clear', events_path %>
    <div class="clear"></div>
  <% end %>
<% end %>

<% content_for :end_of_body do %>
  <script>
    $(function() {
     
      $('button.save-button').click(function(e) {
        var f = $(this.form);
        this.form.action = f.data('save-action');
        this.form.method = 'POST' // create
        var csrf_token = $('meta[name=csrf-token]').attr('content');
        var csrf_param = $('meta[name=csrf-param]').attr('content');
        var metadata_input = '<input name="_method" value="POST" type="hidden" />';
        if (csrf_param !== undefined && csrf_token !== undefined) {
        	metadata_input += '<input name="' + csrf_param + '" value="' + csrf_token + '" type="hidden" />';
          f.append(metadata_input);
        }
      });

      $('button.comment-button').click(function(e) {
        var f = $('form.search-params');
        var s = f.serialize();
        this.form.action = this.form.action + '?' + s;
      });

      $( "#from_date" ).datepicker({
        dateFormat: 'M. dd, yy'
      });
      $( "#to_date" ).datepicker({
        dateFormat: 'M. dd, yy'
      });
      $('#timerange').slider({
        range: true,
        min: 0,
        max: 1439,
        step: 15,
        values: [<%= params[:from_time] || 0 %>, <%= params[:to_time] || 1439 %>],
        slide: slideTime
      });

      function initTimeLabel() {
        slideTime(null, {
          values: [
            $("#timerange").slider("values", 0) ,
            $("#timerange").slider("values", 1)
          ]
        }); // mimic slide event for time slider
      }

      function slideTime(event, ui) {
        var minutes0 = parseInt(ui.values[0] % 60);
        var hours0 = parseInt(ui.values[0] / 60 % 24);
        var minutes1 = parseInt(ui.values[1] % 60);
        var hours1 = parseInt(ui.values[1] / 60 % 24);
        var startTime = getTime(hours0, minutes0);
        var endTime = getTime(hours1, minutes1);
        $("#timerange-label").text(startTime + ' - ' + endTime);
        $('#from_time').val(ui.values[0]);
        $('#to_time').val(ui.values[1]);
      }

      function getTime(hours, minutes) {
        var time = null;
        minutes = minutes + "";
        if (hours < 12) {time = "AM";}
        else {  time = "PM";}
        if (hours == 0) {hours = 12;}
        if (hours > 12) {hours = hours - 12; }
        if (minutes.length == 1) {minutes = "0" + minutes;}
        return hours + ":" + minutes + " " + time;
      }

      initTimeLabel();

    });


  </script>
<% end %>
