<div class="block">
  <div class="content">
    <h2 class="title">Add Comment</h2>
    <div class="inner">
      <%= form_for @comment, :html => { :class => "form" } do |form| %>
        <%= form.text_area :body, :cols => "80", :rows => "2", :style => "float:left" %>

        <button class="button comment-button" type="submit" style="margin-left:10px">Comment</button>
        <div class="clear"></div>
      <% end %>
    </div>
  </div>
</div>

<div class="block" id="block-lists">
  <div class="content">
    <h2 class="title">Explore (<%= @searchables.size %> results)</h2>
    <div class="inner">
      <ul class="list">
        <% @searchables.each do |searchable| %>
          <%= render 'searchable', :searchable => searchable %>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render 'sidebar' %>

