<% content_for :left_side_pane do %>
  <div class="container expand-height">
    <div id="explore_keyword_text_field_holder">
      <%= text_field_tag 'keywords', params[:q], :type => "text", :title => "What?", :placeholder => "What do you want to do?", :id=>'explore_keyword_text_field' %>
    </div>
    <div id="results_container" class="expand-height scroll-pane show-scroll-on-hover" style="overflow: auto;">
      <div>
        <div id="results_list">
          <%= render :partial => "results", :locals => { :results => @events } %>
        </div>
        <%= render :partial => "suggested_explore_actions" %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :right_side_pane do %>
  <div id="explore_keyword_header" class="important-color invisible">Keywords</div>
  <div id="explore_keyword_tag_list_holder">
    <ul id="explore_keyword_tag_list">
      <li id="explore_keyword_tag_stamp" class="explore-keyword-tag hidden">
        <%= image_tag('/images/event_types/streetmeet2.png', :size=>'50x50', :class=>"explore-tag-icon") %>
        <span class="explore-keyword-tag-name"></span>
        <%= image_tag('header-close.png', :class => 'explore-keyword-tag-remove') %>
      </li>
    </ul>
  </div>
<% end %>

<% content_for :center_pane do %>
  <div id="explore_keyword_event_types_holder" class="hidden">
    <div id="event_types_scroller" class="scroll-pane include-vertical-bar">
      <ul>
        <li id="explore_keyword_custom_event_type" class="explore-keyword-event-type hidden">
          <%= image_tag('/images/event_types/streetmeet2.png', :class=>'explore-keyword-event-type-image drop-shadow') %>
          <div class="explore-keyword-event-type-name">
          </div>
        </li>

        <% @event_types.each do |et| %>
          <li class="explore-keyword-event-type">
            <%= image_tag(et.image_path, :class=>'explore-keyword-event-type-image drop-shadow') %>
            <div class="explore-keyword-event-type-name">
              <%= et.name %>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_tag explore_path, :remote => true, :method => :get, :id => "explore_search_params" do %>
  <%= hidden_field_tag 'map_bounds', params[:map_bounds] %>
  <%= hidden_field_tag 'map_center', params[:map_center] %>
  <%= hidden_field_tag 'map_zoom', params[:map_zoom] %>
<% end %>

<%= hidden_field_tag "on_explore", "true" %>

<%= javascript_include_tag 'site_specific/explore' %>

<% unless params[:keywords].blank? %>
  <script type="text/javascript">
  <% for keyword in params[:keywords] %>
      addKeyword('<%= keyword %>');
  <% end %>
  </script>
<% end %>