<div data-role="page" id="explore_base">
  <div data-role="header" data-position="inline">
    <a data-theme ="c" data-rel="back" data-icon="arrow-l">Back</a>
    <h1>SocialStreet</h1>
    <%= link_to "Home", '/', {'data-role' => 'button', 'data-theme' => 'b'}%>
  </div>

  <div data-role="content">
    <h3>Here's what's happening around you</h3>
    <!--div data-role="collapsible-set"-->
    <div data-role="collapsible" data-collapsed="false" data-theme="b">
      <h3>Events</h3>
      <p>
      <ul data-role="listview" data-theme="a" data-inset="true">
        <% @searchables.each do |searchable| %>
          <% if(!searchable.event.canceled) %>
            <li>
              <!--%= image_tag(url_for_event_image(searchable.event), :size => "60x60") %-->
              <!--%= link_to searchable.event.title, event_path(searchable.event)%-->
              <%= link_to image_tag(url_for_event_image(searchable.event), :size => "60x60") + searchable.event.title, event_path(searchable.event) %>
              <span id="explore-list-address"><%= searchable.event.location.text ? searchable.event.location.text : searchable.event.location.street %></span>
              </li>
            <%  end %>
        <% end %>
      </ul>
      </p>
    </div>

    <fieldset class="ui-grid-a">
      <div class="ui-block-a"><%= link_to "View Map", '#map-view-explore', {'data-role' => 'button', 'data-theme' => 'b', 'data-position' => 'inline'}%></div>
      <div class="ui-block-b"><%= link_to "Filter Results", '#explore_filter', {'data-role' => 'button', 'data-theme' => 'd', 'data-position' => 'inline', 'data-rel'=>'dialog', 'data-transition' => 'pop'}%></div>
    </fieldset>
    
  </div>

</div>

<div data-role="page" id="explore_filter">
  <div data-role="header" data-position="inline">
    <h1>SocialStreet</h1>
    <%= link_to "Remove All", '', {'data-role' => 'button', 'data-theme' => 'b', 'id' => 'remove_filters'}%>
  </div>

  <script type="text/javascript">
    $('#remove_filters').live('click', function(){
      alert('Removing all Filters');
      $('#keyword').val("");
      $('#keyword').submit();
      event.preventDefault();
    })

    $('#keyword_filter_list').live('click', function(li){
      alert('Filtering Results as ' + li.srcElement.innerText + ' events only');
      selKeyword = li.srcElement.innerText;
      $('#keyword').val(selKeyword);
      $('#keyword').submit();
      event.preventDefault(); // Prevent link from following its href
    });
  </script>

  <div data-role="content">
    <div data-role ="fieldcontain">
      <ul data-role="listview" data-theme="a" data-inset="true" data-filter="true" data-filter-placeholder="Enter Keyword..." id="keyword_filter_list">
        <% @event_types.each do |event|%>
          <li>
            <%= link_to image_tag(event.image_path) + event.name %>
          </li>

        <% end %>

      </ul>
    </div>
    <%= form_tag({:controller => "explore", :action => "index"}, {:method => 'get'}) do |form|%>
      <%= hidden_field_tag 'keyword', params[:keyword], :id => 'keyword' %>
    <% end %>
  </div>
</div>

<div data-role="page" id="map-view-explore">
  <div data-role="header" data-position="inline">
    <%= link_to "Change", '#map-view-explore', {'data-role' => 'button', 'data-theme' => 'e', 'id' => 'change_map_location'}%>
    <h1>SocialStreet</h1>
    <%= link_to "Apply", {'data-role' => 'button', 'data-theme' => 'e', 'id' => 'apply_map_params', 'onclick' => "form.submit()" }%>
  </div>

  <script type="text/javascript">

    var map_center = '<%=users_current_location_string()%>';
    var geocoder = new google.maps.Geocoder();
    var exploreMap;

    $('#map-view-explore').live("pagecreate", function() {

      $('#explore_map_canvas').gmap(
      {'center': map_center, 'zoom': 15, 'disableDefaultUI': true
      }).bind('init', function(event, map) {
        exploreMap = $('#explore_map_canvas').gmap('get', 'map');
        addMarkersForExploreResults();
        //$('#explore_map_infobox_buttons').hide();
        $('#explore_event_details').hide();
        $('#map_search_box').hide();
        $('#explore_event_name').hide();

        google.maps.event.addListener(exploreMap, 'zoom_changed', changeExploreLocationParams);
        google.maps.event.addListener(exploreMap, 'dragend', changeExploreLocationParams);
      });

    });

  
    $('#explore_change_map_address').live("keydown", function(e) {
      if (e.keyCode == 13) {
        e.stopPropagation();
        $(this).blur();
        $('#map_search_box').hide();
        changeMapLocation(e);
        return false;
      }
      return true;
    });

    $('#change_map_location').live("click", function() {
      event.preventDefault();
      $('#explore_change_map_address').val('');
      $('#map_search_box').toggle();
    })

    $('#apply_search_params').live("click", function() {
      event.preventDefault();
      form.submit();
    })

    function changeMapLocation(e, latLng) {
      if(latLng == null) {
        var loc = e.target.value;
        geocoder.geocode({address: loc}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK) {
            exploreMap.setCenter(results[0].geometry.location);
            changeExploreLocationParams();
            addMarkersForExploreResults();
            
          }
          else if (status == google.maps.GeocoderStatus.ZERO_RESULTS) {
            //$('#location-not-found').show();
            alert('No Locations Found!');
          }
        });
      }
      else if(latLng != null) {
        exploreMap.setCenter(latLng);
        changeExploreLocationParams();
        //$('#location-not-found').hide();
      }
    }

    function changeExploreLocationParams(event) {
      setTimeout(function() {
        var zoom = 15;
        $('#explore_map_zoom').val(zoom);

        bounds = exploreMap.getBounds();
        ne = bounds.getNorthEast();
        sw = bounds.getSouthWest();
        c = bounds.getCenter();

        console.log(bounds, ne, sw, c);

        $('#explore_map_bounds').val(ne.lat() + ',' + ne.lng() + ',' + sw.lat() + ',' + sw.lng());
        $('#explore_map_center').val(c.lat() + ',' + c.lng());
        updateUserLocation(c.lat(), c.lng(), false);

        addMarkersForExploreResults();

        if(history && history.replaceState)
          history.replaceState(null, null, getSearchParams());

        //setMapLocation("street_address");

        //refreshResults("explore");
      }, 20);
    }

    function getSearchParams() {
      var str = "?&map_bounds=" + $('#map_bounds').val() + "&map_center=" + $('#map_center').val() + "&map_zoom=" + $('#map_zoom').val() + "&from_date=" + $('#from_date').val() + "&selected_searchable=" + $('#selected_searchable').val();

      // TODO make this work with the top explore

      if($('[name="keywords\\[\\]"]').length > 0)
        str += "&" + $('[name="keywords\\[\\]"]').serialize();

      if($('[name="date_search\\[\\]"]').length > 0)
        str += "&" + $('[name="date_search\\[\\]"]').serialize();

      if($('#view').val() != "")
        str += "&view=" + $('#view').val();

      return str;
    }

    function showEventDetails(marker) {
        //$('#explore_event_details').show();
        //$('#event_name').html(marker.tags);
        //$('#event_buttons').html(" other stuff ");
        alert(marker.tags);

    }

    function addMarkersForExploreResults() {
      //Place pins on the map
<% (@searchables || []).each do |searchable| %>
  <% if searchable.geo_located? %>
        marker_center = "<%= searchable.location.latitude %>,<%= searchable.location.longitude %>";
        event_title = "<%= searchable.event.title %>";
        
        $('#explore_map_canvas').gmap('addMarker',
        {
          'position': marker_center,
          'draggable': false,
           'tags': event_title,
          'bounds': false
        }, function(map, marker) {
          $(marker).click(function() {
            console.log(marker.tags);
            showEventDetails(marker);
            //$('#explore_map_marker_title').html("<%= searchable.event.title %>");
            //$('#explore_map_infobox_buttons').show();
          });
        });
  <% end %>
<% end %>

  }
  </script>

  <div id="map_search_box">
      <input type="text" name="name" id="explore_change_map_address" value="" placeholder="Enter an Address or Use Map" />
  </div>

  <div id="explore_map_canvas"></div>

  <div id="explore_event_details">
    <div id="event_name"></div>
    <div id="event_buttons"></div>
  </div>

  <!--div data-role="content" data-theme="b"-->

    <!--div data-role="fieldcontain">
      <input type="text" name="name" id="explore_change_map_address" value="" placeholder="Enter an Address or Use Map" />
    </div-->


    <!--%= link_to "Change Location", '', {'data-icon' => 'refresh', 'data-role' => 'button', 'data-theme' => 'b', 'onclick' => "$('#explore_map_bounds').submit()"}%-->

    <!--div data-role="fieldcontain" id="explore_map_canvas">

    </div-->

    <!--div data-role="collapsible" data-collapsed="false" data-theme="d" id="explore_event_details">
      <h3>Event Details</h3>
      <p>
      <div id="explore_map_marker_title"></div>
      <fieldset class="ui-grid-a" id="explore_map_infobox_buttons">
        <div class="ui-block-a"><%= link_to "Attend", '#map-view-explore', {'data-role' => 'button', 'data-theme' => 'e', 'data-position' => 'inline'}%></div>
        <div class="ui-block-b"><%= link_to "Event Page", '#explore_filter', {'data-role' => 'button', 'data-theme' => 'a', 'data-position' => 'inline', 'data-rel'=>'dialog', 'data-transition' => 'pop'}%></div>
      </fieldset>


      </p>
    </div-->

    <%= form_tag({:controller => "explore", :action => "index"}, {:method => 'get'}) do |form|%>
      <%= hidden_field_tag 'map_bounds', params[:map_bounds], :id => 'explore_map_bounds' %>
      <%= hidden_field_tag 'map_center', params[:map_center], :id => 'explore_map_center' %>
      <%= hidden_field_tag 'map_zoom', params[:map_zoom], :id => 'explore_map_zoom' %>

    <% end %>

  <!--/div-->
</div>
