<% content_for :head do %>
  <meta name="description" content="SocialStreet makes it easy to discover friends that enjoy the same things as you! You can now easily connect with your own personalized community, no matter where you are."/>
<% end %>

<% content_for :left_side_pane do %>
  <div class="">
    <div id="explore_keyword_text_field_holder" class="keyword-text-field-holder">
      <%= text_field_tag 'keywords', params[:q], :type => "text", :title => "What?", :placeholder => " What do you want to do?", :id=>'explore_keyword_text_field', :class=>'keyword-text-field ie-placeholder' %>
    </div>
    <div id="results_container" class="expand-height scroll-pane show-scroll-on-hover" style="overflow: auto;">
      <div>
        <div id="results_list">
          <% unless @promoted_events.blank? %>
            <div id="smow_heading">StreetMeet of the Week</div>
            <div id="promoted_events" style="padding-top: 0px; border-bottom: 5px solid #4F4F4D;">
              <%= render(:partial => "/explore/results", :locals => {:results => @promoted_events}) %>
            </div>
          <% end %>
          <div id="search_results">
            <%= render :partial => "/explore/results", :locals => { :results => @events } %>
          </div>
        </div>
        <%= render :partial => "/explore/suggested_explore_actions" %>
      </div>
    </div>
  </div>
<% end %>

<% content_for :right_side_pane do %>
  <div id="explore_keyword_header" class="important-color text-shadow hidden invisible">Keywords</div>
  <div id="explore_keyword_tag_holder" class="keyword-tag-holder container">
    <ul id="keyword_tag_list">
      <li id="keyword_tag_stamp" class="keyword-tag explore-keyword-tag hidden">
        <div class="keyword-tag-icon explore-keyword-tag-icon"></div>
        <span class="keyword-tag-name explore-keyword-tag-name"></span>
        <%= image_tag('header-close.png', :class => 'remove-keyword-tag keyword-tag-remove explore-keyword-tag-remove') %>
      </li>
    </ul>
  </div>
<% end %>

<% content_for :center_pane do %>
  <div id="event_types_holder" class="hidden">
    <div id="event_types_scroller" class="scroll-pane include-vertical-bar">
      <ul>
        <li id="custom_event_type" class="event-type explore-event-type hidden">
          <div class="container rounded-corners-four">
            <div class="event-type-image explore-event-type-image rounded-corners-fifteen drop-shadow event-type-streetmeet2-small-sprite" data-event-type="streetmeet2"></div>
            <div class="event-type-name explore-event-type-name"></div>
          </div>
        </li>

        <% @event_types.each do |et| %>
          <li class="event-type explore-event-type <%="hidden synonym" if et.synonym_id != et.id%>">
            <div class="container rounded-corners-four">
              <%et_class = "#{sprite_class_name_for_event_type(et)}"%>
              <div class="event-type-image explore-event-type-image rounded-corners-fifteen drop-shadow event-type-<%=et_class%>-small-sprite" data-event-type="<%=et_class%>"></div>
              <div class="event-type-name explore-event-type-name">
                <%= et.name %>
              </div>
            </div>
          </li>
        <% end %>
        <% @all_groups.each do |group| %>
          <li class="event-type explore-event-type">
            <div class="container rounded-corners-four">
              <%group_class = "#{sprite_class_name_for_group(group)}"%>
              <div class="event-type-image explore-event-type-image rounded-corners-fifteen drop-shadow event-type-<%=group_class%>-small-sprite" data-event-type="<%=group_class%>"></div>
              <div class="event-type-name explore-event-type-name">
                <%= group.name %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<%= form_tag explore_path, :remote => true, :method => :get, :id => "explore_search_params" do %>
  <%= hidden_field_tag 'map_bounds', params[:map_bounds] %>
  <%= hidden_field_tag 'map_center', params[:map_center] %>
  <%= hidden_field_tag 'map_zoom', params[:map_zoom] %>
  <%= hidden_field_tag 'selected_results', params[:selected_results]%>
  <%= hidden_field_tag 'reorder_results', params[:reorder_results]%>
<% end %>


<%= hidden_field_tag "on_explore", "true" %>

<%= javascript_include_tag 'site_specific/explore' %>

<% unless params[:keywords].blank? %>
  <script type="text/javascript">
  <% for keyword in params[:keywords] %>
    addKeyword('<%= u keyword %>', false);
  <% end %>
  </script>
<% end %>