<div id="header">
  <div class="holder">
    <h1 class="logo"><%= link_to "Social Street", root_path -%></h1>
    <%= form_tag "/explore", :method => :get, :class=>"form-explore", :id => "top_explore_form" do %>
      <fieldset>
        <%= submit_tag "Explore", :value=>"Explore", :title=>"Explore", :class=>"submit"%>
        <span class="text">
          <%= text_field_tag 'keywords[]', params[:q], :id=>"q-textfield", :placeholder => "Do something today..." %>
        </span>
      </fieldset>
    <% end %>
    <%= link_to_popup_modal_ajax  'Add Activity', 'Add a new Activity', 'empty_modal_base', new_event_path(:js), nil, nil, :class => "btn-add"  %>
    <ul class="nav-serv">

      <li><%= link_to 'How it works', how_path, :id=>"how_it_works" %></li>

      <% if user_signed_in? %>
        <li class="link-login">
          <%= link_to current_user.try(:name), profile_path(current_user) %>
          <ul>
            <li><%=link_to "Settings", edit_profile_path(current_user) %></li>
            <li><%=link_to "Dashboard", dashboard_path %></li>
            <li><%=link_to "Sign Out", destroy_user_session_path, :class => "logout"%></li>
          </ul>
        </li>

      <% else %>
                <!--<li><%#= link_to 'Sign in', [:new, :user_session] %></li>-->
        <li><%= link_to "Sign in", '/auth/facebook'%></li>
      <%- end -%>
    </ul>

    <div class="video-box" style="display:none">
      <div class="vb">
        <div class="video-holder">
          <img width="520" height="240" src="/images/img16.png" alt="image description"/>
        </div>
        <div class="text">
          <strong class="ttl">How it works</strong>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed rhoncus orci. Quisque posuere elit sed erat vulputate sed mollis odio lobortis. Sed dui elit, cursus eu dignissim vestibulum, porttitor id lectus. Mauris suscipit nisi at urna eleifend luctus. </p>
        </div>
        <a href="#" id="how_btn_close" class="btn-close">close</a>
      </div>
      <strong class="note">Do something</strong>
      <%= form_tag "/explore", :method => :get, :class=>"form-explore" do %>
        <fieldset>
          <%= submit_tag "Explore", :value=>"Explore", :title=>"Explore", :class=>"submit"%>
          <span class="text">
            <%= text_field_tag 'keywords[]', params[:q], :id=>"q-textfield", :placeholder => "Do something today..." %>
          </span>
        </fieldset>
      <% end %>
    </div>
  </div>
</div>

<%= content_for :popup_modals do -%>
  <div id="empty_modal_sidebar" class="pop-up pop-up-modal pop-up-modal_ajax" style="display:none;">
    <div class="pop-up1 pop-up2">
      <div class="heading">

        <strong>
          <span id="modal-title">#</span>
        </strong>

        <%= link_to "close", '#', :class => "btn-close" -%>

        <div class="col-facebook facebok-checkbox-in-header" style="float:right;display:none">
          <label for="facebook" style="height:16px;margin:0 100px 0 0">
            <input type="checkbox" title="facebook" checked style="padding: 0 100px 0 0;"/>
          </label>
        </div>

      </div>

      <div class="content">
        <div class="pop-up1-content ajax-main-content">
          <%=image_tag("load.gif", :style => "margin-left:auto;margin-right: auto;display: block;")%>
          <!--Add Ajax Main Content here-->
        </div>
      </div>

      <div class="row-btn save-button-at-bottom" style="display:none;width:auto;margin:0;border-top-style:solid;border-top-width:1px">
        <%= submit_tag "Continue", :class => "btn save-modal-button" -%>
        or <a href="#" class="link-close">cancel</a>
      </div>

    </div>
    <div class="day-detail friend ajax-sidebar-content">
      <!--Add Ajax Sidebar Content here-->
    </div>
  </div>

  <div id="empty_modal_base" class="pop-up pop-up-modal pop-up-modal_ajax" style="display:none">
    <div class="pop-up1">
      <div class="heading">

        <strong>
          <span id="modal-title">#</span>
        </strong>

        <%= link_to "close", '#', :class => "btn-close" -%>

        <div class="col-facebook facebok-checkbox-in-header" style="float:right;display:none">
          <label for="facebook" style="height:16px;margin:0 100px 0 0">
            <input type="checkbox" title="facebook" class="facebook-checkbox" checked style="padding: 0 100px 0 0;"/>
          </label>
        </div>

      </div>

      <div class="content content1">
        <div class="pop-up1-content ajax-content">
          <!--Ajax add content here-->
        </div>
      </div>

      <div class="row-btn save-button-at-bottom" style="display:none;margin:0;border-top-style:solid;border-top-width:1px">
        <%= submit_tag "Continue", :class => "btn save-modal-button" -%>
        or <a href="#" class="link-close">cancel</a>
      </div>
    </div>
  </div>

  <% unless params[:create_event].blank? %>
    <script>
      $(function(){
        popup_modal_ajax('#empty_modal_base', 'Add a new Activity', '<%=new_event_path(:js)%>', null);
      });
    </script>
  <% end %>

  <%- if @current_user && @current_user.sign_in_count < 5 -%>
    <script>
      expandHowItWorks();
    </script>
  <%- end -%>

<%- end -%>

<!-- This is already included in the header -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

