<div id="header">
  <div class="holder">
    <div style="float:left;width:100%;">
      <h1 class="logo nav-link" data-ajax-href="<%= root_path %>"></h1>

      <div id="add_streetmeet_btn" class="btn btn-important-color nav-link" data-ajax-href="<%= new_event_path %>">
        +StreetMeet
      </div>
      <!--<div id="notify_me_btn" class="btn btn-not-important-color">
        Notify Me
      </div>-->
      <div id="explore_btn" class="btn btn-not-important-color nav-link <%= "hidden" if current_page?(root_path)%>" data-ajax-href="<%= root_path %>">
        Explore
      </div>

      <!--      <div class="btn btn-not-important-color">
              +Message
            </div>
            <div class="btn btn-not-important-color">
              Filter
            </div>-->

      <div id="log_button" class="btn btn-not-important-color" style="float:right;" data-href='<%= user_signed_in? ? destroy_user_session_path : "/auth/facebook" %>'>
        <%= user_signed_in? ? "Sign out" : "Sign In" %>
      </div>

    </div>
  </div>
</div>
