<div class="holder">
  <div style="float:left;width:100%;">
    <%= image_tag('/images/ss_site_logo.png', :class=>"logo nav-link", "data-ajax-href"=>root_path) %>

    <%= image_tag('explore-btn.png', :class=>"nav-link remove-how-it-works", "data-ajax-href" => root_path, :style=>"margin-right:10px;") %>
    <%= image_tag('plan-btn.png', :class=>"nav-link remove-how-it-works", "data-ajax-href" => new_event_path) %>

    <div class="header-right <%= "not-signed" unless user_signed_in? %>">
      <% if user_signed_in? %>
        <div id="how_it_works_btn" class="remove-how-it-works">
          What is SocialStreet?
        </div>

        <div id="signed_in_holder">
          <div><%= avatar(current_user, :size => "30x30", :class=>'drop-shadow skip-hovercard') %></div>
          <div id="signed_in_button">
            <span id="current_user_name">
              <%=current_user.name%>
            </span>
            <ul class="drop-shadow">
              <li><%=link_to "Settings", edit_profile_path(current_user) %></li>
              <li><%=link_to "Sign Out", destroy_user_session_path%></li>
            </ul>
          </div>
        </div>
      <% else %>
        <div id="signin_button" data-href='/auth/facebook'>
          <%= image_tag("sign-in-logo.png", :id =>"" , :class => "sign-in-ribbon", :style => "float: right; position: absolute; top: -38px;") %>
        </div>
        <div style="float:right;margin-top:-10px;">
          <% users = User.where('users.sign_in_count > 0') %>
          <p style="color:white;font-size:10px;font-weight:bold;">
            Neighborhood Connections
            <span style="color:#FFC233;">(<%=users.count + 2000%>)</span>
          </p>
          <ul>
            <% users.offset(rand(users.count) - 6).limit(6).all.each do |u| %>
              <li style="float:left;margin: 1px 2px 0 0;">
                <%= avatar u, :size => '29x29', :gravity => 'ne'%>
              </li>
            <% end %>
          </ul>
        </div>
        <!--div class="fb-facepile-container" style="float:right;margin-top:-10px;display:none;">
          <p style="color:#FFC233;font-size:10px;">Already on SocialStreet</p>
          <div style="height:35px;overflow:hidden;width:175px">
            <div class="fb-facepile" data-size="small" data-width="1000" data-max-rows="1" style="bottom:25px;"></div>
          </div>
        </div-->
        <div class="how-it-works hidden" style="margin-top:7px;">
          <%= image_tag "sign-in-arrow.png", :style => "margin-right: 5px; float: right;" %>
          <span class="chalk" style="margin-right: 5px; float: right;">Sign in with Facebook</span>
        </div>
      <% end %>
    </div>
  </div>
</div>