<div id="header">
  <div class="holder">
    <h1 class="logo"><%= link_to "Social Street", root_path -%></h1>
    <%= form_tag "/explore", :method => :get, :class=>"form-explore", :id => "top_explore_form" do %>
      <fieldset>
        <%= submit_tag "Explore", :value=>"Explore", :title=>"Explore", :class=>"submit"%>
        <span class="text">
          <%= text_field_tag 'keywords[]', params[:q], :id=>"q-textfield", :placeholder => "Do something today...", :class => 'top-explore-field' %>
        </span>
      </fieldset>
    <% end %>
    <%= link_to_popup_modal_ajax  '+StreetMeet', 'Plan a new StreetMeet', 'empty_modal_base', new_event_path(:js), nil, nil, :class => "btn-add top-btn-add"  %>
    <ul class="nav-serv">

      <li><%= link_to 'How this works', how_path, :id=>"how_it_works" %></li>

      <% if user_signed_in? %>
        <li class="link-login">
          <%= link_to current_user.try(:name), profile_path(current_user) %>
          <ul>
            <li><%=link_to "Home", dashboard_path %></li>
            <li><%=link_to "Explore", explore_path %></li>
            <li><%=link_to "Settings", edit_profile_path(current_user) %></li>
            <li><%=link_to "Sign Out", destroy_user_session_path, :class => "logout"%></li>
          </ul>
        </li>

      <% else %>
                                                                        <!--<li><%#= link_to 'Sign in', [:new, :user_session] %></li>-->
        <li><%= link_to "Sign in", '/auth/facebook'%></li>
      <%- end -%>
    </ul>

    <div class="video-box" style="display:none">
      <div class="vb">
        <div class="video-holder">
          <%= image_tag "icons.png", :alt => "SocialStreet Icons" %>
        </div>
        <div class="text header-content">
          <strong class="ttl" style="font-size: 26px;">
            <span style="color: #FE6">Explore</span>
            Real
            <span style="color: #FE6">Life.</span>
          </strong>
          <p style="margin-bottom: 50px;">
            Find things to do in your city with other people who want to do the same. <br />
            It's now easy to connect with other people around you in real life for any reason <br />
            because on SocialStreet, the world is your friend.
          </p>
          <strong class="ttl">
            What is <span style="color: #FE6">StreetMeet</span>?
          </strong>
          <p>
            A StreetMeet is a real life activity you can plan, browse, and attend on SocialStreet. <br />
            It can be something that is either more fun or more practical with other people.
          </p>
        </div>
        <a href="#" id="how_btn_close" class="btn-close">close</a>
      </div>
      <div style="margin-left: 150px;">
        <span class="header-happening chalk">See what's happening in your neighbourhood.</span><br />
        <%= image_tag "explore-arrow.png", :style => "width: 18px; display: inline; float: left; position: relative; top: -15px;" %>
        <%= form_tag "/explore", :method => :get, :class=>"form-explore" do %>
          <fieldset>
            <%= submit_tag "Explore", :value=>"Explore", :title=>"Explore", :class=>"submit"%>
            <span class="text">
              <%= text_field_tag 'keywords[]', params[:q], :id=>"q-textfield", :placeholder => "Do something today...", :class => "top-explore-field" %>
            </span>
          </fieldset>
        <% end %>
      </div>
      <%= link_to_popup_modal_ajax  '+StreetMeet', 'Plan a new StreetMeet', 'empty_modal_base', new_event_path(:js), nil, nil, :class => "btn-add"  %>

    </div>
  </div>
</div>

<%= content_for :popup_modals do -%>
  <div id="empty_modal_sidebar" class="pop-up pop-up-modal pop-up-modal_ajax" style="display:none;">
    <div class="pop-up1 pop-up2">
      <div class="heading">

        <strong>
          <span id="modal-title">#</span>
        </strong>

        <%= link_to "close", '#', :class => "btn-close" -%>

        <div class="col-facebook facebook-checkbox-in-header" style="float:right;display:none">
          <label for="facebook" style="height:16px;margin:0 100px 0 0">
            <input type="checkbox" title="facebook" class="facebook-checkbox" checked style="padding: 0;"/>
          </label>
          <div style="font: bold 12px/17px Arial, Helvetica, sans-serif; float: right; margin: -20px 80px 0px -100px; color: white">Post to Facebook</div>
        </div>

      </div>

      <div class="content">
        <div class="pop-up1-content ajax-main-content">
          <%=image_tag("load.gif", :style => "margin-left:auto;margin-right: auto;display: block;")%>
          <!--Add Ajax Main Content here-->
        </div>
      </div>

      <div class="row-btn save-button-at-bottom" style="display:none;width:auto;margin:0;border-top-style:solid;border-top-width:1px">
        <%= submit_tag "Continue", :class => "btn save-modal-button", :disable_with => "Please wait..."%>
        or <a href="#" class="link-close">cancel</a>
      </div>

    </div>
    <div class="day-detail friend ajax-sidebar-content">
      <!--Add Ajax Sidebar Content here-->
    </div>
  </div>

  <div id="empty_modal_base" class="pop-up pop-up-modal pop-up-modal_ajax" style="display:none;">
    <div class="pop-up1">
      <div class="heading">

        <strong>
          <span id="modal-title">#</span>
        </strong>


        <%= link_to "close", '#', :class => "btn-close" -%>

        <div class="col-facebook facebook-checkbox-in-header" style="float:right;display:none">
          <label for="facebook" style="height:16px;margin:0 100px 0 0">
            <input type="checkbox" title="facebook" class="facebook-checkbox" checked style="padding: 0;"/>
          </label>
          <div style="font: bold 12px/17px Arial, Helvetica, sans-serif; float: right; margin: -20px 80px 0px -100px; color: white">Post to Facebook</div>
        </div>

      </div>

      <div class="content content1">
        <div class="pop-up1-content ajax-content">
          <%=image_tag("load.gif", :style => "margin-left:auto;margin-right: auto;display: block;")%>
          <!--Ajax add content here-->
        </div>
      </div>

      <div class="row-btn save-button-at-bottom" style="display:none;margin:0;border-top-style:solid;border-top-width:1px">
        <%= submit_tag "Continue", :disable_with => "Please wait...", :class => "btn save-modal-button", :onclick => "saveModalClicked(this);" -%>
        or <a href="#" class="link-close">cancel</a>
      </div>
    </div>
  </div>

  <div id="feedback_modal" class="pop-up pop-up-modal" style="display:none;">
    <div class="pop-up1">
      <div class="heading">

        <strong>
          <span>Send us your thoughts!</span>
        </strong>

        <%= link_to "close", '#', :class => "btn-close" -%>

      </div>

      <div class="content content1">
        <div class="pop-up1-content">
          We'd love to hear from you. Send us your complaints, suggestions and/or stories (nothing would make our day like hearing how SocialStreet has helped people connect!)
          <br/><br/>
          <%= form_for :email, :url => '/contact', :html => {:class => "modal-submit-form form", :onclick => ""}, :remote => true do |f| %>
            <div class="row">
              <%= f.label :name %>
              <%= f.text_field :name, :size => 60, :class=>"text" %>
            </div>

            <div class="row">
              <%= f.label :body %><br />
              <%= f.text_area :body, :rols => 5, :cols => 60, :class=>"text" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="row-btn" style="margin:0;border-top-style:solid;border-top-width:1px">
        <%= submit_tag "Continue", :class => "btn save-modal-button", :disable_with => "Please wait...", :onclick => "saveModalClicked();removeModal($(this).closest('.pop-up-modal'));" -%>
        or <a href="#" class="link-close">cancel</a>
      </div>
    </div>
  </div>


<% end %>

<%= content_for :end_of_body do -%>
  <script type='text/javascript'>
  <% unless params[:create_event].blank? %>
    $(function(){
      popup_modal_ajax('#empty_modal_base', 'Plan a new StreetMeet', '<%=new_event_path(:js)%>', null);
    });
  <% end %>

  <%- if(!@current_user &&  current_page?(explore_path) && (!session[:how_it_works_last_display_time] || (Time.zone.now - session[:how_it_works_last_display_time] > 30.minute)))-%>
    <% session[:how_it_works_last_display_time] = Time.zone.now %>
    expandHowItWorks();

    $(function(){

      var IE7 = (navigator.appVersion.indexOf("MSIE 7.")==-1) ? false : true;
      if(IE7) {
        // Hack fix for position in IE7
        //$('.main-top').css('height', '77px');
        //$('.main-top .holder').css('background', '');
      }
    });

  <% else %>
    <%- if params[:view].eql?("map") %>
      $('.w2').addClass('page-map');
      $('html').css('overflow', 'hidden');

    <%- elsif params[:view].eql?("map") %>
      $('.w2').addClass('page-explore');
    <%- end -%>
  <%- end -%>
  </script>
<%- end -%>


<!-- This is already included in the header -->
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>

<script type='text/javascript'>

  var keywordsJsonURL   = "<%= event_types_path(:format => :json) %>";
  
  // local key/val cache so if it does ajax json for "ba", it caches the result the first time.
  // So if user types "ba" again it uses the local cache instead of doing another AJAX request - KV
  var cache = {},
  lastXhr;var IE7 = (navigator.appVersion.indexOf("MSIE 7.")==-1) ? false : true;
  if(IE7) {
    // Hack fix for position in IE7
    $('.main-top').css('height', "77px");
    $('.main-top .holder').css('background', '');
  }

  function saveModalClicked(elem) {
    if($('#submit_form').length)
      $('#submit_form').val("true");
    return true;   
  }

  $(function() {

    if($('.link-login').width() > 100) {
      var topLinkWidth = $('.link-login').width();
      var topExploreWidth = $('.top-explore-field').width();
      var newWidth = topExploreWidth - (topLinkWidth - 100);
      $('.top-explore-field').width(newWidth);
      $('.top-explore-field').closest('.text').width(newWidth);
    }

    $('.facebook-checkbox').change(function(e){
      $('#post-to-facebook').val($(this).attr('checked') ? '1' : '0');
    });

    $( ".top-explore-field" ).autocomplete({
      minLength: 1,
      delay: 100,
      autofill: true,
      source: function( request, response ) {
        var term = request.term;
        //if ( term in cache ) {
        //   response( cache[ term ] );
        //    return;
        //}
        // TODO: Re-enable the code above!!
        lastXhr = $.getJSON( keywordsJsonURL, request, function( data, status, xhr ) {
          if(data.indexOf(term) < 0)
            data.unshift(term.toString());

          cache[ term ] = data;

          if ( xhr === lastXhr ) {
            response( data );
          }
        });
      },
      select: function( event, ui ) {
        $('.top-explore-field').val(ui.item.value);
        console.log('autocomplete submitted');
        $('#top_explore_form').submit();
        return false;
      },
      html: true
    });
  });
</script>
