<div id="header">
  <div class="holder">
    <h1 class="logo"><%= link_to "Social Street", root_path -%></h1>
    <form action="#" class="form-explore">
      <fieldset>
        <input type="submit" value="Explore" title="Explore" class="submit" onclick="window.location='/explore'; return false;" />
        <span class="text"><input title="Basketball" value="Basketball" /></span>
      </fieldset>
    </form>
    <%= link_to_popup_modal "Add Activity", "create-event", :class => "btn-add" -%>
    <ul class="nav-serv">
      <li class="<%= 'active' if @on_how_it_works %>"><%= link_to 'How it works', how_path %></li>
      <% if user_signed_in? %>
        <li><%= link_to t("web-app-theme.logout", :default => "Logout"), destroy_user_session_path, :class => "logout" %></li>
      <% else %>
  <!--<li><%= link_to 'Sign in', [:new, :user_session] %></li>-->
        <li><%= link_to "Sign in", '/auth/facebook'%></li>
      <%- end -%>
    </ul>
  </div>
</div>


<div id="create-event" class="pop-up1" style="display:none">
  <div class="heading">
    <strong>Add a new activity</strong>
    <%= link_to "close", '#', :class => "btn-close" -%>
  </div>
  <div class="pop-up1-content">    
    <%= render :template => "events/new" -%>
  </div>
</div>