<div id="header">
  <div class="holder">
    <div style="float:left;width:100%;">
      <h1 class="logo nav-link" data-ajax-href="<%= root_path %>"></h1>

      <div id="add_streetmeet_btn" class="btn btn-important-color nav-link" data-ajax-href="<%= new_event_path %>">
        +StreetMeet
      </div>
      <!--<div id="notify_me_btn" class="btn btn-not-important-color">
        Notify Me
      </div>-->
      <div id="explore_btn" class="btn btn-not-important-color nav-link <%= "hidden" if current_page?(root_path)%>" data-ajax-href="<%= root_path %>">
        Explore
      </div>


      <div id="explore_keyword_text_field_holder">
        <%= text_field_tag 'keywords', params[:q], :type => "text", :title => "What?", :placeholder => "What do you want to do?", :id=>'explore_keyword_text_field' %>
      </div>
      <!--      <div class="btn btn-not-important-color">
              +Message
            </div>
            <div class="btn btn-not-important-color">
              Filter
            </div>-->

      <% if user_signed_in? %>
        <div id="signed_in_button">
          <%=image_tag "user_outline.png", :size => "40x40", :id=>'user_signed_in_btn'%>
          <ul class="drop-shadow">
            <!--<li><%#=link_to "Settings", '#' %></li>-->
            <li><%=link_to "Sign Out", destroy_user_session_path%></li>
          </ul>
        </div>
        <span id="current_user_name">
          <%=current_user.name%>
        </span>
      <% else %>
        <div id="log_button" class="btn btn-not-important-color" style="float:right;margin-bottom: 9px;" data-href='/auth/facebook'>
          Sign In
        </div>
      <% end %>
    </div>
  </div>
</div>
