<div class="holder">
  <div style="float:left;width:100%;">
    <%= image_tag('/images/ss_site_logo.png', :class=>"logo nav-link", "data-ajax-href"=>root_path) %>

    <%= image_tag('explore-btn.png', :class=>"nav-link remove-how-it-works", "data-ajax-href" => root_path, :style=>"margin-right:10px;") %>
    <%= image_tag('plan-btn.png', :class=>"nav-link remove-how-it-works", "data-ajax-href" => new_event_path) %>

    <div class="header-right">
      <div id="how_it_works_btn" class="remove-how-it-works">
        What is SocialStreet?
      </div>

      <% if user_signed_in? %>

        <div><%= avatar(current_user, :size => "30x30", :class=>'drop-shadow') %></div>
        <div id="signed_in_button">
          <span id="current_user_name">
            <%=current_user.name%>
          </span>
          <ul class="drop-shadow">
            <!--<li><%#=link_to "Settings", '#' %></li>-->
            <li><%=link_to "Sign Out", destroy_user_session_path%></li>
          </ul>
        </div>
      <% else %>
        <div id="signin_button" data-href='/auth/facebook'>
          <%= image_tag("sign-in-logo.png", :id =>"header_signin_button" , :class => "sign-in-ribbon nav-link", :style => "float: right; position: absolute; top: -38px;", "data-href" => '/auth/facebook') %>
        </div>
        <div class="how-it-works hidden" style="margin-top:7px;">
          <%= image_tag "sign-in-arrow.png", :style => "margin-right: 5px; float: right;" %>
          <span class="chalk" style="margin-right: 5px; float: right;">Sign in with Facebook</span>
        </div>
      <% end %>
    </div>
  </div>
</div>
