<!DOCTYPE html>
<html>
  <head>
    <title>SocialStreet <%= " - #{truncate(@page_title, :length => 30)}" if @page_title %></title>
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag :all, 'mobiscroll-1.5.css', 'jquery.jscrollpane', 'fullcalendar'%>
    <!--[if lte IE 9]><link href="/assets/ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <!--[if lt IE 8]><link href="/assets/ie7.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->
    <%= javascript_include_tag 'jquery-1.5.1.js', 'jquery-ui-1.8.16.custom.min', 'application', 'rails.js', 'mobiscroll-1.5.js', 'http://maps.google.com/maps/api/js?v=3.5&sensor=false', 'site_specific/main_map', 'ss_MarkerManager', 'ss_pageless', 'jScrollPane/jquery.jscrollpane', 'jScrollPane/jquery.mousewheel', 'jScrollPane/mwheelIntent' %>

    <%= yield :head %>
  </head>
  <body>
    <div id="wrapper">
      <div class="w1">
        <%= render 'layouts/header' %>
        <div id="wrapper" class="wat-cf">
          <div id="main">            
            <div id="current_overlay" class="overlay-group">
              <%= yield %>
            </div>            
          </div>
        </div>
      </div>
    </div>
    <div class="map-holder">
      <div id="location-map" class="map-frame" style="position: absolute; top: 0; bottom: 0; left: 0; right: 0; z-index: 0;"></div>
    </div>
    <div id="footer">
      <ul style="float:left">
        <!--<li><%#= link_to "About", '#' -%></li>-->
        <li><%= mail_to 'jobs@SocialStreet.com', "Jobs" -%> | </li>
        <li><span class="nav-link" data-ajax-href="<%= show_tnc_authentications_path %>">Terms</span> | </li>
        <li><span class="nav-link" data-ajax-href="<%= show_privacy_authentications_path %>">Privacy</span> | </li>
        <li><%= mail_to 'pr@SocialStreet.com', "Media" -%> | </li>
        <li><span style="font: normal normal bold 12px/14px Arial, Helvetica, sans-serif;">SocialStreet &#169; 2011</span></li>
      </ul>
    </div>
  </body>
</html>
