<!DOCTYPE html>
<html>
  <head>
    <title>SocialStreet <%= " - #{truncate(@page_title, :length => 30)}" if @page_title %></title>
    <%= stylesheet_link_tag "/jquery-ui-1.8.11.custom/css/smoothness/jquery-ui-1.8.11.custom.css", "/assets/common.css", :cache => "socialstreet" -%>
    <!--[if lt IE 9]><link rel="stylesheet" type="text/css" href="/stylesheets/ie.css" media="screen"/><![endif]-->
    <!--[if lt IE 8]><link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" media="screen"/><![endif]-->
    <%= csrf_meta_tag %>
    <%= favicon_link_tag %>

    <%= javascript_include_tag 'jquery-1.5.1', 'rails', "/jquery-ui-1.8.11.custom/js/jquery-ui-1.8.11.custom.min.js" %>

    <meta property="og:title" content="<%= @og_title || "SocialStreet" %>" />
    <meta property="og:type" content="<%= @og_type || "website" %>" />
    <meta property="og:url" content="<%= @og_url || request.url %>" />
    <meta property="og:image" content="<%= @og_image || 'http://staging.socialstreet.com/images/app_icon_facebook.png' %>" />
    <meta property="og:site_name" content="SocialStreet" />
    <meta property="og:description" content="<%= @og_description || 'SocialStreet mission is to make it easy to discover friends (new or old) that enjoy the same things as you! By attending and organizing "StreetMeets", you are sure to discover that you are surrounded by people just like you!'%>" />
    <meta property="fb:app_id" content="<%=FACEBOOK_APP_ID%>" />

    <%= yield :head %>
  </head>
  <body>
    <div style="background-color:#69B2D7;color:white;font: normal normal bold 18px/25px Arial, Helvetica, sans-serif;padding:7px;display:block !important;position:fixed;left:-30px;top:45%;z-index:1000;-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);">
      <%= link_to_popup_modal "Feedback", "feedback_modal", :class => "btn-view", :style=>"text-decoration:none;color:white"%>
    </div>
    <input type="hidden" id="users-current-location" name="users-current-location" value="<%=users_current_location_string()%>"/>
    <div id="wrapper">
      <div class="w1">
        <div class="w2">
          <%= render 'layouts/header' %>

          <%= yield :popup_modals -%>
          <div id="wrapper" class="wat-cf">
            <div id="main">
              <div class="main-top">
                <div class="holder">
                  <%= render 'layouts/flash_notices' -%>
                  <%= yield :main_top %>
                </div>
              </div>
              <div class="holder">
                <div id="content">
                  <%= yield %>
                </div> <!-- End Content Div -->
                <div id="sidebar">
                  <%= yield :sidebar %>
                </div>                
              </div>
            </div> <!-- End Main Div -->
          </div>
        </div>

      </div>

      <%- unless current_page?(explore_path) -%>
        <div id="footer">
          <div class="footer-holder">
            <div class="footer-frame">
              <div class="footer-content">
                <ul class="add-nav">
                  <!--<li><%= link_to "About", '#' -%></li>-->
                  <li><%= mail_to 'jobs@SocialStreet.com', "Jobs" -%></li>
                  <li><%= link_to_popup_modal_ajax  'Terms & Conditions', 'Terms and Conditions', 'empty_modal_base', '/authentications/accept_tnc?display_only=true', nil, nil %></li>
                  <li><%= mail_to 'pr@SocialStreet.com', "Media" -%></li>
                </ul>
                <strong class="logo"><%= link_to "SocialStreet", root_path -%></strong>
              </div>
            </div>
          </div>
        </div>
      <%- end -%>
    </div>

    <%= javascript_include_tag '/assets/common.js' %>

    <%= yield :end_of_body  %>
    <div id="fb-root"></div>

    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script type='text/javascript'>
      FB.init({
        appId  : '<%= FACEBOOK_APP_ID %>',
        status : true, // check login status
        cookie : true, // enable cookies to allow the server to access the session
        xfbml  : true  // parse XFBML
      });

      $(function() {
        $('a[data-popup]').live('click', function(e) {
          window.open(this.href);
          e.preventDefault();
        });


<%- if current_page?(explore_path) -%>
      $(window).scroll(function() {
        if($(this).scrollTop() < 30){
          return;
        }

        retractHowItWorks(function() {

          if(typeof isScrolledIntoView == 'function' && !isScrolledIntoView('.short-box')) {
            return false;
          }
          $('.w2').removeClass('header-open');
  <%- if params[:view].eql?("map") %>
            $('.w2').addClass('page-map');
            $('body').css('overflow', 'hidden');
  <%- else %>
            $('.w2').addClass('page-explore');
  <%- end %>
        }); // End retractHowItWorks
      }); // End window.scroll
<%- end -%>

    $('.show-total-comment').live('click', function(){
      $(this).parent().siblings('.truncated-comment-body').hide();
      $(this).parent().siblings('.total-comment-body').show();
      $(this).parent().hide();

      return false;
    });

    $('.view-all-messages').live('click', function(){
      $.each($(this).parent().parent().siblings('.post-holder').children('.post-list').children('.post'), function(i,v){
        $(v).show();
      });

      $.each($(this).parent().parent().siblings('.post-holder').children('.post-list').children('.row-miss'), function(i,v){
        $(v).hide();
      });


      $(this).parent().hide()

      return false;
    });

    $('.textarea').live('change', function(e){
      if(this.value.length > 0){
        $(this).closest('.form-comment').submit();
        if($(this).attr('title') != '')
          $(this).height(24);
        else
          $(this).height(16);
        return false;
      }
    });
    $('.textarea').live('keydown', function(e) {
      if (e.keyCode == 13) {
        if(e.shiftKey != true){
          if(this.value.length > 0){
            $(this).closest('.form-comment').submit();
            if($(this).attr('title') != '')
              $(this).height(24);
            else
              $(this).height(16);
            return false;
          }
        }
      }
    });

    $('[name=\'comment[body]\']').live('focus', function() {
      $(this).autoResize({extraSpace: 0})
    });


    $('form.comment-form').live('ajax:beforeSend', function(e, xhr, settings)
    {
      $('.comment-box').fadeTo('fast', 0.3);
      return true;

    }).live('ajax:success', function(e, data, status, xhr)
    {
      $('.textarea').val('');

      $('.comment-box').fadeTo('slow', 1);

      var $list = $(this).parent().siblings('.post-list')
      if($list.length)
      {
        $(data).hide();
        $list.append($(data));
        $(data).slideUp('fast');
      }
      else{
        var $list = $('#action-list');
        var $elem = $(data).hide();
        $list.prepend($elem);
        $elem.slideDown('fast');
      }

    }).live('ajax:error', function(e, xhr, status, error)
    {
      if (xhr.status == 401) {
        window.location.href = '<%= new_user_session_path %>';
      }
      else {
        alert('Error occurred:' + error);
      }

      $('.comment-box').fadeTo('slow', 1);
    });
  })

    </script>
    <%= yield :fb_scripts %>

  </body>
</html>
