<!DOCTYPE html>
<html>
  <head>
    <title>SocialStreet</title>
    <%= stylesheet_link_tag "web-app-theme/base", "web-app-theme/themes/default/style", "web-app-theme/override" %>
    <%= csrf_meta_tag %>
    <%= yield :head %>
  </head>
  <body>
    <div id="container">
      <%= render 'layouts/header' %>
      <div id="box">
        <%= render 'layouts/flash_notices' %>
        <%= yield %>
      </div>
    </div>
    <%#= debug session %>
  </body>
</html>
